[2014-02-25 19:57] graphiclunarkid opened #1 "Menu bar on-hover background overlaps project title at some page widths"
If you reduce the browser width to the point where the PROJECT NAME title overlaps with the menu, but not so far that the menu becomes vertical, then hovering over the "check a site" or "unblock a site" menu options superposes a white box on top of part of the PROJECT NAME text.

![screenshot from 2014-02-25 19 56 47](https://f.cloud.github.com/assets/433456/2262176/06365eb2-9e57-11e3-96a6-1d18f97

[2014-02-25 20:08] #1 closed, assigned to nobody

[2014-03-07 15:31] RuthC opened #2 "Comments on new website layout"
Notes on:
https://dl.dropboxusercontent.com/u/12755204/blocked-org-uk/raw_html/index.html

Additional tabs/pages the website needs:
1. Donate
Join ORG/Donate button
2. News.
This would be our press releases/updates/'patches'/etc.
3. Should 'help us' be 'volunteer' or 'Get Involved'?
This would allow 2 separate asks located in different places: Giving time & Giving money.

Big fan of the turquoise

[2014-04-11 14:41] graphiclunarkid opened #3 "Match background colour to main org.org site"
Can we make the shade of red used throughout the site a bit darker? More like the current red in the background of ORG's website? I believe this is rgb(191, 32, 38);

[2014-04-11 14:46] graphiclunarkid opened #4 "JavaScript process-flow for submitting a URL to be checked"
Are the 3 submission forms going to be three consequetive responses within the page? So as I read it you should currently get a series of steps:
1. Check if a site is being censored. FORM --->
2. NEW FORM APPEARS. Response 'We've sent X site for testing, Now give us your email' --->
3. NEW FORM APPEARS. Response: 'Can you tell us more/submit your story?'
4. NEW RESPONSE: 'Thank you! Read the rest

[2014-04-11 14:48] graphiclunarkid opened #5 "Action on user submitting a URL to check then declining to submit an email address"
Can we have a 'no thank you' to submitting email address that still takes users to a 'Learn more about filtering' option?

[2014-04-11 14:50] graphiclunarkid opened #6 "Share URL submission button"
Can we have a button that shares 'I just submitted a site for checking with Blocked' or similar to various social media sites?

The share button section on https://www.dontspyonus.org.uk is a nice example.

[2014-04-11 14:51] graphiclunarkid opened #7 "Share test results button"
Can we have a button that shares blocking results to various social media sites?

e.g.  '.@everydaycensorship www.smilingcats.com blocked on BT'

The share button section on www.dontspyonus.org.uk is a nice example.

[2014-04-11 15:26] #2 closed, assigned to webal

[2014-04-11 15:39] graphiclunarkid opened #8 "FormSave fails on submission on staging server"
We need to get FormSave working on the main form on the home page. Not sure what's going on there - @webal's best guess to date is that the db it's using isn't created or permissions for it set up.

[2014-04-11 15:39] graphiclunarkid opened #9 "Send submitted URLs to API for checking"
Probably syncing the modX FormSave table with the API one on the server (will be different for staging/live)

[2014-04-11 15:47] graphiclunarkid opened #10 "Fetch historical results for a URL from the API"
We need a mechanism that can query the API for historical results for a URL so that they can be displayed on the website. Perhaps using a back-end PHP script to collect the results via the API and spit them out as JSON, then use JS to display the results in a table.

Issue #29 covers the front-end JS, display and styling. This issue covers the back-end mechanism for interfacing with the API.

[2014-04-11 15:48] graphiclunarkid opened #11 "We need to decide on a project name!"
We have been referring to either "blocked.org.uk" or the "censorship monitoring project". Other suggestions have included "everyday censorship" and "Hadrian's firewall".

If anyone has any comments or suggestions on this please add them to this thread.

[2014-04-11 15:50] graphiclunarkid opened #12 "Check a site page - content review"
The final copy for this page needs to be written. There is no existing copy on blocked.org.uk because this is a new page, however the "report" page (http://www.blocked.org.uk/) might have some useful words we can reuse.

We need to tell visitors that they're invited to submit a URL for checking and that our system will then send this to probes running on different networks to discover whether it i

[2014-04-11 15:52] graphiclunarkid opened #13 "Unblock a site page - content review"
The final copy for this page needs to be written and all placeholder content (lorum ipsum etc.) should be removed.

The existing page is at http://blocked.org.uk/complain

[2014-04-11 15:52] graphiclunarkid opened #14 "Personal stories page - content review"
The final copy for this page needs to be written. This is a new page so there is no previous content to incorporate. The header just needs to introduce the fact that the stories below are examples of how censorship is affecting people adversely.

[2014-04-11 15:53] graphiclunarkid opened #15 "The project page - content review"
The final copy for this page needs to be written. The existing content for this page is at http://blocked.org.uk/mobile-censorship. It needs to be updated with recent developments. All placeholder text (lorum ipsum etc.) must be removed from the new page.

[2014-04-11 15:53] graphiclunarkid opened #16 "Donate page - content review"
This page contains some of the same information as the Join ORG page at https://www.openrightsgroup.org/join/. It would be best if we could embed this part on blocked.org.uk but keep our site header and navigation. Then if ORG's contact details are updated we don't have to change them in two places.

We need to find out if this is possible in MODX and perhaps discuss with @JimKillock and @mkillock

[2014-04-11 15:53] graphiclunarkid opened #17 "Get involved page - content review"
The final copy for this page needs to be written. Current version is at http://blocked.org.uk/help. This will need updating to reflect version 2.0 and the development that will happen after this milestone. e.g. "Where we are" and "Where we want to go next" sections will both need replacing. Take a look at the github issues tagged as "enhancements" for the future development direction of the projec

[2014-04-11 15:54] graphiclunarkid opened #18 "Epic: Create news page using "articles" blogging engine"
ORG's main site uses the MODX extra [Articles](http://rtfm.modx.com/extras/revo/articles) for the local groups news pages (e.g. https://sheffield.openrightsgroup.org/). We should try to integrate "Articles" onto this news page so that the blogging engine is uniform across all ORG blogs. This would also allow us to display blocked.org.uk news posts on the main page and in our main RSS fees.

We cou

[2014-04-11 15:54] graphiclunarkid opened #19 "Contact page - content review"
This page is a duplicate of the main contact page for ORG at https://www.openrightsgroup.org/contact. It would be best if we could embed this page on blocked.org.uk but keep our site header and navigation. Then if ORG's contact details are updated we don't have to change them in two places.

We need to find out if this is possible in MODX and perhaps discuss with @JimKillock and @mkillock how best

[2014-04-11 15:57] graphiclunarkid opened #20 "Replace ORG logo images with hi-res versions"
We should get better copies of the ORG logo, either vector or hi-res jpeg/png, so that we can create versions that fit on our pages correctly.

[2014-04-11 15:58] graphiclunarkid opened #21 "Text for ORG header and footer"
Need to write copy for the header and footer (and / or decide which pages to link to)

[2014-04-11 15:59] graphiclunarkid opened #22 "Improved list of site categories"
We have a short list of fairly generic categories of site at the moment:
- Business
- Educational
- Charity
- Personal
- Government

What other categories should we list? These need to be added.

[2014-04-11 16:00] graphiclunarkid opened #23 "Initial set of personal stories"
We should include a few good personal stories from our existing reports archive.

We could use stories from ORG's 2012 [report into mobile blocking](https://www.openrightsgroup.org/ourwork/reports/mobile-internet-censorship:-whats-happening-and-what-we-can-do-about-it) - [raw data here](https://www.openrightsgroup.org/assets/files/files/BlockedReports.xls). It would be good to include some more re

[2014-04-11 16:02] graphiclunarkid opened #24 "Unblock info for home broadband providers"
The unblock page will need current "how to unblock a site" information for at least the big five broadband providers at launch:
- BT
- Sky
- TalkTalk
- VirginMedia
- Plusnet

[2014-04-11 16:02] graphiclunarkid opened #25 "Add a favicon to the site"
The site needs a favicon. We don't really have a logo for the project at the moment so for launch we should probably just use the same one as https://www.openrightsgroup.org/

[2014-04-11 16:03] graphiclunarkid opened #26 "Fallbacks for font sizes in rems"
Give pixel-based fall-back sizes for font sizes specified in rems.

[2014-04-11 16:04] graphiclunarkid opened #27 "Add MODX internal links"
Add relative links via MODX references (currently highlighted ****_like this**_*\* in page text)

[2014-04-11 16:05] graphiclunarkid opened #28 "Add footer links in using MODX when on live server"
We will need to replace relative anchors with MODX internal cross-references when porting to the live server.

[2014-04-11 16:06] graphiclunarkid opened #29 "Show results for submitted URL if they exist."
Submission of form goes to results page, which should show the results for the submitted URL if they exist.

Issue #10 deals with querying the API for the results data. This issue deals with the front end JS for triggering that mechanism as well as displaying and styling the data on the results page.

[2014-04-11 16:07] graphiclunarkid opened #30 "Images for social-media share links"
Form-submission success message could be styled better.

[2014-04-11 16:07] graphiclunarkid opened #31 "Donate page - tidy up buttons"
Tidy up PayPal, flatter, etc. buttons

[2014-04-11 16:08] graphiclunarkid opened #32 "Join / Donate call to action on results page"
Add a larger call to action for direct debit sign up, possibly including an ORG logo at top.

[2014-04-11 16:09] graphiclunarkid opened #33 "Review picture usage"
We could use a couple more pictures on site - eg raspberry pi on project page - but only where it adds to content.

Must make sure we have proper licenses for any images we do use.

[2014-04-11 16:09] graphiclunarkid opened #34 "Review heading levels"
Check H1 / H2 / H3 levels are all correct.

[2014-04-11 16:10] graphiclunarkid opened #35 "Get involved page - improve formatting"
Getting involved page to have prominent 'contact MP' box - or ideally form to email them directly.

[2014-04-11 16:11] graphiclunarkid opened #36 "Unblock a site page - navigation"
Add jump nav for ISPs in unblock page.

[2014-04-11 16:11] graphiclunarkid opened #37 "Personal stories page - drop quotes"
Experiment with drop quotes for more awesome.

[2014-04-11 16:12] graphiclunarkid opened #38 "Navigation - highlight current page"
Highlight current page in navigation

[2014-04-11 16:12] graphiclunarkid opened #39 "Personal stories page - quick contact form"
Add quick contact form to make it easier for people to submit their own stories right on the same page.

[2014-04-11 16:13] graphiclunarkid opened #40 "Unblock a site page - quick contact form"
Add quick contact form to make it easier for people to contact us directly from this page if they have trouble unblocking their site.

[2014-04-11 16:14] graphiclunarkid opened #41 "How to unblock your site page"
A page with a more in-depth description of the various techniques for preventing and correcting over- or underblocking (not just links to various ISP contact forms).

[2014-04-11 16:19] graphiclunarkid opened #42 "Contact your MP action"
Contact MP / take action stuff <- is there a page on ORG (or another site) where you enter your postcode and it gets your MP and a form to contact them like I've seen on some sites (38 degrees??) I think this would be good to make it easy to do. I've added in placeholder text for this on a couple of pages.

[2014-04-12 14:12] graphiclunarkid opened #43 "Migrate from dev to staging"
This issue is a placeholder for the process of migrating the next release from dev to testing.

We should revisit our solution to issue #8 at this time. As we progress we should add to this issue any more things we think we should consider as part of this process.

[2014-04-12 14:12] graphiclunarkid opened #44 "Migrate from staging to live"
This issue is a placeholder for the process of migrating the next release from staging to live.

We should revisit our solution to issue #8 at this time. As we progress we should add to this issue any more things we think we should consider as part of this process.

[2014-04-16 09:15] #25 closed, assigned to lewiscowper

[2014-04-24 12:38] #20 closed, assigned to graphiclunarkid

[2014-05-12 08:26] #9 closed, assigned to dantheta

[2014-05-20 18:53] #10 closed, assigned to dantheta

[2014-05-21 23:54] #11 closed, assigned to nobody

[2014-05-21 23:59] #8 closed, assigned to graphiclunarkid

[2014-05-22 12:02] graphiclunarkid opened #47 "Mitigate spam submissions through web front-end"
We are already starting to see spam introduced into our development server (example below) so I think we're going to have to consider adding a captcha (or another mechanism) to mitigate this.

-------- Original Message --------
Subject:    Blocked site
http://uk.news.yahoo.com/decaying-trees-may-key-mysterious-dune-holes-152010548.html#ytlmZnL
Date:   Sat, 17 May 2014 16:45:27 +0100
From:   <redac

[2014-05-26 20:14] webal opened #48 "Call to actions"
I was thinking of adding in a few chunks with CTAs like 'volunteer', 'call your MP', 'donate', etc I'll knock some examples up in a test page on the repo - If anyone has any suggestions for any let me know then then can be scattered around the site

[2014-05-26 22:55] webal opened #49 "Test submitted content review"
Message displayed once the main form is submitted (may overlap with 'check site' content).

Probably be worth having key calls to action on here as people who are worried about their site being blocked will be heading straight here.

[2014-05-27 10:27] #47 closed, assigned to nobody

[2014-05-27 11:34] #29 closed, assigned to mkillock

[2014-05-28 12:36] edjw opened #50 "Shouldn't need to type http:// manually to check a URL"
When you type in a Site or page to check if I type in openrightsgroup.org the Error "Please enter a URL" comes up and you have to type http://openrightsgroup.org for it to work.

http:// or http://www. should be prepended to domains.

[2014-05-28 15:38] #43 closed, assigned to nobody

[2014-05-28 19:00] #34 closed, assigned to nobody

[2014-05-28 19:50] #50 closed, assigned to nobody

[2014-05-29 14:15] #12 closed, assigned to nobody

[2014-05-31 13:38] graphiclunarkid opened #51 "Email address not mandatory when "please email me" check-boxes are set"
Reproduction steps:
1. Visit http://stage.blocked.org.uk/
2. Enter a URL to check.
3. Ensure the email address field is either blank or contains a string that is not a valid email address.
4. Set either or both of the following check boxes: "I'm happy for ORG to contact me if I have any questions" or "I'd like to join the ORG mailing list (view privacy policy)."
5. Submit the form.

Expected: vali

[2014-06-02 20:13] #15 closed, assigned to graphiclunarkid

[2014-06-02 20:20] #13 closed, assigned to graphiclunarkid

[2014-06-02 20:20] #24 closed, assigned to graphiclunarkid

[2014-06-02 20:26] #17 closed, assigned to graphiclunarkid

[2014-06-02 20:26] #49 closed, assigned to RuthC

[2014-06-03 20:27] #36 closed, assigned to nobody

[2014-06-03 20:28] #26 closed, assigned to nobody

[2014-06-03 20:57] #38 closed, assigned to webal

[2014-06-04 10:29] #37 closed, assigned to webal

[2014-06-09 11:07] #48 closed, assigned to webal

[2014-06-09 18:38] #6 closed, assigned to nobody

[2014-06-09 18:47] #35 closed, assigned to nobody

[2014-06-09 19:17] #14 closed, assigned to graphiclunarkid

[2014-06-09 20:27] #51 closed, assigned to mkillock

[2014-06-09 20:48] #21 closed, assigned to graphiclunarkid

[2014-06-09 21:03] webal opened #61 "analytics"
Presumably we'll be using Piwik, same as the current site? If so is there any reason not to cut and paste the code from there?
`html
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://bug.openrightsgroup.org/piwik/" : "https://bug.openrightsgroup.org/piwik/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text

[2014-06-09 21:52] #22 closed, assigned to graphiclunarkid

[2014-06-11 17:41] #5 closed, assigned to nobody

[2014-06-14 20:48] #44 closed, assigned to JimKillock

[2014-06-15 07:03] #61 closed, assigned to nobody

[2014-06-15 07:03] #28 closed, assigned to nobody

[2014-06-15 11:07] mkillock opened #63 "Fix various form bugs"
1. Can send a blank form it seems - thanks page
2. Need check for invalid arrival to 2nd thanks page - use formitretriever and a new snippet
3. Need check for filled in url or email fields on personal story page as a spam check

[2014-06-20 23:57] #27 closed, assigned to nobody

[2014-06-24 00:24] #3 closed, assigned to nobody

[2014-06-25 08:39] pamcowburn opened #64 "l"

[2014-06-25 09:42] #64 closed, assigned to nobody

[2014-06-30 14:16] #7 closed, assigned to nobody

[2014-06-30 15:24] #32 closed, assigned to nobody

[2014-06-30 20:20] #39 closed, assigned to graphiclunarkid

[2014-07-01 19:39] #30 closed, assigned to graphiclunarkid

[2014-07-02 15:59] Seldaek opened #65 "Show a summary chart of ISPs with censorship scores"
As [mentioned on twitter](https://twitter.com/NetworkString/status/484309623868882944), I think it would be a good way to get the point across if the homepage listed ISPs and their score. You already have the data so I assume it's not too hard to add.

Amazing dev-tools sketch below:

![image](https://cloud.githubusercontent.com/assets/183678/3458485/e62e6286-0201-11e4-8ea2-ad51723cd11b.png)

[2014-07-02 18:41] NetworksAreMadeOfString opened #66 "More site content options"
I've received feedback that the "Which of these (if any) best describes the site content? (optional)" are all "negative"

We should have some more neutral options such as "Blog, News site, personal, hobby, commercial etc.

[2014-07-03 11:55] NetworksAreMadeOfString opened #67 "Home Page Title"
"Report mobile and Internet Service Providers blocking sites | _Subpage Title_"

People are predominately querying if a site is blocked or checking on the results, the only user action that matches the "reporting" aspect is the "Tell us more" action.

Google SEO discourages prefixing all title tags with the same text, we should use "Open Rights Censorship Monitoring Project" for the landing page a

[2014-07-03 15:17] RuthC opened #68 "Blog post/ Update page"
When we had a story to write about the issue with the TalkTalk default we wrote the blog post on the main ORG site. However, someone visiting blocked doesn't see any link to the story. Can we do a menu tab for 'Updates' and then auto fill the blogs from the main website that are tagged with filtering.

[2014-07-04 07:14] NetworksAreMadeOfString opened #69 "Last blocked isn't working correctly"
https://www.blocked.org.uk/results?url=http%3A%2F%2Fblocked.org.uk%2F

Now showing as if BT never blocked it.

[2014-07-04 15:21] #67 closed, assigned to JimKillock

[2014-07-05 09:52] NetworksAreMadeOfString opened #70 "Probe Management Page"
During the probe creation process we ask people for an email address and a password, the original reason for this was that if they lost their **user** private key they could generate a new one and continue to register probes.

It'd be good to have;
- Password reset page _(sends an email, follows a link, set your password)_
- Password change page
- Generate new user private key page
- View your sta

[2014-07-09 10:49] #65 closed, assigned to nobody

[2014-07-09 14:47] #69 closed, assigned to nobody

[2014-07-11 16:03] #66 closed, assigned to nobody

[2014-12-11 13:32] #70 closed, assigned to nobody

[2014-12-11 13:36] #41 closed, assigned to nobody

[2014-12-11 13:54] #4 closed, assigned to nobody

[2015-10-12 16:55] edjw opened #71 "No donation page/link"
There isn't a way for people to donate to the project on the site. There should be either a page where people can donate or a link to openrightsgroup.org/donate

[2016-10-24 10:56] JimKillock commented on #68
This isn't hard to achieve

[2016-10-24 10:57] JimKillock commented on #71
There are links now but nothing much else. Simple fix, add "donate" to the top menu?

[2016-10-24 10:58] #16 closed

[2016-10-24 10:59] JimKillock commented on #41
This page is now present: https://www.blocked.org.uk/unblock

[2016-10-24 11:00] JimKillock commented on #18
I think we can close this (replace it with a feed instead)

[2016-10-24 11:03] #18 closed

[2016-10-24 11:03] #31 closed

[2016-10-24 11:04] JimKillock commented on #42
Ed, one for you to take up if you feel appropriate, or close.

[2016-10-24 11:12] JimKillock opened #72 "Category browser drill downs"
Reduce the amount of drilling down if possible, to the user gets a reasonable number of URLs to check without too many clicks.

This could be an option: eg "View all sites listed within this category" which is made available when the number of sites is less than 30.

https://github.com/openrightsgroup/cmp-issues/issues/158

[2016-10-24 11:19] JimKillock opened #73 "Links to Error reporting tools"
Reporting link: Once down to single blocked link there should be three buttons:
- Check this link (open up link in a web archiver to avoid malware issues)
- Report this site to {provider name} (opens up form)
  When a site has been reported, the text and link should change to say
  “Reported to {Provider} on [DD/MM/YYYY]. Report again”
- Tell us about this site (opens up form to ORG - this is to b

[2016-10-24 11:23] JimKillock opened #74 "Report this site tool"
One a user has chosen to report a site to an ISP, they should be presented with a form to do so.

The form will submitted the data to ISPs email address; with a bcc to the user. A record sent to ORG or marked in the dabase..
- The Form should include a checkbox:
  “I have checked this site (link) is not squatted, abandoned, a redirected URL or unsuitable for under 18s."

Once a report has been sub

[2016-10-24 11:29] JimKillock opened #75 "Tell us about this site form"
A "Tell us about this site" form to be submitted to ORG will let the user state whether site is adult, re-direct, squat, for sale, dead etc.

This information can be displayed on the links within the browser, eg "This website appears to be sqautted and is likely to be blocked legitimately."

Once a report has been submittedto ORG, direct to thank you for reporting, click here to check another site

[2016-10-24 11:32] JimKillock opened #76 "Data cleaning"
Data cleaning:
When sites are rescanned, we should assume deadlinks and redirects are treated differently
- Deadlinks should be removed from public view
- Redirects should be marked as such (some but not all filters block them)
- Report deadlinks back to DMOZ

[2016-10-24 23:03] dantheta commented on #74
Added the checkbox and text.

[2016-10-26 21:46] dantheta opened #77 "Email body text for ISP report emails"
openrightsgroup/cmp-issues#133

The template can be found at:

https://github.com/openrightsgroup/Blocking-Middleware/blob/master/api/1.2/templates/report_email.txt

It's only basic at the moment.  If you have a chance to review and reword, that would be great.

[2016-10-30 21:08] dantheta opened #78 "Thank you page with link to random site."

[2016-10-30 21:09] dantheta commented on #74
Thank you page spun off to separate ticket

[2016-10-30 22:06] dantheta commented on #73
Basic links present, need to add "Reported to..." behaviour

[2016-10-31 14:28] pamcowburn commented on #77
Done

[2016-10-31 15:11] #23 closed

[2016-10-31 15:16] JimKillock commented on #75
I had a look at the form. Could we make some changes to the content, eg:

 <i>This domain is being squatted, but contains adult material</i>

I think this should be without qualification - ie just "This domain is being squatted".

I think the form should be multi option so this can be selected alongside "is adult"

[2016-10-31 15:17] JimKillock commented on #74
Can we see the report tool yet?

[2016-10-31 15:21] JimKillock commented on #73
At the moment the "report" icon isn't pointing to an actual report form so I haven't had a look. Will there by multiple icons for each provider?

[2016-10-31 15:28] dantheta commented on #73
It should be pointing at the form already - it's the loudhailer icon.
There is a bit of a UX problem at the moment if there aren't enough
recent results.  The "Re-test this URL" button attempts to get the main
site to re-test the URL - that flow will be improved.

To test the report form in the short term, find a URL in the category
browser, submit it for testing on the main blocked.org.uk site, t

[2016-10-31 23:49] dantheta commented on #73
I've fixed up the workflow for out-of-date results, so the loudhailer icon will always go to the report form now.  I wanted to add a spinner gif for the re-checking operation, but ModX won't allow .gif files to be uploaded (and it seemed rude to link to the one that ships with the ModX manager)

[2016-11-01 00:08] dantheta commented on #75
Those changes are done now.

[2016-11-01 00:52] dantheta commented on #72
The site now searches lower in the hierarchy when the number of blocks beneath a category is < 1000.  (this cutoff is mainly to preserve preserve performance).

In practice, this means the user only needs to click down 3 categories before typically finding sites.

We can apply paging for the list of sites contained within a category, but for the moment it is limited to 20.

[2016-11-01 00:58] dantheta commented on #72
Also, beneath each URL in the site list is a link to the category that the URL is found in, making it easier to jump down to a sublevel which is rich in blocks.

[2016-11-01 12:13] JimKillock commented on #74
Add active link to "I have checked that this site (http://houseinguanajuato.com) is not squatted, abandoned, a redirected URL or unsuitable for under 18s."

[2016-11-01 12:15] JimKillock commented on #74
Can we make it clearer why it won't email an ISP because the check is too old, eg a tool tip exlanation "We were unable to recheck if this website at this ISP, so you cannot email them via this form at the moment."

[2016-11-01 12:19] JimKillock commented on #72
This is looking good - @pamcowburn can you take a look?

[2016-11-01 12:22] JimKillock commented on #75
Thanks @dantheta. How about also some positive responses, eg:

"This site appears to be free from adult content" just in case that is helpful to us?

[2016-11-01 14:17] pamcowburn commented on #75
Where can I see the form?

[2016-11-01 14:24] dantheta commented on #75
Find a blocked site through the browser and click on the flag icon on that row.

On 1 November 2016 14:17:48 GMT+00:00, pamcowburn notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-11-01 14:35] pamcowburn commented on #72
Is it possible to link to the URL and the blocked results - at minute linking just to results so have to paste separately to check site is ok

[2016-11-01 14:37] dantheta commented on #72
The icon that is a square with an arrow pointing out of it will open the
original site in a new tab/window.  The function of those three icons
isn't really clear enough, even with tooltips.  I can replace them with
a dropdown menu button, which would at least describe what they do in
text.

On 2016-11-01 14:35, pamcowburn wrote:

[2016-11-01 14:40] pamcowburn opened #79 "Remove lines we no longer test"
Not sure if this appears as an issue elsewhere but can we remove old results that we won't re-test e.g. I noticed http://www.english-heritage.org.uk blocked but it's dated Nov 14 and BT moderate so we won't re-test. Can we just remove these as otherwise people might report them

[2016-11-01 14:43] pamcowburn commented on #75
Ok thanks

[2016-11-01 23:34] dantheta commented on #74
Active link done.

[2016-11-01 23:39] dantheta commented on #74
I've added a tooltip to the checkbox with slightly different wording before and after a recheck.

[2016-11-01 23:54] dantheta commented on #79
They are now hidden from the reporting form.  We should update the block totals so that they aren't included in the counts.  At the moment, it's possibile that a site which is only blocked on bt-moderate  would appear on the browser page, but when clicking through to the reporting form, the user would get a "No blocked results found for this URL" message.

[2016-11-02 00:07] dantheta commented on #79
Sites which are only blocked on an inactive line are now hidden in the category browser.  The category total updater has been updated, but this takes a while to run.

[2016-11-03 00:04] dantheta commented on #79
That should be all done now.

[2016-11-03 00:04] #79 closed, assigned to JimKillock, dantheta, pamcowburn

[2016-11-03 00:11] dantheta commented on #75
That's done now.

[2016-11-03 00:40] dantheta commented on #78
The thankyou page has been tidied up.  Just the random link to implement.

[2016-11-06 23:25] #78 closed, assigned to nobody

[2016-11-06 23:27] dantheta commented on #74
Ready for review, I think.

[2016-11-07 00:03] dantheta commented on #73
Added a note for the last report date to the content listing, and also added paging links (next/prev 20).

Ready for review

[2016-11-07 16:16] JimKillock commented on #74
Do we want an opt in / out for the subsequent emails? Specifically the second part of this?

"Entering your details and site information will send an automated email from blocked.org.uk to the content administration contact for each of the selected networks. The blocked.org.uk platform will re-test the chosen URL each day, and will email you when the site is unblocked on any of the networks."

If

[2016-11-07 23:47] dantheta commented on #74
Yep, that's a good plan.  Added a checkbox (default off) to the form and updated the wording.

[2016-11-08 11:27] JimKillock commented on #74
This looks good. In relation to the emails, when it is live, will the From: / Reply-to: headers match the original sender?

Also, I think we want the sender to get a "confirm" email with a link so that ISPs can't claim they don't know who the originator is.

[2016-11-08 11:33] pamcowburn opened #80 "Correct error that occurs when ampersand used"
In text email sent by Jim, this occurs:
This appears to be a winery and B&amp;B. Although it is related to alcohol in a tangential sense, its primary purpose is to attract visitors to stay in the B&amp;B as guests.

[2016-11-08 11:42] pamcowburn commented on #74
In text email sent by Jim, the ampersand appears like this in email: B&amp;B.
:
This appears to be a winery and B&B. Although it is related to alcohol in a tangential sense, its primary purpose is to attract visitors to stay in the B&B as guests.

[2016-11-08 11:43] #80 closed, assigned to nobody

[2016-11-08 12:10] dantheta commented on #74
@JimKillock Using the end-user's email address may give us problems with SPF and DKIM, causing the email to be dropped by anti-spam measures. I think there are other headers we can use to add authenticity though. Reply-to should be fine though.

[2016-11-08 14:35] JimKillock commented on #74
The minimum requirement is that we validate the email address prior to sending so that ISPs can't claim the emails are not always truly from the sender.

We should also send a copy to the originator so they can follow up as part of a thread if they don't get a response.

[2016-11-08 14:49] #77 closed, assigned to pamcowburn

[2016-11-08 14:56] pamcowburn commented on #75
Re:  "This site appears to be free from adult content" - do we think people could find it difficult to categorise in some cases e.g. some sites are clearly intended for adults but their content is not necessarily harmful for kids.

[2016-11-08 14:58] pamcowburn commented on #74
'Send me email updates when this site is unblocked.' - think we should be clear that these are from ORG not the ISP

[2016-11-08 15:14] pamcowburn commented on #72
Not sure if this needs separate ticket but could we re-order the top subcategories - alphabetically would work. The two top categories Regional and World have the highest number of sites and require more drilling down.  I think better if they were lower down list.

[2016-11-08 15:15] pamcowburn commented on #71
Do we need copy for this?

[2016-11-08 22:58] dantheta commented on #72
The sort ordering is done - the very top level is alphabetically sorted, and lower levels are sorted by block count descending.

[2016-11-08 23:18] dantheta commented on #80
Fixed in the email templates.

[2016-11-09 16:25] JimKillock commented on #75
@pamcowburn Yes, sometimes it will be hard to know. People also don't know what categories are blocked by each ISP. We could include a link to a checklist or similar?

[2016-11-09 16:28] JimKillock commented on #73
This looked good to me - I would add a bit of a gap between tick boxes and text to neaten in up

[2016-11-09 18:33] pamcowburn commented on #75
I wondered if we could have a - this site is aimed towards adults but does not pose harm to kids

[2016-11-09 18:34] pamcowburn commented on #75
Sorry posted too soon. We should test with people and see what they come up with.

[2016-11-09 22:27] dantheta commented on #73
Added vertical spacing and some padding around the checkboxes.

[2016-11-09 22:27] #73 closed, assigned to dantheta, pamcowburn

[2016-11-11 02:15] dantheta commented on #75
Yep - this additional categorisation doesn't have to be spot-on to start with.  It is for our use, rather than something that the ISPs will be exposed to.

[2016-11-13 22:16] dantheta commented on #74
Updated the text to show where the update emails come from.  I'll spin email validation into a separate ticket.

[2016-11-13 22:16] #74 closed, assigned to dantheta, pamcowburn

[2016-11-13 22:18] dantheta opened #81 "Verify user email addresses"
User-supplied email address info should be verified before sending the first reports to ISPs.  This can be done with the existing verify email function, which sends an activation URL in an email.

Appropriate instruction and messaging is required in the frontend.

[2016-11-13 22:20] dantheta commented on #72
Are we happy with the three function icons (+tooltips) on  the site list, or do we want to look at an alternative action-menu-type-thing?

[2016-11-14 09:32] JimKillock commented on #72
For me tool tips is ok but lack of prominence / size is an issue. Also the link to the blocked is counter intuitive currently as it appears as a link to the URK itself

[2016-11-14 10:45] pamcowburn commented on #72
Yes - I think it would make sense for the URL to link to the site itself so first thing people are doing is looking at whether the site should be blocked or not

[2016-11-15 00:43] dantheta commented on #72
That's a very good point.  I've switched those two around.  I've also made them a bit larger.

[2016-11-15 01:11] dantheta commented on #72
The category tree is about 75% faster now (although a tiny bit slower the very first time a 2nd-level category is accessed).  There are now two levels of cache, and a much, much faster tree implementation.

[2016-11-15 08:34] JimKillock commented on #76
DMOZ responded to me on Twitter about deadlinks, saying we should make the request via their form.

https://twitter.com/DMOZ/status/798370052600950784

http://www.dmoz.org/public/sendemail?editor=photofox

@dantheta would you like to do that?

[2016-11-16 12:36] JimKillock commented on #72
great :)

[2016-11-17 23:42] dantheta commented on #81
The email verification functionality in the backend is done.  There's a new email template for copy review here: https://github.com/openrightsgroup/Blocking-Middleware/blob/pg_tree/api/1.2/templates/verify_email.txt

If people have already verified their email using the other update subscription function, they won't be asked to verify it again.

[2016-11-17 23:44] #72 closed, assigned to nobody

[2016-11-17 23:46] dantheta commented on #75
Any other changes for this one? I'm spinning off the frontend advisory functionality (the "this site has been squatted") to a separate ticket.

[2016-11-17 23:47] dantheta opened #82 "Show reported site details in frontend"
Re: second paragraph of #75

[2016-11-22 00:24] dantheta commented on #81
The confirm page and thank you text is also ready for review.  It can be found in the OverblockEmailVerifyThanks chunk in Modx.

[2016-11-22 00:24] #75 closed, assigned to dantheta, pamcowburn

[2016-12-08 15:48] edjw commented on #71
I've added a link in the menu to openrightsgroup.org/donate Marking as closed

[2016-12-08 15:48] #71 closed, assigned to edjw

[2016-12-08 16:20] edjw commented on #19
Duplicated contact details from Get Involved and added basic contact details for ORG office

https://www.blocked.org.uk/contact

[2016-12-08 18:09] edjw commented on #42
https://www.blocked.org.uk/email-your-mp

Copy is still needed for the page

I made a new Template in ModX for this page 'Blocked Email your MP'. This template has a slightly different chunk in the head '$blocked_head_email_mp' to include scripts and css needed for the Campaignion email action

[2017-02-21 10:26] JimKillock opened #83 "Email thank you page warn confirm"
The email thank you page https://browse.blocked.org.uk/unblock-thanks

needs to warn users they will need to confirm their email before it is sent

[2017-02-21 10:27] JimKillock opened #84 "Thank you for submitting unblock page"
link: "Unblock another site” should be accompanied by "Unblock a random site"

This allows a free flowing worklflow for people to add lots of unblock requests

[2017-02-21 10:28] JimKillock opened #85 "Results pages active links"
The results page (eg https://browse.blocked.org.uk/site?url=http://www.houselets.co.uk ) needs to have active links to the site

Same for other pages in the checking process

[2017-02-21 10:29] JimKillock opened #86 "Index-able results pages"
Generate results pages and sitemap so pages can be picked up by Google / Bing / DDG

[2017-02-21 13:57] JimKillock opened #87 "Feedback page needs "redirect" option"
eg https://browse.blocked.org.uk/feedback?url=http://13ghosts.warnerbros.com

Needs to allow users to report "redirects" as many ISPs regard this as legitimate blocking

[2017-02-21 13:57] JimKillock opened #88 "Verify email once per browser"
Set cookie to allow user to keep using their email without verification after the first verification

[2017-02-21 20:38] dantheta commented on #85
The URL shown under the heading has been made clickable, with a link icon to draw attention to it.  On the site report page, there is also a visit site button.

[2017-02-21 20:40] dantheta commented on #83
This has been added - the URL for the thanks page has changed, merging the feedback thanks and the unblock thanks.  The confirmation warning only appears if the server reports that the submitted user is unverified.

[2017-02-21 20:41] #83 closed, assigned to dantheta

[2017-02-21 20:44] #87 closed, assigned to dantheta

[2017-02-21 20:48] dantheta commented on #86
This might be a tricky one - site crawlers are quite prejudiced against query-string style URLs.  We can try changing the URL format so that it is search-engine friendly, but I don't know if modx will play along.

[2017-02-21 20:51] dantheta opened #89 "Pagination links on site listing page"
Currently only 20 results are shown - add "next 20" link.  The original design also had result counts, which are currently missing.

[2017-02-21 21:10] dantheta commented on #81
These have been plumbed back in with the new page template.  The text in the OverblockEmailVerify chunk could use a bit of editorial improvement :)

[2017-02-21 21:10] #81 closed, assigned to nobody

[2017-02-21 21:36] dantheta opened #90 "Highlight menu links"
When a page is active, the top menu item should be highlighted

[2017-02-26 00:13] #84 closed, assigned to dantheta

[2017-02-26 01:44] #85 closed, assigned to dantheta

[2017-02-26 19:47] #89 closed, assigned to dantheta

[2017-02-26 19:48] dantheta opened #91 "Friendly date formats"
Add friendly date formats to site report page

[2017-02-26 19:48] #91 closed, assigned to dantheta

[2017-02-27 22:12] dantheta opened #92 "Pages requiring copy"
* "100,000 most popular sites", linked from front page
* FAQ
* "By internet service provider", linked from front page
* Personal Stories
* Donate

[2017-02-27 22:12] dantheta commented on #92
If we're intending to copy these from the existing site, I'm happy to take care of it.  Let me know if you'd like me to get them copied.

[2017-02-27 22:23] #90 closed, assigned to dantheta

[2017-02-27 22:24] dantheta opened #93 "Category sitemap"
Add sitemap in google XML format for finding category pages

[2017-02-27 23:15] dantheta opened #94 "Check a random category link"

[2017-02-28 22:15] dantheta opened #95 "Homepage "Get a site unblocked" link"
On the homepage, there is a link entitled "Get a site unblocked".  Where should this link point to? "Check if a site is being blocked" points to the URL lookup form, and it seems that the "Get a site unblocked" link would go to the same place.

[2017-02-28 22:23] JimKillock commented on #95
Agreed,  it is the same thing, but different motivations I guess?

[2017-02-28 23:40] dantheta commented on #95
Yes, I think so.  They take on a bigger distinction if one link goes to live checking of the site and the other goes to historical results without re-testing; I'm not sure that's a distinction that the user is very concerned about though.

I'll point the "Get a site unblocked" link at the check form for now.

[2017-02-28 23:44] dantheta opened #96 "Tidy up state display on site report"
If a site has:

0 active blocks, >0 past blocks:
Show past blocks, hide active blocks list

place past blocks beneath a slide-reveal

0 active blocks, 0 past blocks:
Show "No active blocks" header

Previous unblock requests:
Disable unblock button, show date of unblock request

[2017-02-28 23:44] #96 closed, assigned to dantheta

[2017-02-28 23:44] #95 closed, assigned to JimKillock

[2017-02-28 23:45] dantheta commented on #96
Also, if the selected site is not found in the database, a "No records for this site" message is displayed.

[2017-03-01 23:20] dantheta commented on #86
Converted category site listings to server-side generated pages, with crawl-friendly links (and rel=nofollow on external links)

[2017-03-01 23:20] #86 closed, assigned to dantheta

[2017-03-01 23:21] dantheta commented on #93
Created category sitemap at /sitemap.xml

[2017-03-01 23:21] #93 closed, assigned to dantheta

[2017-03-01 23:33] dantheta opened #97 "Investigate SEO friendly URLs"

[2017-03-02 00:03] dantheta commented on #97
Modx CustomRequest worked nicely.

[2017-03-02 00:03] #97 closed, assigned to dantheta

[2017-03-11 12:43] JimKillock opened #98 "Bug on autocomplete of placenames"
I am finding that some locations, eg Manchester, Birmingham aren't correctly autocompleting in the category browsers

[2017-03-11 12:45] JimKillock opened #99 "Remove redirect sites"
Can we remove "redirect sites" from browsable the dataset?  Is there a way to identify them eg by "redirect permanent" messages, for instance?

[2017-03-13 22:18] dantheta commented on #98
I'm finding that Manchester and Birmingham appear at 4 characters ("manc" and "birm" respectively).  For a given input string, the dropdown shows the 10 most blocked categories starting with that string.

Increasing the number of results in the dropdown gets Manchester to appear at number 18.  Birmingham appears at number 23.

I've set it to 20, although there is a slight corresponding performance

[2017-03-13 22:56] #94 closed, assigned to dantheta

[2017-03-13 23:36] dantheta commented on #99
I think it's possible with the way the data is stored, but we'd need to refine the criteria a bit, since a redirect URL can be blocked by ISP filters independently of the site it refers to.    For instance, http://13ghosts.warnerbros.com.  This URL is blocked on several networks, but the page it redirects to is not.

When a URL redirects to a blocked site, the result for that URL is "status = bloc

[2017-03-15 14:57] JimKillock opened #100 "Add "campaign" cycle"
Add link:

"Take action: Report sites"

under "Get a site unblocked"

This leads to a random site unblock request, weighted as UK or .uk

User will cycle through random sites, so once a report is complete, they are taken to another random site.

[2017-03-15 15:01] JimKillock commented on #98
Great - yes this seems to be working. Not sure if that was fixed or a temporary glitch

[2017-03-15 22:37] dantheta commented on #100
Done!  I've also made the random link function much, much more efficient for the database.

[2017-03-15 22:37] #100 closed, assigned to dantheta

[2017-03-15 22:37] #98 closed, assigned to dantheta

[2017-05-24 23:14] dantheta opened #101 "Add keyword search to frontend"

[2017-05-24 23:14] dantheta opened #102 "Add block details to report page"

[2017-05-29 09:38] dantheta opened #103 "Make non-block and old results available"

[2017-05-29 09:38] dantheta opened #104 "List blocks on report page"
List the networks that the report will be sent to

[2017-05-29 09:39] dantheta opened #105 "Show the alexa rating of a site, if it has one"

[2017-05-29 09:40] dantheta opened #106 "Hightlight the site report link"
The site report is slighty difficult for users to find (relies on mouseover for discoverability).  Try making it always visible?

[2017-05-29 09:54] dantheta opened #107 "Live results for website check"

[2017-05-29 09:54] dantheta commented on #107
Live results are now enabled on the demo site.

[2017-06-26 22:35] #101 closed, assigned to dantheta

[2017-06-26 22:35] #103 closed, assigned to dantheta

[2017-06-26 22:35] #107 closed, assigned to dantheta

[2017-07-03 21:16] #102 closed, assigned to dantheta

[2017-07-03 21:17] #104 closed, assigned to dantheta

[2017-07-04 15:31] JimKillock opened #108 "Curated content lists"
This would be a search, save, curate system, for adminstrator-type users:

(1) Search for a term to create a list, eg "counsel" or "bristol"

(2) Save the list

(3) Curate / remove sites that are not relevant

(4) Allow public access to the list at a url, eg /username/list/keyword

[2017-07-07 12:59] JimKillock opened #109 "Display next random site on thank you page"
When in the "take action" cycle, the "thank you page" should present the user with a further random site to check, so they can quickly cycle through making checks.

The same can apply to people checking a category. The Thank you page can include the category results.

[2017-07-12 00:35] dantheta commented on #109
I've merged the thank you text onto the site status, so that once an unblock request has been submitted the user is redirected to a new site status, with thankyou text.  The random URL is drawn from the keyword or category that they just searched for.

This works for keyword and category search.  If they've searched for a site by URL and submitted an unblock request, they'll get the normal thankyo

[2017-07-12 00:35] #109 closed, assigned to dantheta

[2017-07-12 09:53] JimKillock opened #110 "report sites sent me to a non-blocked site"
On a first try, I was asked to check / report http://www.abovetopsecret.com at https://stage.blocked.org.uk/site/http://www.abovetopsecret.com

which was also marked as not blocked on the report page

[2017-07-12 21:19] dantheta commented on #110
That site had one old block from TalkTalk strict, which is hidden on the new site.

One of the summary tables was built without the older networks (bt-moderate, bt-strict, talktalk strict) being excluded.  I've rebuilt the summary table using only the active ISPs, so there should be fewer of these.  Some no-longer-blocked sites may still be in the random set for a short while until the next rebuil

[2017-07-12 21:19] #110 closed, assigned to dantheta

[2017-07-12 21:20] dantheta commented on #109
I've added the unblock-cycle functionality to the random site page now.

[2017-07-19 23:04] dantheta commented on #108
A demo version of this feature is now on stage.blocked.org.uk.  Once you've searched, there's a dropdown button that reveals a form asking for a title and a user's name.  Once it's hoovered up the search results, it shows the list curation interface, along with a sharing link.  This is just a first pass, it can be made faster :)

[2017-07-19 23:05] dantheta opened #111 "Update free-text index and category search automatically when sites are blocked/unblocked"

[2017-07-24 09:29] JimKillock commented on #108
Pam, would you like to try and feedback here?

[2017-07-24 09:33] JimKillock commented on #105
This is a good idea: but why not for the keyword search, rather than just in the DMOZ browser?

[2017-07-24 09:38] JimKillock opened #112 "Screen porn from results"
When searching for keyword results, have a pre-ticked option to "screen likely pornographic sites". (Are there other things we should screen by default such as redirects?)

[2017-07-24 09:47] pamcowburn commented on #112
'escort services'

[2017-07-24 09:47] pamcowburn commented on #112
Redirects would also be helpful.

[2017-07-24 09:58] pamcowburn commented on #108
I think these lists work if individuals are sharing among themselves but if we are going to try and work with ISPs, their suppliers or journalists, it would be helpful if could save as CSV files that show URL, description and ISP who is blocking them.

[2017-07-24 14:07] JimKillock opened #113 "Legal blocks pages"
Create a page for court order copyright blocks, another for PIPCU seizures.

[2017-07-24 15:56] dantheta commented on #113
Are you thinking of an informational page with editable copy, or is there an interactive/data element to it?

[2017-07-24 15:57] dantheta commented on #105
It would apply to all displays of search results - it was tagged DMOZ browser because all of the tickets got that tag at the time of creation :)

[2017-07-24 17:00] JimKillock commented on #113
The data element is just that it lists all the sites where a court order-style block has been detected. It could order these by date, or the active blocks first.

Some editable copy element would be helpful, so we can add links to explanations.

Some of the ISPs also link to a page detailing their court orders.

[2017-07-24 21:06] dantheta commented on #113
Added http://stage.blocked.org.uk/legal-blocks (for copyright injunctions) and http://stage.blocked.org.uk/seized-domains.  We can hide the table on the latter page until we've collected some data for it.

The page copy can be edited by changing the Banner_Text and TextAreaOne|Two|Three template vars in the documents under browse.blocked.org.uk/feed in modx manager.  The CMS uses the Long Title fi

[2017-07-24 22:12] dantheta commented on #112
I've experimentally excluded some obvious unambiguous porn & escort keywords, and will add in the UI elements shortly.

[2017-07-25 08:49] JimKillock commented on #113
Thanks Dan. The copyright injunctions page is displaying no information for me either: but presumably you do have this information?

[2017-07-25 19:31] dantheta opened #114 "Add administrator user"
The admin user can create and edit lists, and will be able to view pages bypassing the cache.

[2017-07-25 21:10] dantheta commented on #113
legal blocks (copyright injunctions) are now shown

[2017-07-25 21:14] dantheta commented on #114
Added admin user which can created/edit lists, and can preview pages bypassing the remote content cache.

[2017-07-25 21:14] #114 closed, assigned to dantheta

[2017-07-26 08:06] JimKillock commented on #113
Thanks Dan. How are the copyright blocks selected? The list doesn't look very complete. We should make the list as comprehensive as we are able.

There is a case for testing these blocks more frequently as they are dropped periodically via instructions from the parties with the injunctions.

[2017-07-26 10:10] dantheta commented on #113
Yep, it's only the most recent 25.  Do we want a full or paged list?

  I can also prioritize rechecking of copyright blocks.

[2017-07-26 10:39] JimKillock commented on #108
I agree that end users may need a CSV, but compiling and checking the lists is much easier done within blocked. So perhaps what is needed is a CSV export option from the list, which should ideally also include the list URL?

[2017-07-26 10:49] JimKillock commented on #113
I guess a paged list would be best (maybe with an option for a full list -- this could take advantage of a CSV export sometime as well).

Ideally we should group the blocks together by URL also, that is all the ISP blocks for a single URL consecutively.

The date column should be labelled "last check".

At a later date we could have an option to show historic (not current) blocks also.

[2017-07-26 10:54] dantheta commented on #113
The date column is currently the date of first detection.  We can add a last check column too.

I've got a great SQL query for this :)

[2017-07-26 10:55] JimKillock commented on #113
Sounds great :) Yes, date of first detection is the more important date in fact.

[2017-07-26 16:38] JimKillock opened #115 "Missing permalink on report page"
Site blocking report pages lack a shareable permalink to the results

[2017-07-26 20:49] dantheta commented on #113
Paging links and titles  done.  Grouping in progress.

[2017-07-26 20:55] dantheta commented on #115
Added permalink to report page.  Is the placement OK?

[2017-07-27 07:18] JimKillock commented on #113
Thanks Dan.

Looking in a bit more detail, some of the reports are URLs rather than domains. I think we can assume that they are not relevant, but the complicating factor would be that we should check for the domain to be present in the list.

Further question: the “first detected” date; is this the date of a first detection of a block; or the first detection of a court order notice? These may be

[2017-07-27 21:04] dantheta opened #116 "Add personal stories page"
Using content from current blocked.org.uk site.

[2017-07-27 21:04] dantheta commented on #116
Added at https://stage.blocked.org.uk/personal-stories

[2017-07-28 10:53] JimKillock opened #117 "Recently reported page"
This page can list all blocked reports in reported-date order, with the same kind of pagination as on other pages.

Pagination should be modified to use » for “last page of results” and a single arrow for “next result”.

[2017-07-28 11:10] JimKillock commented on #117
It could also include something to show if the block has been removed, and the response time

[2017-07-28 12:19] JimKillock commented on #117
Also: optionally, this could allow users to view submissions by ISP

[2017-07-30 19:54] dantheta commented on #117
Added https://stage.blocked.org.uk/reported-sites

[2017-07-30 21:49] dantheta commented on #112
The checkbox on the keyword search is now present.  The exclude wordlist is held in the API configuration, so it doesn't require code changes to eliminate further keywords.

[2017-07-30 22:35] dantheta commented on #108
There's now an export button on the list view page, which downloads an Excel-compatible CSV with the list URL in the header section.

[2017-07-31 21:41] #111 closed, assigned to nobody

[2017-08-02 11:24] MarcusJT commented on #115
If the "permalink" you've added is the "Share this result" section then it's not fit for purpose as it is because:
(1) it's not actually a hyperlink, just a URL (as text)
(2) it doesn't meet the expectations set by the heading as there's no ability to actually share it other than select, copy & paste it somewhere which will limit its use compared to providing a "copy to clipboard" button which doe

[2017-08-02 20:51] dantheta opened #118 "Change logo to SVG Version"
Also, make header clickable (with link back to homepage) and increase size.

[2017-08-02 20:52] #118 closed, assigned to dantheta

[2017-08-06 10:30] JimKillock opened #119 "Stats pages"
Add a page giving an overview of the stats:

(1) would recreate the current "Alexa 100k" stats we have

(2) Could be a broad overview:

(a) Total domain tests run in UK, per ISP
(note why there are differences)
Tests, number of domain blocks, number of domain court order blocks

(b) Total UK domain tests run, per TLD
(Number tested, blocks noted on each ISP)

[2017-08-06 10:31] JimKillock commented on #19
Suggest the new site simply directs people to openrightsgroup.org/contact

[2017-08-06 10:33] JimKillock opened #120 "Rework front page"
Rework front page so it is a campaign page.

It needs to explain that blocks are by *filters* and then how many people use filters; and that the filters mould be extended of some MPs get their way.

And then say: children and adults are having legitimate and safe material blocked. Helps us to understand how bad the problem is, and if ISPs are willing to fix problems when they are told.

[2017-08-06 10:35] JimKillock opened #121 "Descriptive [iinfo] (hover) links for filters"
Each filter we list, eg "BT light" should have a tooltip / information button that explains what the filter is, eg "This is the standard filter that BT encourages parents to use at sign up".

[2017-08-06 20:23] dantheta commented on #115
Hi Marcus,

Thanks for the feedback.  I've added some of the improvements you've suggested, and the permalink is now displayed in a form field with an attached clipboard copy button.

Item (3) Is a good idea.  We're currently using the site results template in two places,: showing static historical results (where the page URL is already matching the permalink's URL)  and for  showing live results

[2017-08-06 20:25] MarcusJT commented on #115
Great stuff! :)

On 6 Aug 2017 21:23, "Daniel Ramsay" <notifications@github.com> wrote:

Hi Marcus,

Thanks for the feedback. I've added some of the improvements you've
suggested, and the permalink is now displayed in a form field with an
attached clipboard copy button.

Item (3) Is a good idea. We're currently using the site results template in
two places,: showing static historical results (wher

[2017-08-06 21:01] dantheta commented on #19
Linked as suggested.  We can port the contents of the blocked /contact page if required.

[2017-08-06 21:01] #19 closed

[2017-08-06 21:32] dantheta opened #122 "Sky blocking complaints may require customer account details"
Feedback by email:

Just noting that Sky require account details when you report a site
for unblocking - which might be something to consider for the site.

From Sky's reply:

[2017-08-06 21:35] JimKillock commented on #122
Thanks Dan. We can raise this directly with their policy team. It is another reason why we need to list the "recent reports" on a page -- and possibly break that down by ISP :)

[2017-08-06 21:36] JimKillock commented on #117
Thanks Dan, that is very useful. Can we have a way to filter / present by ISP as well?

[2017-08-06 22:34] dantheta commented on #117
Done!

[2017-08-13 22:51] dantheta commented on #119
WIP: https://stage.blocked.org.uk/stats

[2017-08-14 08:04] JimKillock commented on #122
Raised with policy team

[2017-08-14 10:49] JimKillock commented on #119
This looks great so far :) I think the bar charts are easier to read / compare

[2017-08-14 11:28] JimKillock commented on #99
*Any* redirect is a legitimate block for an ISP filter I suspect. Their reasoning AIUI is that redirects can be easily / arbitrarily / frequently moved to more dubious sites.

We don't need to worry about redirects that are not blocked. However, there is little point in our users reporting redirects to the ISPs (they will simply say "we filter them"). So I would exclude them from search by default

[2017-08-14 11:28] #88 closed, assigned to dantheta

[2017-08-14 11:29] JimKillock commented on #42
I suggest we close this for now?

[2017-08-14 11:29] #40 closed

[2017-08-14 11:41] dantheta commented on #119
On 2017-08-14 11:49, JimKillock wrote:

Yeah :) I went to a data visualization workshop last week!

There's a small anomaly in the stacking, but that will be fixed
imminently.

I'm crunching the data for TLD charts at the moment.

[2017-08-14 13:41] edjw commented on #42
I agree

[2017-09-10 21:48] #106 closed, assigned to dantheta

[2017-09-10 21:48] #115 closed, assigned to dantheta

[2017-10-04 15:23] JimKillock opened #123 "Recheck page, give onwards links"
When a 'random site' is checked, and has just one error report, the user needs some options when the 'recheck' button does not return a result. For instance, 'We are not able to re-check this site at present, click to try another site'

[2017-10-04 15:36] JimKillock opened #124 "Filter out alcohol sites from random sites"
Sites to do with alcohol may not be worth reporting at this stage.

[2017-10-05 12:20] JimKillock opened #125 "Filter out bt-strict from random sites"
BT Strict results will include too many sites to make it work reporting the results I suspect

[2017-10-06 21:24] #125 closed, assigned to dantheta

[2017-10-11 14:46] JimKillock opened #126 "Don't check or suggest sites where probe is down"
Currently, we suggest sites to check where (a) the site block needs a recheck and (b) the ISP line cannot be checked because the probe is currently down eg at Virgin.

Furthermore the site suggests the user 'recheck' the block even tho this task cannot be completed.

This results in some time wasting for a volunteer / user.

Ideally these sites (one block, where probes aren't functioning) would be

[2017-10-11 14:55] JimKillock opened #127 "Screen inactive probe results from random pages"
Where (say) Virgin probe is down, don't present results from Virgin in random results, especially where Virgin is the only block and the result needs rechecking.

[2017-10-11 14:55] #127 closed, assigned to dantheta

[2017-10-11 15:05] JimKillock opened #128 "Add URL to email report"
Include a link to the blocked report in the email to ISPs, eg "You can view details including when the block was detected and who else appears to be blocking the site at: https://www.blocked.org.uk/site/http://www.site.org "

Also, maybe info on how it was generated:

"This email was sent from https://www.blocked.org.uk — you can learn more about how blocked reports are generated at https://www.bl

[2017-10-11 17:14] JimKillock opened #129 "Add Piwik code"
Add Piwik tracking code to all blocked.org.uk pages

[2017-10-11 17:15] JimKillock commented on #129
Site ID is 14

[2017-10-11 17:17] JimKillock commented on #129
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://bug.openrightsgroup.org/piwik/" : "https://bug.openrightsgroup.org/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 14);

[2017-10-11 18:24] JimKillock opened #130 "Missing page links"
Court order blocks;
Recent unblock requests;

[2017-10-11 18:25] #120 closed, assigned to dantheta, edjw, pamcowburn

[2017-10-11 19:26] JimKillock opened #131 "Swap search by keyword / category"
I think the keyword search is much better so should be the default at https://www.blocked.org.uk/blocked-sites

[2017-10-11 19:36] JimKillock opened #132 "Add alert when line is down / inoperative"
If a line is down or inoperative then:

(1) This could be stated on a web page, such as blocked.org.uk/line-status

and;

(2) After 1 day, or whatever time period is appropriate, it could email me so I can check billing etc

[2017-10-11 19:46] JimKillock commented on #108
Checking how this works now we are on the live site

[2017-10-11 20:13] #63 closed

[2017-10-11 20:15] JimKillock commented on #122
They aren't enforcing this so I'm reckoning this to be closed. Note, it will help to alter the email as suggested in ticket #128

[2017-10-11 20:15] #122 closed, assigned to JimKillock

[2017-10-11 21:57] dantheta commented on #130
Fixed!

[2017-10-11 21:57] #130 closed, assigned to dantheta

[2017-10-11 22:07] #129 closed, assigned to dantheta

[2017-10-11 22:07] dantheta commented on #129
Added piwik code.

[2017-10-11 22:28] #131 closed, assigned to dantheta

[2017-10-11 22:29] dantheta commented on #131
Swapped the positioning in the menus - the site urls are still the same.

[2017-10-11 22:34] dantheta commented on #119
The stats page is here: https://www.blocked.org.uk/stats

Is isn't linked from a menu at the moment.  Is it too busy?  Should it be split into more topic-focussed pages?

[2017-10-11 22:41] JimKillock commented on #119
I think it’s good, and can be linked

A few of the results seem a bit odd, e.g.:

(1) What’s the blocked ac.uk domain? I can’t find it off the keyword search

(2) Why do EE, O2,  Vodafone seem to be blocking no co.uk websites?

There’s other things we ought to do e.g.

(3) Add in results for .com, .org and anything else we’ve processed in full

[2017-10-11 22:48] dantheta commented on #108
Good point - now that we don't have authentication on the front, there isn't any notion of an admin user.  Shall we open list curation to all users?  We can have a hidden login page for admins, perhaps.

[2017-10-11 22:50] JimKillock commented on #108
I would keep it restricted in some way. A hidden admin page sounds fine.

So long as the list pages are public, that’s fine.

[2017-10-12 10:06] javierruizorg opened #133 "Failure to upload information on website blocked"
I did not tick a specific box for type of feedback, maybe add a generic tick box?

this is the error I received

http://prntscr.com/gwfsvp

[2017-10-12 11:48] dantheta commented on #133
Thanks for the bug report!  We'll get that fixed quickly.

[2017-10-12 21:38] #123 closed, assigned to dantheta

[2017-10-12 21:48] dantheta commented on #128
Updated and live.

[2017-10-12 21:48] #128 closed, assigned to dantheta

[2017-10-12 22:37] dantheta commented on #126
Excluded three and virginmedia from the random link generator.  The ISP status is held in the database, so it can be connected to passive monitoring for that isp's probes.

[2017-10-12 22:37] #126 closed, assigned to dantheta

[2017-10-12 23:31] dantheta commented on #108
added a control panel login to https://www.blocked.org.uk/control

I'll send the username & password along.

[2017-10-13 07:03] JimKillock opened #134 "Disallow reporting for select sites"
Add a feature to disallow reporting on the basis that an ISP believes the site to be correctly classified.

Record the date this is flagged in case we want to review this.

Record the categorisation, if known.

Additionally: find a list of known porn sites and add these to a "correctly classified" list.

As background, we've had this request from ISPs and today we've had someone report a porn site

[2017-10-13 07:43] JimKillock opened #135 "Remove obvious abuse from the 'recent reports' list"
Allow admin user to hide any abusive reports (eg obvious porn), add the site to the 'disallowed' list, and keep the abusive reports out of any statistical analysis of ISP reporting.

[2017-10-13 07:56] JimKillock commented on #92
Yes, I think we should move this content. I think only the 'personal stories' is currently missing.

[2017-10-13 07:57] JimKillock commented on #76
I expect we should close this.

[2017-10-13 07:57] #76 closed, assigned to dantheta, pamcowburn

[2017-10-13 08:00] JimKillock commented on #112
Great. I'm not sure how to improve the exclusions list? Could it be listed from the admin pages perhaps? I'll add that as a further request so we can close this.

[2017-10-13 08:00] #112 closed, assigned to JimKillock, dantheta, pamcowburn

[2017-10-13 08:02] JimKillock opened #136 "View search term exclusion list at admin"
Have a page where the search term exclusion list can be viewed, and preferably also added to.

[2017-10-13 08:02] #117 closed, assigned to dantheta

[2017-10-13 08:10] JimKillock commented on #121
I'm going to bump this one up the priority list :) We should set up a page or pages in MODX for the tooltips I guess?

[2017-10-13 08:10] #42 closed

[2017-10-13 08:12] JimKillock opened #137 "Include category info on reporting pages"
The form page to submit reports to ISPs does not include the category information, where known. This would be useful so that people can say what category it seems to be listed as.

[2017-10-13 11:40] JimKillock commented on #108
I'm getting "Error
An error has occurred. Please try again later."

on save

[2017-10-13 11:45] #33 closed

[2017-10-13 12:00] dantheta commented on #92
That one has been ported. It's linked from the footer.

On 13 October 2017 08:56:43 BST, JimKillock <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-10-13 12:07] #116 closed, assigned to JimKillock, dantheta, pamcowburn

[2017-10-13 12:15] JimKillock commented on #113
Moving refinements to a new ticket

[2017-10-13 12:15] #113 closed, assigned to dantheta

[2017-10-13 12:19] JimKillock opened #138 "Court order page refinements"
1 Group the blocks together by URL, that is all the ISP blocks for a single URL consecutively.

2 Remove duplicates caused by case errors, eg Www. and www.

3 Remove URLs that include information after / eg

piratebay.org/user/pirate

*unless* the domain itself is not blocked, or not in the database.

4 Include a statistic: Number of domains detected as blocked by court order

[2017-10-13 12:22] JimKillock opened #139 "Court order pages: add court order information"
Under the administration system, allow an admin user to add:

(1) A Court Order: consisting of a Name, Date and URL; optionally:

(a) A court judgment, date and URL

(2) Allow URLs blocked by that Court Order to be assigned to the Court Order

(3) Display Court Order information on the Court Order page. Order page blocks by Court Order, then by URL (group all ISP blocks per URL)

(4) Include judgm

[2017-10-13 14:45] JimKillock commented on #139
PS: we will need this feature or something similar per country for the EU website. So we'd sometime have to think about whether this is all done in a custom manner, as present.

[2017-10-13 19:49] #137 closed, assigned to dantheta

[2017-10-13 19:54] JimKillock opened #140 "Hide flagged sites"
Flagged sites seem to appear as "Unblock requested" rather than "flagged"

See https://www.blocked.org.uk/site/http://www.ocardo.co.uk

They should probably be hidden, or viewable from a special page.

[2017-10-13 19:55] JimKillock opened #141 "Data export and API page"
Add page to obtain an export (of material we can export) plus information about the API etc.

[2017-10-13 19:56] #92 closed, assigned to JimKillock, pamcowburn

[2017-10-13 20:01] JimKillock opened #142 "Add line status on front end"
New "Line stats and status" page

Have a line status page to help users if they are not able to get results from certain probes.

This could be at https://www.blocked.org.uk/stats/probes

This could be a table stating

* Line / Status

Status could include:

* Line currently off; Probe down; Filtering malfunctioning;

Stats

* Per ISP line, per month, bar graph: days filter on; days filter off
* T

[2017-10-13 20:58] dantheta commented on #108
Ah - database credentials needed amending after the server move.  Fixed now, and tested.  Apologies!

[2017-10-13 20:58] #108 closed, assigned to dantheta, pamcowburn

[2017-10-13 21:36] dantheta commented on #138
Sort order is done.  The ordering of url blocks is done according to the maximum first_block date, so as new blocks are discovered on new networks urls will be pulled to the top of the list.

[2017-10-13 21:53] JimKillock commented on #138
Thanks Dan :) I've amended (3) and added a (4), to display number of domains blocked.

[2017-10-13 22:29] JimKillock opened #143 "List of lists"
1 Create page listing curated lists

2 Create admin feature allowing lists to be hidden / unhidden from public

[2017-10-14 03:32] JimKillock opened #144 "Recently report site links » site"
On https://www.blocked.org.uk/reported-sites/

(1) Use the URL link to navigate to the actual site

(2) A column with a "View Report" link to the full report for each block

[2017-10-14 12:14] JimKillock opened #145 "Tidy-ups on curated list page"
Change behaviour on deletion, to replicate the behaviour as probe results are added on the testing / results pages.

ie, allow the deleted result to smoothly roll up and disappear

Ensure that the user does not 'jump' to the top of the page or the first page of results on deletion

[2017-10-14 12:17] JimKillock opened #146 "Curated list: delete and flag"
Change the delete process to allow the user to flag a site (drop down of options?) as the site is removed from the list

[2017-10-14 13:56] dantheta opened #147 "DNS and SSL errors are being displayed as "OK""

[2017-10-14 13:59] #147 closed, assigned to nobody

[2017-10-14 14:14] dantheta opened #148 "Inconsistent error responses for bad URLs"
examples: "https://./", "?"

[2017-10-14 15:20] JimKillock opened #149 "Use multipage format for search and lists"
On the search and lists pages, eg

https://www.blocked.org.uk/list/Birmingham

or

https://www.blocked.org.uk/sites/birmingham?exclude_adult=1

use the numeric style of pagination, with a link to the first and last pages as used on the court order blocks pages

[2017-10-14 15:41] dantheta commented on #138
A bunch of duplicates have been cleaned out.  The URL normalization function needs a bit of work to stop more creeping in.

[2017-10-14 15:59] dantheta commented on #138
site count added

[2017-10-14 20:53] #145 closed, assigned to dantheta

[2017-10-14 20:56] dantheta commented on #145
Deleting items now has a smooth animation effect.

[2017-10-14 20:56] dantheta commented on #149
Lists page is done.

[2017-10-14 22:26] #149 closed, assigned to dantheta

[2017-10-14 22:34] dantheta commented on #149
The page count on very large categories can drift out of sync over time to due cached statistics; I'll keep an eye on it.

[2017-10-14 22:38] #144 closed, assigned to dantheta

[2017-10-14 22:42] dantheta commented on #121
Yep.  Probably chunks gathered together in an XML template would be easiest.  I'll create a category for the ISP description chunks to live in and add a resource which loads them as an XML doc.

[2017-10-15 11:31] SimonStJG opened #150 "Copy - What is "Internet Matters" in About section?"
About -> What does ORG want to happen?

To me, the following sentence doesn't make sense - what is "Internet Matters" here?

We want to make it easier to get sites unblocked. We think one of the ways that mobile phone companies, ISPs and Internet Matters can do this is by promoting the Blocked tool, which is the only way that someone can instantly check if a website is blocked.

[2017-10-15 11:51] JimKillock commented on #150
Fixed at CMS, may take a while to update on the front end

[2017-10-15 11:54] JimKillock opened #151 "Homepage URL"
Homepage - For example,
On my phone, with a long example URL, the URL text escapes the surrounding grey box.

[2017-10-15 15:39] JimKillock opened #152 "allow users option to 'display comments'"
Allow option for users' requests to ISPs to be stored and displayed.

These could be displayed on the 'blocked sites' page.

We would also need an admin feature to ban users and remove their comments.

[2017-10-15 15:41] JimKillock opened #153 "Add 'allow us to publish your request message' option"
Add option to requests so that we can store and publish requests made to ISPs.

This will help us implement #152 in the future (but not right now).

[2017-10-15 16:58] JimKillock opened #154 "Ban user email"
Add admin capability to ban a user by email.

In the admin area allowing sent reports to be hidden, have an option to ban the user.

[2017-10-15 22:10] dantheta commented on #140
I think hidden from search results, but findable through URL lookup.

I've removed the flagged sites from the search index, we just need a small job that is triggered when a site is flagged.

[2017-10-16 10:51] JimKillock opened #155 "Extract and test Wikipedia URLs"
Wikipedia could be a good source of URLs to test, as some seem to be blocked, while others are not.

As it is a public resource, we ought to be able to get a copy of the DB, extract and test.

[2017-10-16 12:15] JimKillock opened #156 "Extract URLs from web.archive.org"
Can we take URLs from http://web.archive.org/ somehow?

[2017-10-16 13:18] JimKillock opened #157 "Recently report site links / ISP / next page"
The recently report site links / ISP / pagination links revert to the list from all ISPs, eg :

https://www.blocked.org.uk/reported-sites/BT

next page links to

https://www.blocked.org.uk/reported-sites/2

[2017-10-16 21:10] #151 closed, assigned to dantheta

[2017-10-16 21:11] dantheta commented on #151
Unfortunately, ellipsis truncation doesn't seem to work with bootstrap.

On small screens, the url is shortened to just the domain (with the full URL as a tooltip).  This should hopefully mitigate the layout distortion a bit.

[2017-10-16 21:32] #157 closed, assigned to dantheta

[2017-10-17 00:46] dantheta commented on #153
Deployed and checked.

[2017-10-17 06:46] JimKillock commented on #153
Thanks Dan, that's great. Can you tweak the text to say "Allow Open Rights Group to publish your message text"?

[2017-10-17 06:55] JimKillock commented on #153
Acually just "Please publish my message / review"

[2017-10-17 08:59] JimKillock opened #158 "Allow user reports to be queued pending test result"
Where a test cannot be completed, because our test lines cannot respond, a user should be able to submit the report pending completion of the test.

The emails should then be queued until the report is complete, and where a block is detected, the email can be sent.

[2017-10-17 09:09] #150 closed, assigned to JimKillock

[2017-10-17 09:12] JimKillock opened #159 "Licence agreement"
We need to state that all submissions, report info etc is subject to X licence conditions (same as our data and copyright licence).

This should be stated when people are given email confirmations to submit reports in particular.

Also on the report submission page (underneath text box)

We also need to replace the /licence page

[2017-10-17 11:05] JimKillock opened #160 "Run your own probe page"
Page describing how to run a probe, download software etc. Could be on the Wiki rather than at blocked.org.uk

[2017-10-17 14:49] JimKillock opened #161 "Options on "Unblock another site" page"
When landing on the thank you / "Unblock another site" page, after submitting a unblocking request, the user should be given an option to check something else, eg:

 REQUEST UNBLOCK / VISIT SITE / TRY ANOTHER SITE

[2017-10-17 14:52] JimKillock opened #162 "Allow user to cycle through a search list"
When requesting an unblock for a site following a search, the user should be presented with the next result from the search result, and continue to cycle through the search results, rather than being given a "random site" to check at the "thank you" page.

This would also apply when navigating from a "saved list".

If this is troublesome, it can probably wait, but would make the site a lot more us

[2017-10-17 15:17] JimKillock commented on #153
Also:  let's make this pre-ticked (opt out of publication).

It's not personal info, and reasonable to assume it's normally ok to publish. It would normally be helpful to have the info public.

[2017-10-17 15:57] JimKillock commented on #159
I've duplicated the old licence page and moved into the feed area

[2017-10-17 18:52] JimKillock commented on #138
Interesting duplicate URL added today: Http://thepiratebay.org

[2017-10-17 19:59] dantheta commented on #159
I've added it to the frontend.  I've given the list of software components a bit of an update too.

[2017-10-17 20:07] #159 closed, assigned to dantheta

[2017-10-17 20:15] dantheta commented on #153
Done!

[2017-10-17 20:15] #153 closed, assigned to dantheta

[2017-10-17 20:32] JimKillock opened #163 "Lists and blocking info"
Add to user created lists

(1) blocked / unblocked info

(2) reported / unreported

(3) Link at top saying "Report these sites to ISPs"

Ensure behaviour of user created lists is to retain all sites whether blocked or unblocked

[2017-10-17 20:41] JimKillock opened #164 "Data via API"
Data isn't currently available off the API links.

Whatever is available should not include categorisation data scraped from the filters.

It also should not include negative results against domains obtained via registries.

[2017-10-17 22:04] dantheta commented on #164
Yep, we pulled those files a while back.  We can reinstate them at some point, since we've been very careful to record the source of each of the URL lists.  It's possible to separate out the sources to only provide bulk data from unencumbered sources.

I've removed the links for now.

[2017-10-17 22:16] dantheta commented on #161
For unblock requests, it already does this, providing email verification is not required.  This functionality is not yet enabled on the thanks page after flagging a site.  I'll get that added now.

[2017-10-18 08:30] JimKillock commented on #161
Just checked, via a random site from the front page, and I'm not getting a 'try another site' option.

[2017-10-18 08:35] JimKillock opened #165 "Better sources of URLs for front page"
Currently, the random sites are predominantly guns and alcohol. Around 15-20% seem to be in error. A higher percentage would help people get involved with correction.

Base the examples on user saved lists.

This would allow our local groups and activists to save lists of material that we believe needs review.

If some of the lists end up full of junk, we might need to 'opt out' lists from this.

[2017-10-18 08:43] JimKillock opened #166 "Prioritise legal blocks for retests"
Schedule legally blocked sites for retests once a month.

[2017-10-18 10:44] JimKillock opened #167 "List site links to site / report"
Change list links to go to the site:

https://www.blocked.org.uk/list/Birmingham

and add a link to "view report"

[2017-10-18 15:24] JimKillock commented on #124
No longer needed so closing

[2017-10-18 15:24] #124 closed, assigned to dantheta

[2017-10-18 15:24] #68 closed

[2017-10-18 15:33] cmlb1879 opened #168 "Spaces in search terms creates error"
When you search a term to create a list leaving a space after the word thousands more links show up e.g. penguin with no space at the end - 24, penguin with a space - 40,000

[2017-10-18 15:40] cmlb1879 commented on #168
#bug

[2017-10-18 15:57] cmlb1879 opened #169 "Lists"
When creating lists, you have to refresh the page until it's all okay, rather than heading forward to the next page when you're done with one

[2017-10-18 16:00] JimKillock commented on #169
(if you don't refresh, but instead move to the next page, then sites in the list remain unreviewed)

Possible fixed:

(1) the page could add a site as one is deleted, so that there are always the same number of sites present. This would be elegant.

(2) The 'next page' link could always link to the next set of sites for review (less elegant)

[2017-10-18 21:37] #167 closed, assigned to dantheta

[2017-10-18 21:50] #168 closed, assigned to dantheta

[2017-10-18 21:57] dantheta commented on #168
Thanks, very well spotted!

[2017-10-18 23:21] dantheta commented on #161
The route marker is in place for the frontpage random links.

[2017-10-19 07:04] JimKillock opened #170 "Capitalisation leading to duplicate entries"
In (sub) domain entries particularly, capitals should not lead to duplicates.

With the list of legal blocks, these have come to the top of the list up recently:

http://Couchtuner.me
http://Gostream.is

and this, previously reported:
Http://thepiratebay.org

[2017-10-19 11:08] tonynaggs opened #171 "more categories for yes this should be child-blocked"

[2017-10-19 11:15] tonynaggs commented on #171
When classifying a web site it would be good to have more categories, it seems wrong to tag everything I think should be blocked as porn. And is unhelpful if someone wants to review my classifications.
Suggestions:  non-porn but sex related, cannabis/drug supplies/culture, anarchist / bomb making kinds of stuff, eating disorder fetishism.

[2017-10-19 11:31] tonynaggs commented on #171
I guess also gambing, tobacco / alcohol brands, violence/gore. I'm sure there are a few more.

[2017-10-19 11:33] tonynaggs commented on #146
Some ideas on categories of child unfriendly sites are suggested in https://github.com/openrightsgroup/blocked-org-uk/issues/171

[2017-10-19 11:44] tonynaggs commented on #165
Maybe we can do better at prioritising English language sites? Even with the help of Google translate I'm not necessarily able to quickly distinguish a Japanese blogging site from an erotica site.

[2017-10-19 11:48] JimKillock commented on #171
https://www.blocked.org.uk/stats has the categories the ISPs are using, so maybe we should use that.

Alcohol is problematic of course. I agree "brands" is the right categorisation as it excludes pubs, vineyards and restaurants.

[2017-10-19 11:52] tonynaggs opened #172 "improved keyword search: word match and phrases"
Currently searching for the Cambridgeshire village "melbourn" matches longer words such as "Melbourne".
While searching for "pony club" matches hundreds of nightclubs, gun clubs, casinos, and goodness knows what.

[2017-10-19 11:55] JimKillock commented on #172
Short phrase searches can be useful so maybe counsel* should search for counsellor etc?

[2017-10-19 16:41] dantheta commented on #138
Yep, mobile platforms automatically capitalize the first character of most input fields.

[2017-10-19 22:10] dantheta commented on #170
No new duplicates can go into the system now.  I'll need to spend a bit of time cleaning up the existing data, which is one of the tasks in #138 .  I'll close this one for now.

[2017-10-19 22:10] #170 closed, assigned to dantheta

[2017-10-19 22:20] dantheta commented on #161
Fixed now.

[2017-10-21 12:47] dantheta commented on #121
The chunks have been created in the Campaign Sites / Blocking / Network Descriptions category

[2017-10-21 13:09] #121 closed, assigned to dantheta, edjw, pamcowburn

[2017-10-21 13:12] dantheta commented on #121
The tooltips are currently shown on the results page only.  We can add it to others though - feel free to reopen to have them added to other templates.

[2017-10-21 13:37] #143 closed, assigned to dantheta

[2017-10-21 21:19] dantheta commented on #140
The button title now changes depending on whether the site is flagged or reported for unblocking.

[2017-10-21 21:20] dantheta opened #173 "bt-strict unblocking silently fails"
BT-Strict doesn't have an administrator address associated, to avoid sending two reports when a site is blocked on light and strict.

Fix the mailer to only send one report per admin address, and allow sites that are blocked only on strict to be reported.

[2017-10-22 21:23] JimKillock opened #174 "Ensure bt-strict blocks do not lead to report form"
It is possible to get to a report form from a site that is only blocked by BT-strict.

We should instead state that sites blocked by BT-Strict cannot currently be reported as the categorisations are too wide.

Or else, allow it, but remind the end user that many sites are blocked under BT Strict.

[2017-10-23 07:43] JimKillock opened #175 "Control page fixes"
1 Top link goes to /admin ("Blocked.org.uk Admin")

2 Some of the list appear to be listed twice (they may not be duplicates, as they have the same number of sites listed)

[2017-10-23 07:43] JimKillock opened #176 "Merge lists feature"
Create feature to merge one or more saved lists, removing duplicates

[2017-10-23 07:45] JimKillock commented on #173
Sounds good to me (closed #174 )

[2017-10-23 07:46] #174 closed, assigned to dantheta

[2017-10-23 07:52] JimKillock opened #177 "Identify groups of clone sites for court order blocks"
Most UK court orders are blocking large numbers of clone sites.

For the UK, we can reasonably assume that clone sites are blocked by the same court order.

We can identify them manually via a visual check, in the admin system.

This may also apply or be useful for the EU sites, but the terms of court orders tend to be stricter, and will in any case vary, so should be applied with caution outside

[2017-10-23 08:26] JimKillock opened #178 "Follow up of older reports"
Create means for an admin user to make a request to an ISP for follow up of older unblock requests.

Where the ISP indicates they will not change the block, allow the admin user to flag that the ISP has stated the classification is correct.

[2017-10-23 10:38] JimKillock commented on #161
Not working for me.

I tried reporting a random site, and got to the thank you page, but did not get a "try another site" link.

TBH it can just be on all results pages?

[2017-10-23 11:45] JimKillock commented on #178
This kind of correspondence could also be public, on WDTK lines.

[2017-10-23 20:04] dantheta commented on #175
They were lists created with the same names (missing unique constraint).  This has been fixed now, and the duplicates have been suffixed to allow them to be reviewed and deleted if necessary.

[2017-10-23 20:04] #175 closed, assigned to dantheta

[2017-10-23 20:41] dantheta commented on #162
keyword search and category search results already show further entries from the same source on the thanks page.

At the moment, the saved lists are held in a database by the website frontend; they should be moved into the middleware, where we'll be able to join against the probe results and filter them based on whether they're still blocked or have been reported.  Then we'll be able to do forward

[2017-10-23 21:21] dantheta commented on #162
I've made some fixes to onward navigation that should improve the flow.  Also fixed is the message at the top of the page when an onward site is available: it displays a suitable message depending on whether the last action was to flag a site or report it for unblocking.

[2017-10-25 23:52] dantheta commented on #82
This is done now.  When viewing a flagged site, the "Tell us about this site" cell contains some information about flags that have already been applied to that site.

[2017-10-26 07:14] JimKillock commented on #82
Could you send a link to a flagged site to show us how it looks? The information should be reasonably prominent to someone looking at the page.

[2017-10-26 21:23] dantheta commented on #82
https://www.blocked.org.uk/site/http://www.nottsgirls.co.uk

[2017-10-27 00:18] #140 closed, assigned to dantheta

[2017-10-27 00:42] #158 closed, assigned to dantheta

[2017-10-28 14:06] JimKillock opened #179 "ISP response statistics"
Display numbers for unblock requests per ISP:

* Total requests made
* Total / percentage unblocked following request (based on 'single ISP requests' only [1]
* Response time in days (based on date the email is sent, not the date the request is submitted)  (based on 'single ISP requests' only [1]

[1] Many requests that go to multiple ISPs will result in an unblock across several ISPs, so response

[2017-10-28 14:07] JimKillock commented on #165
@tonynaggs We should overcome the language issue by using our user generated lists

[2017-10-28 14:08] JimKillock commented on #165
@dantheta I think there are sufficiently large lists to make this a goer now. We might want to add an admin feature to select the lists for the front page in the admin pages

[2017-10-28 14:14] JimKillock commented on #162
Does this also work for saved "lists"? It should I feel.

[2017-10-28 15:57] JimKillock commented on #161
(still not working for me.)

[2017-10-28 16:01] JimKillock commented on #161
Placing this request here: on cycling through a "chess" search, I needed to try another site in my search, while on a results page, but did not have a link to "try another site".

If I report the site as adult, I do cycle back to the results, which is great.

[2017-10-28 16:07] JimKillock opened #180 "Reported (but not emailed?) sites can still cycle through"
When cycling through "chess" sites I was asked to review a BT Strict site I had already processed.

The site is not in the "reported sites" so I presume there is a logic error that means the site is still availablle for review.

This could be because the email is not sent, so the system believes the site has not been reviewed / reported.

[2017-10-28 16:18] JimKillock opened #181 "Reported sites not marked as "Unblocked requested""
Where a site has been queued for reporting following an unblock request, it is still marked as not reported.

eg

http://www.chessgames.com

This should state either 'report requested' or more accurately 'queued for reporting'

[2017-10-28 16:23] JimKillock opened #182 "Add user review to website report"
Add the text of any user review, or any user flagging or categorisation information, to the website report page.

Note #171 for category choices which should be completed with this change.

[2017-10-28 16:23] JimKillock commented on #171
See also #182

[2017-10-28 16:33] JimKillock opened #183 "Change page title on report pages"
Change the page title on report pages from

* "url" to "Site report: URL"

[2017-10-28 16:37] JimKillock opened #184 "Skip "your details" page when user confirmed"
There is no need to go through this page once a user has confirmed their details.

The owner / user options could be put onto the submit report page if we wanted.

This would speed the process up

[2017-10-28 17:04] JimKillock commented on #180
My mistake – it does appears to mark the site as reported.

[2017-10-28 17:04] #180 closed, assigned to dantheta

[2017-10-28 17:05] JimKillock commented on #181
This seems to be working correctly, my mistake

[2017-10-28 17:05] #181 closed, assigned to dantheta

[2017-10-28 17:08] JimKillock opened #185 "Re-enable Virgin"
I think Virgin results are still currently non-visible, they can be re-enabled and queued instead

[2017-10-28 17:16] JimKillock opened #186 "Change details on queued reports"
"Reported at" should state "on hold"

Then the time should be recorded as the time of sending the email to the ISP.

[2017-10-28 19:48] JimKillock opened #187 "Indicate court order blocks on report pages"
For instance:

https://www.blocked.org.uk/site/http://thepiratebay.org

should ahev:

1 "This site is blocked by court order"

2 A link to the public block page

It can link through to fuller information on the court order at a later date (for instance, the full set of domains blocked for this site).

see also: #139

See also: #252, request for links to block page for filter blocks

[2017-10-28 19:49] JimKillock opened #188 "Legal blocks page"
Link through to site reports for each URL

https://www.blocked.org.uk/legal-blocks

[2017-10-30 01:04] dantheta commented on #183
Done!

[2017-10-30 01:04] #183 closed, assigned to dantheta

[2017-10-30 01:13] dantheta commented on #161
OK, think I got it this time.

[2017-10-30 02:14] dantheta commented on #162
Yep, that's enabled now.  In the short term, the random selection from the list doesn't know if the site has been unblocked or not.  This will change when the lists are stored in the backend,

[2017-10-30 02:14] #162 closed, assigned to dantheta

[2017-10-30 02:16] dantheta commented on #162
Left a reminder here: openrightsgroup/cmp-issues/issues/173

[2017-10-30 07:32] JimKillock opened #189 "Previously blocked or reported results appearing in search"
When searching for 'chess' sites, and cycling through sites to report them, a previously reported, now unblocked site came up for reporting:

https://www.blocked.org.uk/site/http://chess-links.org

Another result came up that was blocked but already queued for reporting:

https://www.blocked.org.uk/site/http://chessgames.com

[2017-10-30 07:43] JimKillock commented on #161
Great, yes working for me. The random results are 90% irrelevant now so it is getting a bit hard to test!

[2017-10-30 07:43] #161 closed, assigned to dantheta

[2017-10-30 20:55] #186 closed, assigned to dantheta

[2017-10-30 21:16] dantheta commented on #185
Virginmedia reports are all working, and are queueing normally.  We'd previously stopped the virgin blocks going into the search index for dmoz categorized sites, so there isn't too much to undo.

[2017-10-30 21:16] #185 closed, assigned to dantheta

[2017-10-30 21:18] JimKillock opened #190 "Reported sites unblocked / on hold"
Not sure why some reported sites are showing as  both unblocked *and* on hold.

If this is right, then the scheduled test presumably shouldn't send a report, and the report (attempt) should be hidden / discarded / removed.

[2017-10-30 23:31] dantheta commented on #190
Those are ones that were queued for retesting, and the retest came back as "not blocked".  Behind the scenes, the status of those reports is set to "cancelled".  I've hidden those (and ones which are flagged as system abuse) from the legal blocks page.

[2017-10-30 23:31] #190 closed, assigned to dantheta

[2017-10-31 02:00] dantheta commented on #189
We'd previously removed urls from the search index when they were unblocked - I've updated the reporting code to remove urls when they are flagged and/or submitted for unblocking.  There were a few stragglers left in the search index from before the code was written.

Second-hand data is always problematic ...

[2017-10-31 05:29] JimKillock opened #191 "Add ISP filter to search"
Allow users to filter the search results by ISP

[2017-10-31 07:30] JimKillock opened #192 "Thank you / unblock another site"
Make the main link under "Unblock another site" an active link

[2017-10-31 07:32] JimKillock opened #193 "Thank you / unblock another site"
Make the Tell us about this site / Please let us know link into a 'reveal' rather than a link to another form

[2017-10-31 08:06] JimKillock opened #194 "Keep unblocked sites in saved lists"
Checking on this behaviour: when sites in saved lists are unblocked, they should stay in the list, but should be marked as 'unblocked'.

[2017-10-31 08:07] JimKillock opened #195 "Reported sites: ISP dropdown"
Add Virgin into the filter list.

[2017-10-31 08:50] JimKillock opened #196 "Move bootstrap etc to local storage"
Move any external components such as fonts, bootstrap etc to local storage at blocked.org.uk

This improves privacy and performance for some users who block potential tracking methods. It may otherwise attract complaints.

[2017-10-31 10:47] cmlb1879 opened #197 "Unblock another site"
When you click unblock another site on the Thank you page, it shows an error message

[2017-10-31 10:55] cmlb1879 commented on #197
It seems to have stopped doing this now

[2017-10-31 11:57] JimKillock opened #198 "Appeal to BBFC (mobile only)"
Offer a facility to send a report to the BBFC asking them to re-classify a site where the MNOs have not done so, or have failed to look at it.

This could include a follow up email to the original complainant, and a page of complaints that can be appealed, with a button to move to a BBFC appeal page.

[2017-10-31 11:58] JimKillock commented on #197
This ok to close?

[2017-10-31 19:56] JimKillock opened #199 "Search results / saved lists page text"
Add on the search page and saved lists pages, underneath the "XXX blocked sites" title:

"Use the 'request unblock' tool to start reporting the mistakes listed here."

[2017-10-31 20:08] #197 closed, assigned to nobody

[2017-10-31 21:23] dantheta commented on #194
Items don't get removed from lists when they're unblocked - at the moment, the list function doesn't know if the sites are blocked or not at all, but that will change in the near future.

[2017-10-31 21:23] #194 closed, assigned to dantheta

[2017-10-31 21:26] #199 closed, assigned to dantheta

[2017-10-31 21:27] #195 closed, assigned to dantheta

[2017-10-31 21:40] #192 closed, assigned to dantheta

[2017-10-31 22:08] #196 closed, assigned to dantheta

[2017-11-01 08:32] JimKillock opened #200 "Part-reported sites"
Some sites eg https://www.blocked.org.uk/site/http://johnmottershaw.com

were reported, but not to TT / Virgin as disabled, and can currently not be re-reported to these.

We need a method to find these and re-file reports, or the reports could be automatically found and send.

Also currently they cannot be manually filed ("Unblocked requested")

[2017-11-01 08:34] JimKillock opened #201 "Improve or change cycling behaviour"
The "random" element seems to re-represent the same sites very frequently.

I think from lists and searches it is better to cycle through in list / search rank order.

[2017-11-01 08:36] JimKillock commented on #189
I'm still getting this behaviour, seemingly including sites I'd just reported. See also #201

[2017-11-01 10:14] JimKillock opened #202 "Missing icons from css (?)"
Icons for external links, select for deletion etc are missing. Some seem related to boostrap / css

You probably know about this!

[2017-11-01 19:38] JimKillock opened #203 "Court orders: link to public block page"
Many court order blocks page are linked / redirects to public pages.

Where this is the case, we can record the public block page and link to it for each URL.

[2017-11-01 19:50] #82 closed, assigned to nobody

[2017-11-02 00:20] #202 closed, assigned to dantheta

[2017-11-02 00:20] dantheta commented on #202
Yep, the bootstrap bundle was incomplete.  All fixed now.

[2017-11-02 08:04] JimKillock commented on #189
This is good enough for launch, so I am changing the tag in case you want to leave it till next week.

[2017-11-02 12:22] dantheta commented on #164
Suggest reinstating sanitised downloads after launch. There are no dangling references to the files in the copy.

[2017-11-02 12:26] dantheta commented on #201
The list of sites for cycling is currently drawn from the current page of whatever search, list or category the user was looking at before. It should be possible to cycle using strict ordering, but then we might have users racing against each other through the lists. I think shuffling is still a good plan, but we can widen the candidate sites to the entire list, search or category instead of just

[2017-11-02 12:28] dantheta commented on #138
1,2 and 4 are done. Would suggest punting 3 to post launch, since it's data cleanup that isn't hugely user visible.

[2017-11-02 12:32] JimKillock commented on #201
OK, that makes sense (shuffle but use whole list)

[2017-11-02 19:44] JimKillock opened #204 "Retest data on saved lists"
As we will be basing the front page content on saved lists, to make them cleaner material for checking and reporting, we should prioritise any website on the list for retesting and cleaning:

(1) Retest and remove from front page pool anything already unblocked

(2) Retest say fortnightly or weekly

(3) Retest for sites that (a) are http and just hang and (b) redirect; remove these from the front

[2017-11-02 20:01] JimKillock opened #205 "BBFC adjudications page"
Add page showing sites that the BBFC have adjudicated as adult / not adult and the dates.
* Include blocked / unblocked status
* Include the text of the adjudications

This will also require administration pages to:
(a) flag a site as being subject to a BBFC adjudication
(b) add a date of the adjudication
(c) state the result (block / unblock
(d) add the text of the adjudication
(e) add a link to

[2017-11-02 20:06] JimKillock opened #206 "BBFC adjudications stats page"
* Number of adjudications per quarter
* Number of unblocks per quarter
* Number of blocks retained per quarter
* Number of unblocks currently ignored by MNO(s)

See #205 also, this information will have to be added via admin pages

[2017-11-02 20:24] JimKillock opened #207 "Check mobile contact emails"
As we aren't getting responses from O2 and EE, can you check that the emails are going to the contact addresses listed here:

http://www.bbfc.co.uk/about-bbfc/links#mobile

[2017-11-02 20:29] JimKillock opened #208 "Add blocked / status to lists"
As lists can contain URLs that are unblocked, flagged or perhaps are found to be redirect sites, these status items should be displayed on the list page.

[2017-11-02 23:22] JimKillock commented on #207
I've filed four of the complaints EE / O2 haven't responded to the to BBFC as an 'appeal' to see if that prods them into action

[2017-11-02 23:39] dantheta commented on #207
We had:
O2:  shieldav@o2.co.uk
Vodafone: ukmediarelations@vodafone.com

The BBFC page lists:

imescalations@o2.com
Contentclassification@vodafone.com

Vodafone were very responsive on the media address though.

The EE address we're using matches the one on the BBFC site.

[2017-11-03 00:24] #201 closed, assigned to dantheta

[2017-11-03 07:18] JimKillock commented on #207
Thanks Dan. We should use as advertised, as we want all complaints dealt with properly, nit just ours.

[2017-11-03 10:25] JimKillock opened #209 "Two admin levels plus user accounts"
Create two levels for logged in users:

* basic, that can create and edit saved lists,
* admin, that has all the extra abilities, to delete lists, assign to front page etc

Create user accounts to assign to the permission levels

[2017-11-03 10:26] JimKillock opened #210 "Lists page"
Create a public 'list of lists page'

[2017-11-03 11:25] JimKillock opened #211 "Add statistic to front page"
N domains and URLs checked totals, N blocks detected

[2017-11-03 11:26] JimKillock opened #212 "Add ORG brand as strap to top"
Add black band with Long) ORG logo approx 15px high "Transparency campaign from"

[2017-11-03 18:27] JimKillock opened #213 "Icons for filter info"
Add "i" icon for filter information. JS hover to show full information.

Add to "reports to ISPs" page.

[2017-11-03 19:50] dantheta commented on #207
Updated.

[2017-11-03 19:50] #207 closed, assigned to dantheta

[2017-11-03 20:29] #165 closed, assigned to dantheta

[2017-11-03 21:18] dantheta commented on #213
Site page updated, with some really nice JS popovers.  Reported sites to follow, requires a middleware change.

[2017-11-03 23:02] dantheta commented on #213
Done!

[2017-11-03 23:02] #213 closed, assigned to dantheta

[2017-11-03 23:43] JimKillock opened #214 "Add Three to reported sites filter"
Allow users to search for sites reported to Three

[2017-11-03 23:44] JimKillock commented on #213
Great work :)

[2017-11-03 23:50] JimKillock opened #215 "Add [i] icon to "Request a site be unblocked""
(Report form page)

This would be very helpful, to remind users what is being blocked and why as they report it.

Also add to front page be each ISP that blocks the example.

[2017-11-04 07:12] JimKillock opened #216 "Performance stats"
General performance stats:

* Tests performed per month
* Repeat tests performed per month
* New tests made per month

* Number of probes (UK and beyond)

For our main filtered lines:

* Filter up / down
* Days filter down (total)

[2017-11-05 15:18] JimKillock opened #217 "Export legal block URLs"
Add tool to download court order blocks

[2017-11-05 17:15] #155 closed, assigned to dantheta

[2017-11-05 17:16] #152 closed, assigned to dantheta

[2017-11-05 17:19] #132 closed, assigned to dantheta

[2017-11-07 13:30] dantheta opened #218 "Try another site link sometimes gives 500 error"
When a search or category has only one result, the "try another site" (/next) link errors a 500 error. This also happens when using the same button from the /thanks page. The link should be removed from that page, since it has already failed to select a follow-on site.

[2017-11-07 14:29] gwire commented on #218
Something other than an error should happen when someone visits "/next" on its own, also.

[2017-11-07 14:52] dantheta commented on #218
Indeed - when the URL works, it always emits a redirect, so I hadn't intended it to be part of the public interface.  It should fall back on pulling a random URL from the public lists if there's no saved route information.

[2017-11-07 21:23] #218 closed, assigned to nobody

[2017-11-07 21:42] #215 closed, assigned to dantheta

[2017-11-07 21:45] #214 closed, assigned to dantheta

[2017-11-08 22:38] #212 closed, assigned to dantheta

[2017-11-08 23:22] #210 closed, assigned to dantheta

[2017-11-09 00:59] dantheta commented on #210
There's a CMS feed so that the banner text can be changed on the list of lists page too.

[2017-11-10 22:00] #176 closed, assigned to dantheta

[2017-11-13 10:52] JimKillock commented on #142
Dan, I'm moving this up the pile so that we can point TalkTalk and Ofcom to stats regarding TT's filter malfunctions.

[2017-11-13 21:07] JimKillock commented on #134
Note: this should apply to whole domains as previously discussed

[2017-11-13 23:47] #217 closed, assigned to dantheta

[2017-11-14 10:14] cmlb1879 opened #219 "individual log-ins"

[2017-11-14 16:25] JimKillock commented on #160
I've added text at https://browse.blocked.org.uk/feed/run-your-own-probe.xml

[2017-11-14 21:44] dantheta commented on #160
Page is live, and can be linked from the support page.  URL is: https://www.blocked.org.uk/run-your-own-probe

[2017-11-14 21:44] #160 closed, assigned to JimKillock, dantheta

[2017-11-14 22:10] dantheta commented on #142
The filter up & down time isn't data that we've currently got available historically.  The last seen timestamp is the most readily available stat.  We can add some extra telemetry to the probe so that self-test failures are recorded.

[2017-11-15 01:20] dantheta commented on #134
Added control panel for regexes / domain patterns that wil be blacklisted.
The frontend disables the "request unblock" button when it is showing results for a blacklisted site.  The adult/dead/broken feedback is still permitted.

If the user manipulates URLs to get the unblock form, even on a blacklisted site, they will get a message indicating that their unblock request has been rejected.  The wo

[2017-11-15 10:01] JimKillock commented on #142
OK, that makes sense. The TT info could be generally useful, where we know users have chosen a setting, and it gets changed without warning :)

[2017-11-15 13:29] JimKillock opened #220 "Logged in and not logged in versions are different"
The not-logged in version has content that is maybe 1-2 days old

[2017-11-15 13:45] dantheta commented on #220
The frontend caches the remote loaded content for logged-out users.  When logged in, admin users always see the latest version.  Saying that, it should only cache that content for a few hours, so something is going amiss there.

[2017-11-15 13:45] dantheta commented on #220
I've hand-cleared the cache, so the newest content should be visible for all users.

[2017-11-15 13:46] dantheta commented on #220
We could also have a "clear cached content" button in the admin panel, in case there's a typo in the CMS content that we want cleared quickly.

[2017-11-15 13:49] JimKillock commented on #220
Sounds a good idea :)

[2017-11-15 14:03] JimKillock commented on #219
Duplicate, see #209

[2017-11-15 14:03] #219 closed, assigned to nobody

[2017-11-15 14:05] JimKillock commented on #209
Also: allow users to view lists of their own blocked reports

[2017-11-16 21:12] JimKillock opened #221 "Find .uk suspended domains"
We should be able to find .uk domain suspensions at Nominet. See: https://www.infosecurity-magazine.com/news/suspended-uk-domains-double-in-a/

We may also need to find different suspension pages, eg:

DEFRA – Veterinary Medicines Directorate; Metropolitan Police – Fraud and Linked Crime Online (FALCON); the National Crime Agency (NCA); Medicines and Healthcare Products Regulatory Agency (MHRA); T

[2017-11-16 21:22] dantheta commented on #221
We've picked up a few - https://www.blocked.org.uk/sites/pipcu

The probe rulesets don't cover the domain seizures at the moment - they don't vary by ISP.  Also, during the larger scale URL testing we were only collecting page metadata for sites that had been matched against copyright/parental control.  The page data was being collected for the keyword search index, and we didn't have a use for pa

[2017-11-16 21:26] JimKillock commented on #221
OK, not a problem. Are we able to detect them now, or to start looking for them?

[2017-11-16 21:50] dantheta commented on #221
Yep - I've got a match pattern for pipcu, and as we find others we can include them too.  It might be good to refactor the rules file a bit so that we can have a global pattern list as well as the per-ISP ones.

[2017-11-17 21:23] JimKillock commented on #142
Thanks for the changes so far Dan. Will the status reports be able to say "unfiltered" and show the line as expected "filtered" or similar? The results will need to show that TT filtering is expected and not present, etc

[2017-11-17 21:24] JimKillock commented on #134
This looks very good. So any domain added will be blocked for all URL requests?

[2017-11-17 21:25] JimKillock commented on #134
Just tested it and it clearly works that way, thank you!

[2017-11-17 21:31] JimKillock commented on #142
Maybe we could add a column saying: "Filtering" with results "On" or "Off" and make the names clearer, eg:

* Virgin Media default filter AAISP
* Virgin Media default filter line 2
* TT Kidsafe AAISP
* TT line 2 variable filtering
* EE filtered
* O2 filtered
* PlusNet filtered AAISP
* PlusNet filtered line 2
etc

[2017-11-17 21:36] JimKillock commented on #221
yes, for suspension on one line means it does not need testing elsewhere. The main thing is that we try to record the suspension page.

For PIPCU we could try finding domains that resolve to their IP address  83.138.166.114 (see http://83.138.166.114 ) and then if we like double testing them … except their server isn't responding …

[2017-11-17 21:38] JimKillock commented on #221
See also https://wiki.openrightsgroup.org/wiki/Police_Intellectual_Property_Crime_Unit#Domain_pointing

[2017-11-20 10:59] JimKillock opened #222 "Public DNS services"
Add probes to test public DNS services (Google, Police and OpenDNS)

[2017-11-21 09:03] JimKillock opened #223 "Copy changes: making complaints to ISPs clearer"
At https://www.blocked.org.uk/unblock

https://www.blocked.org.uk/unblock2

"Request a site be unblocked" » "Request ISPs remove this site from filters"

Add: "This request will be sent to all ISPs to remove this site from their content filters."

"Please explain why this site should be unblocked" Add
"Your email will be sent to [ISP], [ISP]."

Thank you page: "Your unblock request was successfull

[2017-11-21 21:46] dantheta commented on #223
Updated.  The unblock thanks text is stored in the unblockThanks chunk in modX, in case it needs any more changes.

[2017-11-21 21:46] #134 closed, assigned to dantheta

[2017-11-22 14:52] cmlb1879 opened #224 "Make clearer who specifically reports are sent to"
Make clearer who specifically reports are sent to

[2017-11-22 14:52] cmlb1879 opened #225 "The Legal Blocks page could use a simple description, something like "These are lawful blocks that have been ordered by the Government""
The Legal Blocks page could use a simple description, something like "These are lawful blocks that have been ordered by the Government"

[2017-11-22 14:53] cmlb1879 opened #226 "Card for social media"
Add an image to pull through in social media links

[2017-11-22 15:14] cmlb1879 commented on #223
Can we (on https://www.blocked.org.uk/unblock) add in, under the link, above the Your details "Use this form to send ISPs an e-mail, asking them to remove this site from their filter block list"

[2017-11-22 15:21] #224 closed, assigned to nobody

[2017-11-22 15:23] JimKillock commented on #226
Suggest that we do this via MODX, ie assign images and URLs from the template variables on the pages.

[2017-11-22 23:59] dantheta commented on #225
Do we need to make a distinction between the Government and the courts?

[2017-11-23 00:14] dantheta commented on #220
Added admin panel function.

[2017-11-23 00:14] #220 closed, assigned to dantheta

[2017-11-23 08:46] JimKillock commented on #225
I've edited this in the CMS so it has a reasonable description of what is going on. Thanks for the clear ache facility also Dan!

[2017-11-23 08:46] #225 closed, assigned to dantheta

[2017-11-24 16:04] JimKillock opened #227 "More probes and data"
Add extra probes for:

* EE
* Increase bandwidth on O2
* TT new line

[2017-11-24 16:14] JimKillock opened #228 "New TT line"
Get new TT subscriber line (with ORG account access)

[2017-11-24 19:44] JimKillock opened #229 "Unblocked sites appearing on front / random links"
@dantheta as we discussed today, there are some "unblocked" sites in the random sites lists that do not currently have blocks

[2017-11-24 20:37] JimKillock opened #230 "Sort Legal blocks according to name"
Default sort legal blocks according to name
* Reduce entries to one entry per URL;
* Add column for networks blocking it, eg Sky, Virgin, BT, TalkTalk, PlusNet
* Add link to full site report
* Add ability to sort by latest block detected

[2017-11-25 13:40] JimKillock opened #231 "WHOIS data"
Scrape relevant WHOIS data from Nominet, eg, expiry dates, domain status codes, using

https://github.com/ntblk/whois-rdap

– if we can under Nominet's T&Cs

More info here:

http://registrars.nominet.uk/namespace/uk/registration-and-domain-management/query-tools/dac/instructions

http://registrars.nominet.uk/registration-and-domain-management/contract-terms#whois2%20terms

[2017-11-25 16:44] dantheta commented on #229
Added a daily recirculation of listed sites, copying their blocked and reported status to the frontend DB.  It's still possible to catch a listed site before it has been updated, but that window should be pretty small.

[2017-11-25 16:44] #229 closed, assigned to dantheta

[2017-11-25 17:01] dantheta commented on #208
Saved lists now show the blocked/reported status saved on the list entry.

[2017-11-25 17:05] dantheta commented on #138
Moving (3) to a separate issue.

[2017-11-25 17:05] #138 closed, assigned to dantheta

[2017-11-25 17:07] dantheta opened #232 "Tidy results in court order listing"
Remove/hide URLs that include information after / eg

piratebay.org/user/pirate

from #138

[2017-11-25 17:55] dantheta commented on #204
1 & 2 are done.

[2017-11-25 17:59] dantheta commented on #163
1 & 2 have been taken care of in other tickets.  I think (3) has been taken care of as well.

[2017-11-25 18:44] JimKillock commented on #227
EE is ordered and working, 50gb pcm line, so lots of capacity.

TT landline is ordered and in progress for mid December.

O2 is upped to 3gb but we can increase it further.

[2017-11-25 18:55] JimKillock commented on #227
I will also see about an O2 4G data SIM, they're much bigger data contracts

[2017-11-25 19:29] JimKillock commented on #163
(1) and (2) are done, looks great.

On (3) I think the lists need an "unblock this site" link, at the far right, after  "view site report"

[2017-11-25 19:33] #208 closed, assigned to dantheta

[2017-11-25 19:40] JimKillock opened #233 "Unblocked sites available to check in lists cycle"
When cycling through a list of sites, those sites that are unblocked appear in the selection of sites to check / unblock.

[2017-11-25 19:41] JimKillock commented on #233
May be related to #189

[2017-11-25 19:44] JimKillock opened #234 "General clean up of sites to unblock needed"
This is a general feel from trying to make reports: I quickly got a lot of data that seemed not very relevant or worth reporting.

This may be because obvious sites are already reported, or it may be poor luck; or perhaps the user lists themselves are not especially clean.

[2017-11-25 19:45] JimKillock opened #235 "Add source of URL"
For debugging and interest purposes:

On the front page, and from the thank you page, add:

"Website selected from user list [link][Name][/link]"

This will help us locate any lists with bad data.

[2017-11-25 20:16] JimKillock commented on #188
Mentioned in #230 so closing

[2017-11-25 20:16] #188 closed, assigned to dantheta

[2017-11-25 20:17] JimKillock commented on #177
Closing as this is covered in #139

[2017-11-25 20:17] #177 closed, assigned to dantheta

[2017-11-25 20:19] JimKillock commented on #203
Merging this request into #139

[2017-11-25 20:19] #203 closed, assigned to dantheta

[2017-11-25 23:36] JimKillock opened #236 "Old tests on front page data"
Some of the tests for the front page data dates back to March, eg:

https://www.blocked.org.uk/site/http://www.flower-preservation.co.uk

Can we schedule a full regular retest on sites that are listed there?

[2017-11-26 01:30] dantheta commented on #236
This is taken care of by #229 & #204

[2017-11-26 01:30] #236 closed, assigned to dantheta

[2017-11-26 02:08] dantheta commented on #233
There have been a lot of changes to this today.  The next time you see one, can you post it as an example?

[2017-11-26 09:04] JimKillock opened #237 "Add API calls info"
On each results page, recent blocks page, copyright blocks page, add section:

Get API call for these results [reveal]:
* Show full API call to get the result
* Link to Request API key

[2017-11-26 09:18] JimKillock commented on #233
Sure @dantheta, here's an example listed from the front page: https://www.blocked.org.uk/site/http://www.imtasik.org

[2017-11-26 09:21] JimKillock commented on #233
I tried using the Cardiff list and got: https://www.blocked.org.uk/site/http://www.ukdrivercpcnetwork.co.uk in the cycle

[2017-11-26 11:02] JimKillock opened #238 "Reports to BT-strict not filed"
Report filed from:

https://www.blocked.org.uk/site/http://www.dscb.co.uk

did not send to BT-Strict

[2017-11-26 11:05] JimKillock commented on #228
Placed into #227

[2017-11-26 11:05] #228 closed, assigned to JimKillock

[2017-11-26 12:17] JimKillock opened #239 "Saved lists page improvements"
Add new information columns on saved lists page:

* Number of sites
* Number of reports made
* Number of sites blocked
* Number of sites unblocked

[2017-11-26 12:22] dantheta commented on #238
Duplicate of #173

[2017-11-26 12:22] #238 closed, assigned to dantheta

[2017-11-26 12:24] dantheta opened #240 "Pull test URLs from commoncrawl.org"
http://commoncrawl.org/ - searchable by cctld.

[2017-11-26 12:26] JimKillock commented on #227
Looking at the mobile packages, we can upgrade to 4G packages for O2, Three and Vodafone, with data from 20-50gb a month. Three IIRC has to be a phone contract. O2 and Vodafone have confirmed that parental controls are present on their data lines.

[2017-11-26 12:42] JimKillock commented on #240
This looks great :)

[2017-11-26 13:17] dantheta commented on #230
Updated.  The exported list still has the same format.

[2017-11-26 13:17] #230 closed, assigned to dantheta, alexhaydock

[2017-11-26 13:27] dantheta commented on #233
Both interesting cases - imtasik was updated from the backend DB at midnight, and resubmitted for testing at 04:30.  It would pick up the unblocked status some time in the next 24 hours and stop appearing in the frontpage results then.

I'm going to move the storage for the saved lists into the backend DB where it can be joined against the latest results every time it's called.  We won't get secon

[2017-11-26 13:30] JimKillock opened #241 "Legal blocks page – site report link"
Change the report link to say "Site report" rather than using the URL

New page looks great btw

[2017-11-26 13:32] JimKillock commented on #235
(It's also helpful for people navigating from a list, and for discovery of the lists)

[2017-11-26 13:42] JimKillock opened #242 "Remove public block pages from court order block lists"
The block pages themselves, eg:

* https://www.blocked.org.uk/site/http://assets.virginmedia.com/site-blocked.html
* https://www.blocked.org.uk/site/http://www.ukispcourtorders.co.uk

Should be excluded from the court order lists; (but as noted in #187 the links should be available in the site reports).

[2017-11-26 13:48] JimKillock commented on #187
Re: 2 A link to the public block page – this could be listed after the 'category' column, or the link could be included within it, eg "[link]Public block page[/link]"

[2017-11-26 15:09] dantheta commented on #241
Tried it as an extra column, but it made it a bit too busy.  Is the second level link OK?

[2017-11-26 15:10] dantheta commented on #233
Found & fixed another place where they were creeping in.  The random selection is quite a complicated workflow ...

[2017-11-26 16:11] dantheta commented on #239
Is this for the adminitrator's list of lists page, the public one or both?

[2017-11-26 16:19] JimKillock commented on #239
This is for the public page

[2017-11-26 17:14] JimKillock opened #243 "Pagination error on legal bloks"
Pagination links run to 106 pages; 43 pages are needed:

https://www.blocked.org.uk/legal-blocks/43?sort=url

[2017-11-26 17:15] JimKillock commented on #235
Looks good to me :)

[2017-11-26 17:19] JimKillock commented on #235
Can we add this to the thank you and site report page also:

https://www.blocked.org.uk/site/http://www.days-calculator.com

Perhaps: "This website is listed on user list [link][Name][/link]"

[2017-11-26 17:19] JimKillock commented on #241
That's great, thanks Dan

[2017-11-26 17:19] #241 closed, assigned to dantheta

[2017-11-26 20:08] dantheta commented on #243
Oops, committed against #241 instead.  This is fixed now.

[2017-11-26 20:08] #243 closed, assigned to dantheta

[2017-11-26 20:44] JimKillock commented on #227
O2 and Three now on their way.

[2017-11-26 21:01] JimKillock commented on #227
Vodafone is the last one; this is in progress so hopefully this will be sorted out next week.

[2017-11-26 22:14] JimKillock commented on #235
Trying to cycle through the sites just now I am getting mainly weapons and alcohol. I'm suspecting that we either have some rogue lists, or the data isn't derived from the lists. We need to display the list source on the thank you page to debug / locate and clean up the source material.

[2017-11-27 12:00] JimKillock commented on #239
Actually, this would also be handy on the admin page. So both.

[2017-11-27 12:03] JimKillock opened #244 "Random sites (in report cycle) not from lists"
After making the first report, the dataset for the random sites seems to be the old data (ie, mostly alcohol / gambling / guns).

(This is data presented on the "thank you" page / site report page)

Can you check and ensure we are drawing this from the saved lists?

[2017-11-27 12:32] dantheta commented on #244
Yep, I'd realized that very late last night :) the front page sets the wrong route marker, so the random site of last resort routine kicks in.

On 27 November 2017 12:03:02 GMT+00:00, JimKillock <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-11-27 17:31] JimKillock commented on #221
Closing this as we got as far as is likely currently.

[2017-11-27 17:31] #221 closed, assigned to dantheta

[2017-11-27 17:55] JimKillock opened #245 "General error-ness"
Something odd is going on, I'm getting a lot of odd errors, eg

"Method Not Allowed

The method is not allowed for the requested URL."

This is happening every 4-5 page visits at different URLs. Generally a reload, or revisiting the link, resolves it.

[2017-11-27 18:00] JimKillock commented on #245
Maybe related, a few of the submits (eg sending report to ISP, final step) for have sent me off to netblocked.eu

[2017-11-27 21:26] #244 closed, assigned to dantheta

[2017-11-27 21:27] dantheta commented on #235
I've moved the link to the lower-right section, underneat the permalink.  It's displayed on any site that appears on a public list, even if the site page isn't showing the thankyou message.

[2017-11-27 21:27] #235 closed, assigned to dantheta, alexhaydock

[2017-11-27 22:09] JimKillock commented on #223
Looks like this is all done

[2017-11-27 22:09] #223 closed, assigned to dantheta

[2017-11-27 22:44] dantheta commented on #245
That sounds really odd.  (the site-switching).  I've changed some apache configuration which should further separate the two sites (hopefully).

[2017-11-28 08:11] JimKillock opened #246 "Error on site report pages"
Some site reports are giving

"Error
An error has occurred. Please try again later."

eg

https://www.blocked.org.uk/site/http://www.schwarzerturm.de

I am seeing this behaviour from sites linked from the Three and EE reports page

https://www.blocked.org.uk/reported-sites/Three

https://www.blocked.org.uk/reported-sites/EE eg:

https://www.blocked.org.uk/site/http://www.sylvia-tournerie.com

[2017-11-28 08:35] #246 closed, assigned to dantheta

[2017-11-28 08:39] JimKillock opened #247 "Status page"
* Separate out Network and Filtering method into separate columns. (Network, Filter, Filter status)

* Use Filter status to state: on / off

* Add new states to status: "testing" for new probes not yet online; "retired" for those no longer in use

* Use tool tip ( i ) to link to information about each filter level as per results pages

* Add column 'Supplied by' (eg, AAISP, ORG, user) (ask users i

[2017-11-28 15:18] Mike-ORG opened #248 "Dead link on "support page"
Under the "support" page, the "local ORG groups" link appears to be dead, but should lead to https://www.openrightsgroup.org/groups/

[2017-11-28 15:21] Mike-ORG opened #249 ""suppor" page needs donate link"
Under the "Donate" section of the "support" page, there is no link to ORG's donation page. Here is the link: https://www.openrightsgroup.org/donate/

[2017-11-28 16:21] Mike-ORG commented on #248
Ah never mind, I've fixed it on ModX :)

[2017-11-28 16:22] Mike-ORG commented on #249
Please disregard, I have fixed on ModX, thanks.

[2017-11-28 20:02] #249 closed, assigned to nobody

[2017-11-28 20:02] #248 closed, assigned to nobody

[2017-11-28 20:03] JimKillock commented on #245
I think you've fixed whatever was causing these issues. So closing this.

[2017-11-28 20:03] #245 closed, assigned to dantheta

[2017-11-28 22:54] dantheta commented on #233
There's still a chance that the odd unblocked site may creep in, but only in cases where it was unblocked within the last day.   I'll spin the list move into a separate issue.

[2017-11-28 22:54] #233 closed, assigned to dantheta

[2017-11-28 22:56] dantheta commented on #189
I don't think we should have seen too many more occurrences of  this.  Sites are removed from the search index within half an hour of being reported.

[2017-11-28 22:56] #189 closed, assigned to dantheta

[2017-11-28 22:59] dantheta commented on #234
This might have been lessened now that we've sorted the frontpage list cycling problem (in that it was drawing primarily from the old dmoz report candidates instead of the curated lists).    If a site appears on a list, it will be linked from the site result page.

[2017-11-29 00:06] JimKillock commented on #211
Add N blocks detected as the absolute number (eg 1 million of the 21 million)

[2017-11-29 01:48] dantheta commented on #211
Updated.  Might look at justifying the large paragraph text to the left.

[2017-11-29 01:49] dantheta commented on #211
Or putting the stats in a gray panel?

[2017-11-29 07:35] JimKillock commented on #211
This is fine for now, thank you! We will need to re-order the front page a bit some point, so we can close.

[2017-11-29 07:35] #211 closed, assigned to dantheta

[2017-11-30 21:15] JimKillock commented on #163
Ping on this change Dan, it'd be good to clear this one out of the 'review' pile!

[2017-12-01 00:33] #163 closed, assigned to dantheta

[2017-12-01 21:28] JimKillock commented on #227
Vodafone line is bought, I will collect tomorrow along with a replacement EE wifi unit.

[2017-12-01 21:30] JimKillock commented on #182
The website user review (message to ISP) can also go on the "latest reports" page (underneath the URL). This should add to the amusement value of making reports.

[2017-12-01 21:31] JimKillock commented on #164
See also #237 – display API calls on pages

[2017-12-01 21:32] JimKillock commented on #141
Superseded by #164

[2017-12-01 21:32] #141 closed, assigned to dantheta

[2017-12-02 12:28] JimKillock commented on #99
I think after observing what goes on with the ISPs, we can see that:
* They tend to block redirects;
* They will generally unblock legitimate redirects

Thus the ideal answer may be to
* Record and mark sites as redirects
* Allow searches to exclude or include redirects

[2017-12-02 16:05] JimKillock commented on #227
Vodafone line and probe is now up for testing; EE replacement wifi hub should be delivered tomorrow.

[2017-12-02 16:08] JimKillock commented on #247
(amended to include  "Add column: total number of tests run")

[2017-12-02 16:14] JimKillock commented on #133
I think this can be closed? Please reopen if I'm wrong.

[2017-12-02 16:14] #133 closed, assigned to nobody

[2017-12-02 18:26] JimKillock commented on #234
Seems better now, so closing

[2017-12-02 18:26] #234 closed, assigned to dantheta, alexhaydock, cmlb1879, Mike-ORG

[2017-12-03 10:53] JimKillock commented on #226
@cmlb1879 Is this fixed, or is the problem specific pages other than the front page?

[2017-12-03 10:55] JimKillock commented on #222
@dantheta I can add three probes to my home network which you can then set up to do this.

[2017-12-03 11:51] JimKillock opened #250 "Add site review to standard report page"
Add site review information to the standard report page, eg:

https://www.blocked.org.uk/site/http://premiumtantricmassage.com

[2017-12-03 11:51] #250 closed, assigned to dantheta

[2017-12-03 11:52] JimKillock commented on #182
Thanks for your work on this Dan. Latest report page looks good. Can we add to the standard pages also, eg:

https://www.blocked.org.uk/site/http://premiumtantricmassage.com

[2017-12-03 12:21] JimKillock commented on #142
I'm going to close this issue as the next detailed changes are now in #247

[2017-12-03 12:21] #142 closed, assigned to dantheta

[2017-12-03 12:25] JimKillock commented on #204
We can leave the redirect pages for reasons mentioned elsewhere (ISPs will unblock them).

Is it possible to remove sites that hang from the pool, and close this ticket?

[2017-12-03 14:04] JimKillock commented on #227
All operational except for TT, due in 10 days

[2017-12-03 14:35] dantheta commented on #182
Ah, hadn't pulled the new version.  It's there now.

[2017-12-03 14:35] #182 closed, assigned to dantheta

[2017-12-03 14:39] dantheta commented on #242
Updated.

[2017-12-03 14:39] #242 closed, assigned to dantheta

[2017-12-07 19:41] JimKillock opened #251 "Automated additional domain info"
* Create automated method to import daily changes to the UK Zone File
* Add in Expiry dates from Nominet as we are allowed
* Method should detect domains that are removed through ZF changes

[2017-12-07 21:35] JimKillock commented on #135
We've a handful of these now. Perhaps we can remove reported sites that match to entries in the ban list?

[2017-12-07 23:07] dantheta commented on #204
The daily check will already exclude sites which don't have any blocked results.  I've added a date filter to this check, so that blocked results from inactive lines can't keep a dead site on the frontpage liist.  Redirects will need a bit more thinking about, because that data isn't exposed through the API yet.

[2017-12-07 23:08] #204 closed, assigned to dantheta

[2017-12-08 00:41] dantheta commented on #173
Fixed and tested.

[2017-12-08 00:41] #173 closed, assigned to nobody

[2017-12-08 13:34] JimKillock commented on #171
Categories look good. I think with Alcohol, we should change this to "Alcohol brand promotion" and have a note that we do not include vineyards, pubs or restaurants as suitable for blocking.

[2017-12-08 13:35] JimKillock commented on #171
For "pornography" we could say "Pornography and adult sexual content"

[2017-12-08 13:39] JimKillock commented on #227
TT install is Thursday, probe is on its way.

[2017-12-09 16:27] JimKillock opened #252 "Link to blocked page for filter results"
* Provide link to the standard block page (including category page if applicable) per blocked result on the site page.
* Add this after "category" in the table

eg https://www.blocked.org.uk/site/http://sexsmart.com

See also #187, this might be completed with that task

[2017-12-10 18:10] dantheta commented on #135
Have added a control panel that will allow ISP reports to be flagged as abuse.  These are hidden from the public reports page and will no longer be processed by the system.  Rolling out shortly.

[2017-12-10 20:13] dantheta commented on #139
1 & 2 are now present in the control panel.  Splitting the court order pages changes  to a separate ticket.

[2017-12-10 20:14] dantheta commented on #139
To double-check, for 1a, should there be three additional fields (judgement, judgement_date, judgement_url)?

[2017-12-10 20:15] dantheta opened #253 "Court order information"
From #139,

(1)  Display Court Order information on the Court Order page:
(a) Order page blocks by Injunction / request,
(b) then by URL group

(3) On the URL / domain report:
(a) Link back to the injunction and URL group
(b) Per ISP,  link to the relevant court order on wiki.451
(c) Per ISP / URL, we will link to an example 451 error

[2017-12-10 20:17] JimKillock commented on #139
Yes, that is correct. Note, for legal judgments, it is “judgment” and not “judgement”

[2017-12-10 20:21] dantheta commented on #119
The uk domain lists have started to run on the mobile probes (they didn't have the bandwidth before).

There's actually two ac.uk sites blocked now:

[code]

[2017-12-10 20:22] JimKillock commented on #135
Thanks Dan. Three amends / improvements:

(1) Flagged sites should display on the admin side as "flagged" once reported

(2) Flagging one URL / report should flag *all* reports for that URL

(3) The change should refresh  the page the user is on, e.g https://www.blocked.org.uk/control/ispreports?page=2

rather than taking the user back to https://www.blocked.org.uk/control/ispreports

[2017-12-10 20:42] JimKillock commented on #139
I've made a bit of a mistake here. The court orders are documents per ISP, so the structure should be:

(1) A "Legal block": consisting of a Name, Date and wiki URL:

(a) A court judgment, date and URL

(b) Multiple Court Order URLs, each assigned to an ISP

[2017-12-10 22:25] dantheta commented on #119
.org is updating.

[2017-12-10 22:25] #119 closed, assigned to dantheta, pamcowburn

[2017-12-10 22:26] dantheta commented on #135
(1) & (2) - that's how it should work already.  Something seems to be amiss ...

(3) - gah, paging.

[2017-12-10 23:18] dantheta commented on #135
Yep, it was silently failing to apply the flag.  Should be fixed now.

[2017-12-11 00:15] dantheta commented on #171
Those are done.

[2017-12-11 00:15] #171 closed, assigned to dantheta

[2017-12-11 09:27] JimKillock opened #254 "Report field abuse"
This:

https://www.blocked.org.uk/site/http://thestudentroom.co.uk

is an attempt I think at link farming.

We should be able to delete user reviews that are abusive (the report itself may not be abusive).

[2017-12-11 09:30] JimKillock commented on #135
Great work. Needs a means to "unflag" also (I just hit 'NordVPN' by accident)

[2017-12-11 10:13] cmlb1879 commented on #226
@JimKillock the validator for twitter says it can't find a card still

[2017-12-11 18:36] JimKillock opened #255 "Restructure front page"
Using a 9 x 9 grid:

5 columns background text, 4 columns action block (Is this site incorrectly blocked?)

Place stats after background text in left hand blocks(s)

Keep placement of 'check a site' etc as current

[2017-12-12 12:23] JimKillock commented on #227
TT install is delayed until 2 Jan

[2017-12-12 21:30] dantheta commented on #139
The court order editor in the control panel is mostly complete.  There's an edit screen that isn't there just yet (which is where the details of the court order record can be edited and the per-ISP info URLs can be added).  That's coming in the next batch.

[2017-12-12 22:41] JimKillock commented on #139
Great, thanks Dan

[2017-12-12 22:59] dantheta commented on #247
All done apart from Filter status on/off: not quite sure if the information we want to convey with that column is already provided by filter level.  Is it to say that filtering is available but disabled (TalkTalk,Plusnet), or is it to say that filtering is not enabled on the ISP at all (AAISP, Uno), or both?

[2017-12-12 23:10] JimKillock commented on #247
On filter status, I'd envisaged that to mean "filter is currently working as expected" or "filter is not working as expected", given the problems we've had with TT and Plusnet (filters are enabled but not actually working).  So status could be:

"OK: filter on"; "Error: filter off"

Where there is no filter, the column could indicate an error (filter detected) when a filter accidentally becomes en

[2017-12-12 23:51] #187 closed, assigned to dantheta

[2017-12-13 00:38] dantheta commented on #247
OK, that's cool.

[2017-12-13 10:21] JimKillock opened #256 "Implement full tracking of complaints"
Create system to fully track all complaints, similar to Alaveti / WDTK:

* email address per user complaint
* store emails sent and replies
* make all complaints public by default

Depends on full user system with log in.

Worth investigating if integrating Alaveti would work in this context.

[2017-12-13 21:31] dantheta commented on #247
Commas are done!

[2017-12-13 21:58] dantheta commented on #247
All done.  The filter enabled/disabled doesn't update automatically at the moment, because the probes send no response on a line which should be filtered but isn't.  We can open an issue for probes to feed that back to the server.

[2017-12-13 22:00] dantheta commented on #252
This is done.  The link title is "View ISP block page".  We can change that if there's a better phrasing.  The link is only available for sites which have been scanned using a recent version of the probe (prior to version 2.0.2, the final URL after redirects was not sent back with the result)

[2017-12-13 22:00] #252 closed, assigned to dantheta

[2017-12-13 22:11] JimKillock commented on #247
Great work. Yes, please do add a separate issue for the probes to return the filter down result. Or indeed any (unexpected) filter up result.

[2017-12-13 22:13] dantheta commented on #226
I don't think there are any OG template vars assigned to the feed resources or template in ModX yet.  Once they've been added there I can pull them into the main template.  In the meantime I can add some basic metadata to the results page template.

[2017-12-13 22:34] dantheta commented on #226
I've added the placeholder OG/Twitter stuff *just to the results pages* (for sharing), and tested with the validator.

[2017-12-13 22:41] dantheta commented on #256
This sounds very interesting.  Piping mail through postfix and into the database is pretty straightforward, and Python's MIME parser is quite nice.

[2017-12-13 22:44] dantheta opened #257 "Add periodic self-tests with reporting of filter failure"
Currently, the probes will refuse to start up if the expected sites are not blocked.  However, this is not fed back to the server.  Add a period check (30mins or 1hr) to run the self-test and post the result back to the server, so that the filter-enabled flag on the probe status page can be updated.

[2017-12-13 23:58] dantheta commented on #135
Unflag added.  I tested it on nordvpn, so that one's clear now.

[2017-12-13 23:58] #135 closed, assigned to dantheta

[2017-12-14 08:31] JimKillock commented on #257
The reverse would also need to be true, for instance on TT or Plusnet: it's possible filters will enable themselves and start giving unexpected results.

We should also record the periods of unexpected filter up / down time so that we can present filter error stats.

[2017-12-14 12:25] JimKillock opened #258 "Retest court order blocks on regular basis"
* Retest Court order blocks across all ISPs every 7 days

[2017-12-14 12:26] JimKillock opened #259 "Add "Past blocks" to Court Orders"
Have a page at:

https://www.blocked.org.uk/legal-blocks/past-blocks

listing sites that have previously been blocked, and are now unblocked.

[2017-12-15 07:21] JimKillock opened #260 "Pre-clean .com data"
Thought: is it worth running through the .com data across the clean lines (including volunteer lines) to clean the data of non-functioning domains before doing the full test?

[2017-12-15 20:21] JimKillock commented on #247
Can we add the user probes that are either in testing mode, or are currently working but not listed, eg for KCom and Virgin / unfiltered and so on?

From the copyright blocks it looks like we may also need some users with unfiltered Sky lines etc to check the presentation of some sites which are blocked by filters and also by court orders, as the filters seem to take precedence on some ISPs.

[2017-12-15 20:30] JimKillock opened #261 "New page(s): likely mobile ISP mistakes and form"
Create a page at

https://www.blocked.org.uk/sites/mobile-errors

listing mobile results where:

* one or more MSPs blocks the domain but
* at least one MSP does not block the domain

Order by

* least blocked to most blocked

Use the normal workflow and table presentation, but have a different report form.

Report form should say:

"This site has been classified differently by one or more mobile

[2017-12-15 20:33] JimKillock commented on #258
duplicate of #166

[2017-12-15 20:33] #258 closed, assigned to dantheta

[2017-12-15 21:09] JimKillock commented on #260
If pre-cleaning is the way to do, we should add in the EU probes and work through the commoncrawl data, maybe first, as it may contain court order blocked URLs we are not aware of

[2017-12-15 22:35] #166 closed, assigned to dantheta

[2017-12-15 23:44] dantheta commented on #166
Oops, committed against wrong issue :S

[2017-12-15 23:47] dantheta commented on #139
Adding, deleting and editing court orders is now supported, as well as adding ISP court order info (that's on the edit screen).  Adding blocked URLs to the court orders works too.  It's very fussy about the blocked URLs - we can make the UI better for that (such as allowing admins to add blocked sites to a court order from the public frontend, where it's easier to discover/browse URLs).

[2017-12-16 08:15] JimKillock commented on #139
Great, thanks Dan. One question and some queries:

(1) Each ISP receives a separate court order. Is this what we mean by "ISP info URL"?

(2) Each court order may affect multiple websites, eg piratebay.org plus torrentsite.org — with each website that is affected, there are as you know multiple domains serving each, eg piratebayclone.org, plus torrentsiteclone.org identified in an ad hoc manner la

[2017-12-16 08:40] JimKillock opened #262 "Name field error on adding Court order"
I got an error, that the court order could not be added as one of the fields was over 64 chars.

I am guessing it was "name"

"Paramount Home Entertainment International Ltd & Ors v British Sky Broadcasting Ltd & Ors"

[2017-12-16 08:45] JimKillock commented on #139
Further checks on court orders, eg http://www.bailii.org/ew/cases/EWHC/Ch/2013/3479.html . They have three standard references:

(1) Name, eg "Paramount Home Entertainment International Ltd & Ors v British Sky Broadcasting Ltd & Ors"

(2) Citation (which I think refers to the judgment, eg [2013] EWHC 3479 (Ch)

(3) Case number, eg HC13F04302

Can we add (2) and (3) and a further field:

(4) Sites

[2017-12-16 08:56] gwire commented on #139
Note that you may not know any of the details except the descriptive names of the sites being blocked, so we need to create persistent references (e.g. for URLs), and not use the court's.

Most judgements for S97A cases are not published, and there doesn't seem to be a way to discover the details other than inferring them from the slightly obfuscated details the ISPs publish.

See the cases on htt

[2017-12-16 09:27] JimKillock opened #263 "ISP Info URLs not recording submissions"
The ISP Info URLs function is not adding the per-ISP court orders for me.

[2017-12-16 09:32] JimKillock opened #264 "Assign URL to court order on public side"
As per @dantheta's suggestion at #139 add the ability for an admin user to assign a legal block URL to a court order.

Note, as per the comment in #139, court orders need to support multiple websites targeted per court order.

The assign process will need to assign the URL / domain to the "target website" rather than just the court order.

[2017-12-16 09:35] JimKillock commented on #139
@gwire yes, currently we include the wiki.451 URLs in the backend for this reason. I hope we can find a way to make the information more complete tho.

[2017-12-16 09:40] JimKillock opened #265 "Run .uk and other data tests on BT Strict"
Can we run .uk and other data tests across the BT Strict line, which looks like it has not run a full pass?

[2017-12-16 10:27] JimKillock opened #266 ""On hold" reports"
Some of the "on hold" user reports seem to be stuck in the queue. Can you check why and ensure the queue will check to clear backlogged user reports?

[2017-12-16 14:56] dantheta commented on #262
Extended to 256

[2017-12-16 15:21] JimKillock commented on #262
Still having problems editing, but now possibly with the save button? Changing "FAPL vs Sky" to "The Football Association Premier League Ltd v British Sky Broadcasting Ltd & Ors"

[2017-12-16 15:32] #263 closed, assigned to dantheta

[2017-12-16 15:32] #262 closed, assigned to dantheta

[2017-12-16 15:36] JimKillock opened #267 "Name field error on save"
When changing "FAPL v Sky"' to:

"The Football Association Premier League Ltd v British Sky Broadcasting Ltd & Ors"

I get no save. is this to do with the quote marks perhaps?

[2017-12-16 15:38] JimKillock commented on #267
Tried on  *Paramount & Ors v British Sky & Ors* – same result, a name change does not apply on save

[2017-12-16 18:08] dantheta commented on #267
Fixed.  That was seriously odd.

[2017-12-16 18:08] #267 closed, assigned to dantheta

[2017-12-16 20:01] JimKillock commented on #256
@gwire suggested we start assigning unique emails to senders so that ISP replies can be routed via blocked.org.uk in any case, eg:

randomised-1938440@blocked.org.uk » forwards in our system to » actualemail@domain.com

I think this may be a neat solution as the ISPs avoid correspondence with the complainants, and sometimes they misdirect replies to our generic reply-to.

[2017-12-17 11:17] dantheta commented on #266
All the pending ones I'm seeing are for talktalk.  It will send those when a test result comes in, and that's dependent on the line.  I'll requeue them when the TT line is installed.

[2017-12-17 11:19] dantheta commented on #256
That's what I was thinking too.  The system can slurp the ISP's reply into the database at the same time as it's forwarding to the complainant.

[2017-12-17 11:20] dantheta commented on #139
I'm preparing a second iteration of the data model for the court orders.  I think the first pass had inverted court order and court judgment.  I've also thought up a much more convenient storage method for these that will cut the development time and scope for errors.

[2017-12-17 11:24] JimKillock commented on #266
See: https://www.blocked.org.uk/reported-sites/Vodafone listings for

http://www.2600.com ;
http://www.eurogamer.net/articles/sin-and-punishment-2-preview ;
http://www.perkinsdrugs.com

also https://www.blocked.org.uk/reported-sites/EE/2

http://web.archive.org

That seems to be it tho.

[2017-12-17 11:27] JimKillock commented on #139
Thanks Dan. I think that's right, which is a result of my / the world in general's sloppy use of language and "court order" we generally have about this topic.

[2017-12-17 12:01] JimKillock commented on #256
Give us a time estimate on this one Dan, so we can work out when to push it into development.

[2017-12-17 17:10] dantheta commented on #256
I think 1 to 1.5 days.  Depending on how we want the mail routing to work, it might need a little bit of time from @gwire too.

[2017-12-17 17:12] dantheta commented on #139
It's all good :)

[2017-12-17 21:32] dantheta commented on #266
Interesting. perkins and web.archive.org can't validate their results because the site's robots.txt will not allow the probe to run against them.

The eurogamer one hasn't been released because the submitter hasn't verified their email address.

Others can be pushed through by using force recheck in the admin control panel.  They also get resubmitted daily, providing the site is allowed by robots.

[2017-12-17 21:47] dantheta commented on #255
Bootstrap uses a 12 column grid rather than 9, but 7/12 is approximate to 5/9.  I'll put a demo up on stage.blocked.org.uk so that it doesn't block the release of other changes.

[2017-12-17 21:55] dantheta commented on #260
The import process already cleans out unresolvable domains.  We could do with adding more processors to the robots.txt checker and the metadata retriever - I think that's where the time would go for this ticket.  There's already some changes to allow the robots.txt checker to run on the trusted clean lines, it just needs some testing.

[2017-12-17 22:22] dantheta commented on #254
Yep, we can switch them to "not-published" very easily.

[2017-12-17 23:58] dantheta commented on #184
A name/email summary has been added to the second page, with a link to change the details.  If the user is taking the faster path through, then it skips the user/owner/someone-who-cares checkboxes.  We can move those to the second page if we want to make sure they're filled in.

[2017-12-18 07:54] JimKillock commented on #260
Sounds a plan.

[2017-12-18 08:07] JimKillock commented on #184
Looks good, thanks Dan

[2017-12-18 08:07] #184 closed, assigned to dantheta

[2017-12-18 09:50] JimKillock commented on #266
Thanks Dan. Perhaps in the case of probes not being able to check, we could allow a manual admin check and force send?

With users not verifying email, perhaps they should get a reminder, in a pattern: 1 day, 3 days, 7 days, 21 days and discard?

Each reminder can say that the report will be discarded on $date if the email is not verified.

[2017-12-18 09:56] JimKillock commented on #232
is some of this something done manually? If so is it an administrator task / feature?

[2017-12-18 10:02] JimKillock commented on #139
In the light of the UGG seizure record, we could add:

(0) Type: Seizure / Block / Content removal / Other
(1) Jurisdiction (Country) (state)
(2) Court where order obtained
(3) Order obtained by
(4) Represented by
(5) Other court documents (free form, as HTML?)

[2017-12-18 17:46] gwire commented on #205
Just noting that adjudications are published quarterly by the BBFC in pdf format, so we need some way of copy-n-pasting the details into a structured form every three months to make it linkable.

http://www.bbfc.co.uk/what-classification/mobile-content/quarterly-report

[2017-12-18 19:27] JimKillock opened #268 "Add pattern for GBC seizures"
Add pattern for GBC seizures,

Querstion: do we allow them to appear on 'court order blocks' or do we create a new page 'domain seizures'?

I think a new page is in order. The court order system would need to specify whether it applied to a block or a seizure, or potentially both.

I guess the system can tell if a domain is seized or blocked?

[2017-12-18 19:37] JimKillock commented on #205
@gwire can we make the linkable reports part of the blocked system? eg they could appear as:

https://www.blocked.org.uk/bbfc/adjudication/date/http://domain.net

and then

https://www.blocked.org.uk/bbfc/stats

for the generality

[2017-12-19 01:54] dantheta commented on #255
Frontpage is in demo on https://stage.blocked.org.uk (same username&password as before).  The comma separators are missing because that server runs an old version of python, they're still there in the real template.

The text alignment in the action box is a tricky decision, I've played about with a bunch of them and can't decide what works best, so let me know what you think.

[2017-12-19 10:20] JimKillock commented on #255
Thanks Dan, that's great. I think we can:

(1) Change the text "For example" to "Has this site been blocked in error?"

(2) Change "is blocked for $ISP customers using filters." to "$ISP are blocking this site for customers using filters."

(3) Place buttons under text block and align left with indent of approx 20 px

[2017-12-19 10:23] JimKillock commented on #226
@cmlb1879 Can you test and review this?

[2017-12-20 00:41] dantheta commented on #255
Updated.  Not sure if I've understood 3 completely, please feel free amend further!

[2017-12-20 08:30] JimKillock commented on #255
Looks good to me. Ready to move to live :)

[2017-12-20 09:54] JimKillock opened #269 "Add stats to Recently reported sites"
Above the report table, below the title, add:

* Total number of reports
* Total number of sites reported to ISPs
* Number of sites unblocked
* Percentage unblocked following report

[2017-12-21 10:29] JimKillock commented on #226
@dantheta For results pages, in priority order:
* if there is a court order, it should say: "Site blocked by court orders at …"
* otherwise, if there there is a user review, this should be the OG description content.
* otherwise, as a last resort, a list saying "site blocked by filters at … " or "No filter blocks currently detected."

[2017-12-21 10:59] #255 closed, assigned to dantheta, Mike-ORG

[2017-12-21 16:17] Mike-ORG opened #270 "Feedback received via email"
The following notes were sent to me from Malcolm Boura:
- A have found a bit of a bug. I created a request to unblock and then spotted the "RE-CHECK SITE" button so I clicked it. The request to unblock was despatched, not what I expected. No harm done because the request was complete but that may not be true for other people.
- When I asked about www.bn.org.uk explicitly it only reported a BT-mode

[2017-12-24 10:31] JimKillock opened #271 "Virgin full test"
It looks like we haven't run a full test on the Virgin line: can we do that in the current run of tests?

[2017-12-25 23:56] gwire opened #272 "Lumen database data"
Is it possible to use [Lumen](https://lumendatabase.org/pages/researchers) (previously known as Chilling Effects) as either a source for testing data, or perhaps surfacing links to it for resources known to be blocked by court order.

(It looks like it allows "Court Orders" and "Government Requests" to be added, but I can't actually see how I'd check in the front-end for, e.g., UK orders,.)

[2017-12-27 00:39] dantheta opened #273 "Improve performance of legal blocks page"

[2017-12-27 00:58] dantheta commented on #270
The BT moderate results are quite out of date - we don't currently have a line to test that filter setting.  When a result is more than two weeks old, the system notes the details in the unblock request and sends it once a successful check has been performed for the URL on the requests's ISP.  Unfortunately, with no test line the BT moderate entry will not be rechecked, and won't be sent.

I've hi

[2017-12-27 19:09] JimKillock opened #274 "Clean lines for ISPs who fail to notify court orders with filters"
Some ISPs, eg Sky, O2, EE appear to be applying filtering before their network presents court order block pages, with the result that many / all sites blocked by court order do not appear to be blocked to our matches.

The obvious solution appears to be that we find clean line filters for:

* Sky
* EE
* O2

[2017-12-27 19:18] JimKillock commented on #272
I think the best thing (other than looking at their API pages) may be to describe to uses we would want to make of their data and ask. I'm sure we could find a lot of ways to collaborate especially around domain suspensions / seizures.

[2017-12-27 19:25] JimKillock commented on #270
I think we can close this.

[2017-12-27 19:25] #270 closed, assigned to nobody

[2017-12-27 21:54] dantheta commented on #179
A multi-isp request is duplicated into a request per-isp at the time of submission, so they are measurable individually.

[2017-12-27 23:33] JimKillock commented on #179
For sure, but they don’t mean the same thing. For instance, a request to BT and Virgin may be processed by BT resulting in Symantec removing a site from blocks at Virgin. Thus it is unfairly positive in this example to calculate an unblock at Virgin as being a “positive response” as it may represent no response at all.

[2017-12-28 00:33] dantheta commented on #179
Added as a short table (with expander) to the reported sites page.

[2017-12-28 02:06] JimKillock commented on #269
Closing, duplicate of #179

[2017-12-28 02:06] #269 closed, assigned to nobody

[2017-12-28 02:10] JimKillock commented on #179
Thanks Dan. Elsewhere I'd thought about:

* Total number of reports
* Total number of sites reported to ISPs
* Number of sites unblocked
* Percentage unblocked following report

I think we need at least number of reports plus total number of sites reported, as it looks currently like a very low number of sites get unblocked (about 25%) – whereas it is probably more like 50-60%.

Currently I'm gues

[2017-12-28 13:11] JimKillock commented on #139
As this has got long and complicated I've summarised all the info and fields needed here:

https://wiki.451unavailable.org.uk/wiki/UK_blocking_injunction_template

[2017-12-29 00:09] dantheta commented on #179
Perhaps we can move the ISP responsiveness figures (using the current formula) to the ISP stats pages, so that users can see all of the figures related to an ISP in one place.

For the reported-sites page, we can use stats across all of the reports which reflects better the effectiveness of the system as a whole.

[2017-12-29 10:12] JimKillock commented on #179
Yes to moving the per-ISP stats but I'd suggest to a new page; maybe stats/reporting

I think we want to emphasise who is good / bad so we'd usually need a user to compare all ISPs at once, across each type of statistic.

For this page we can just present:

* Total block reports made
* Total blocks removed

(ie, two comparable stats, so that we don't make the performance look worse or better than

[2017-12-29 14:05] JimKillock opened #275 "Retire old mobile probes"
The old O2, EE and Vodafone contracts are cancelled with varying dates so the probes can be marked as retired.

[2017-12-30 11:20] JimKillock opened #276 "Add pattern for FACT seizures"
FACT appear to be seizing domains via registries for copyright infringement, eg:

http://watchonlineseries.eu

redirects to:

http://www.fact-redirect.org.uk

[2017-12-30 11:42] JimKillock commented on #139
Minor tidyups:

(0) On the admin list of injunctions, because the title does not include the names of the sites, display the "sites affected" field underneath the title.

(1) Rename the Court Order Admin pages as "Legal requests" "Legal requests Admin"

(2) Reword "Injunction obtained by" to "Application made by"

(3) Reword "Injunction represented by" to "Applicants  represented by"

(4) For each

[2017-12-31 00:38] #273 closed, assigned to dantheta

[2017-12-31 00:38] dantheta commented on #273
recreated blocktype_created index as partial index, so it's 96k on disk instead of 4GB.

[2017-12-31 00:52] dantheta commented on #276
The only other one of those we've found so far is: http://watchseries7.eu

[2017-12-31 00:53] dantheta commented on #275
Done.

[2017-12-31 00:53] #275 closed, assigned to dantheta

[2017-12-31 15:33] JimKillock commented on #139
All current orders we know about are now entered into the system.

[2018-01-01 15:59] JimKillock commented on #247
Query re: Zen; we sent a probe to someone for a Zen line, have we mis-listed it as Gigaclear (we have two Gigaclear)?

[2018-01-01 16:10] JimKillock commented on #272
I've emailed Lumen to see if we can discuss how we go about it. They're also listing a load of CTIRU takedowns from what I can see, as well as MHRA takedowns – if we can extract that it would be very helpful.

[2018-01-01 16:14] dantheta commented on #247
The Zen one is listed.  There are two probes for gigaclear, on different subnets on their network.

[2018-01-01 17:05] JimKillock commented on #227
PlusNet ordered also

[2018-01-01 19:10] JimKillock opened #277 "Re-checks not daily"
Some of the reported sites don't seem to be checked daily:

https://www.blocked.org.uk/site/http://www.milford-u3a.org.uk

When things get a bit further down the line we could put the checking / scheduling policies into the admin system.

[2018-01-02 10:06] JimKillock commented on #227
PlusNet due 23 Jan, RPi on its way.

[2018-01-02 10:06] cmlb1879 commented on #226
It is still coming up as no card found: https://cards-dev.twitter.com/validator

[2018-01-02 10:06] JimKillock commented on #247
Thanks Dan. I think there is a Virgin clear line missing tho?

[2018-01-02 10:08] JimKillock commented on #226
@cmlb1879 What URL did you test on the validator?

[2018-01-02 10:52] cmlb1879 commented on #226
@JimKillock https://www.blocked.org.uk/

[2018-01-02 11:38] JimKillock commented on #226
@cmlb1879 I think @dantheta has only done the *results* pages so far, eg: https://www.blocked.org.uk/site/http://www.hobs4hope.org

[2018-01-02 11:39] cmlb1879 commented on #226
Cool - that's working! that will be really helpful!

[2018-01-02 12:14] JimKillock opened #278 "Test site in real time feature"
The front page 'test site' feature no longer works in real time, eg:

https://www.blocked.org.uk/site/https://eng.forsaetisraduneyti.is

This should work in real time. I think there was some discussion elsewhere. Not sure if it is a bug or a change.

[2018-01-02 14:08] dantheta commented on #278
I think it's hitting the rate-limiting feature.  Each URL can only be submitted through the frontend once a day (even if the request gets queued for longer than that).  If a URL has already been submitted, the frontend redirects the user to the results page.

I've checked it with a fresh URL just now, and I got the realtime results.

[2018-01-02 14:17] JimKillock commented on #278
Hm, that's why I'd tried with Icelandic govt domains ;)

https://www.blocked.org.uk/site/https://eng.umhverfisraduneyti.is

similarly isn't giving me any results. As you can also see at:

https://www.blocked.org.uk/site/https://eng.forsaetisraduneyti.is

there are no tests run.

[2018-01-02 14:46] dantheta commented on #278
https://eng.forsaetisraduneyti.is/robots.txt

Same for the other site.

We do need better feedback for cases where robots.txt doesn't allow the probe to test.

[2018-01-02 18:45] JimKillock commented on #227
TT install complete

[2018-01-02 23:39] dantheta commented on #139
1-3 are done.

For the suspensions, I think it might be worth storing them separately.  As you say, the available information is quite differently shaped, and we'd also want to display a seized domain's status differently.

[2018-01-02 23:42] dantheta commented on #277
This was a misrecorded status; some of the CSV imported sites did not have the default robots.txt 'ok' status applied, so they were being excluded from recirculation.

[2018-01-02 23:42] #277 closed, assigned to dantheta

[2018-01-02 23:42] dantheta commented on #278
I'll open a new issue for robots.txt display.

[2018-01-02 23:42] #278 closed, assigned to dantheta

[2018-01-02 23:43] dantheta opened #279 "Prominently display a status message when a sites' robots.txt prevents probing"

[2018-01-02 23:51] dantheta commented on #277
I was thinking the same thing.  That would be pretty neat.

[2018-01-03 18:56] JimKillock commented on #279
Thought on this: from our perspective, a "no index" result is the same as a "not blocked" result. Couldn't we display these sites as both "no index" and "not blocked"? (And simply *not* index the content as requested?)

[2018-01-03 20:14] JimKillock commented on #99
Should we close this?

[2018-01-03 20:15] JimKillock commented on #266
I'm taking the last suggestion to another ticket for the inbox and closing

[2018-01-03 20:15] #266 closed, assigned to dantheta

[2018-01-03 20:15] JimKillock opened #280 "Non-verified users get reminder email"
From #266

With users not verifying email, they should get a reminder, in a pattern: 1 day, 3 days, 7 days, 21 days and discard.

Each reminder can say that the report will be discarded on $date if the email is not verified.

[2018-01-03 20:17] JimKillock commented on #247
This can be closed as we've done most of it, moving the part about filter status into the inbox

[2018-01-03 20:17] #247 closed, assigned to dantheta

[2018-01-03 20:19] JimKillock opened #281 "Filter status (probe page)"
Change filter status so that it indicates "filter is currently working as expected" or "filter is not working as expected", eg:

"OK: filter on"; "Error: filter off"

Where there is no filter, the column could indicate an error (filter detected) when a filter accidentally becomes enabled. In these cases it would report:

"Error: filter on" or "OK: unfiltered"

[2018-01-03 20:24] JimKillock opened #282 "Admin system for seizures and suspensions"
Duplicate the court order system to create a seizure and suspension records.

This would have the same record / data set / structure, but would be used to find and list domain seizures and suspensions.

Separation would be to keep the data separate.

[2018-01-03 23:50] dantheta commented on #279
Unfortunately not so straightforward.  We check the robots.txt from the server once before sending the request to the probes.  The probes themselves take the server's word for it and run the test.

[2018-01-04 10:22] JimKillock opened #283 "“Probe down” owner reports"
Create email alerts sent to probe owners when their probe is down or unavailable, with instructions as to how to fix it, eg:

"Your probe [Name] in [Country] [Any other identifiers] is unavailable. Please restart the probe and ensure it is visible to you on your network.

"Ensure the red and green lights are flashing.

"The probe will re-register automatically. Your probe will be visible as availa

[2018-01-04 10:43] JimKillock commented on #279
OK. I suppose in any case a robots.txt might be replicated at a blocked URL for some reason and fool us as we are not comparing page content.

[2018-01-04 12:54] JimKillock opened #284 "netblocked.eu probes not updating"
Something has gone wrong:

https://www.netblocked.eu/stats/probes

Not sure what

[2018-01-04 13:24] JimKillock commented on #265
Noting that this one seems to be running a bit slow, and is on 3,779,163 as of 04 January, 2018 at 13:04

[2018-01-04 13:54] JimKillock commented on #265
Then, as of 04 January, 2018 at 13:50 it is 3,779,164 so I guess it is stuck?

[2018-01-04 14:06] JimKillock commented on #274
I'm going to suggest we reuse at least one of the TT lines as a clean line test facility. This can help compare the court order block results for instance as well as volume testing.

[2018-01-04 17:05] dantheta commented on #265
It's being throttled back because the Vodafone probe is slower than the others.  Ee was also offline for a bit but is catching up quickly. There's one process that feeds jobs to all the mobile queues, and it pauses when the average target queue length gets too high. Diving everything through and letting the queues hold the data work for smaller lists, but is to much memory with the longer lists.

[2018-01-04 17:14] JimKillock commented on #265
Ok, I'm not sure I completely understand but fair enough :) We will need to find ways to separate things off a bit as we go along in order to better utilise the capacity: we can discuss that separately and maybe you can educate me as to the best approach.

[2018-01-04 17:44] JimKillock commented on #216
Duplicated elsewhere, closing

[2018-01-04 17:44] #216 closed, assigned to dantheta

[2018-01-04 19:19] JimKillock opened #285 "Multiple judgments and sets of court orders"
Some cases have multiple judgments and / or have resulted in 2 or 3 sets of court orders, rather than one.

Add a feature to create a second set of court orders + dates, or a second judgment + citation + date.

[2018-01-04 19:35] JimKillock commented on #139
OK. I've added a separate suspensions / seizures ticket at #282, and a further ticket about multiple sets of documents at #285 which we can deal with in this round of changes, or later, depending on your preference.

[2018-01-04 22:25] JimKillock opened #286 "Legal blocks page times out"
You may know this already, but the legal blocks page is currently timing out:

https://www.blocked.org.uk/legal-blocks

[2018-01-04 23:06] dantheta commented on #285
This is already partly supported - a URL can be added to multiple court orders.  At the moment, the url groups exist within a court judgment (so these aren't currently shared), but this can be changed if needed.  A URL can belong to multiple groups if it is part of multiple court judgments.

Are there cases where a single court judgment has resulted in multiple court orders for the same URL/networ

[2018-01-04 23:14] JimKillock commented on #285
Yes, there are a couple of instances where the judgment has granted temporary court orders, which have been followed by a second judgment and further court orders, in this kind of way:

(1) Case number 1234

(a) Judgment HC20131234 issued, 1/2/2013
(b) Court Orders issued 8/2/2013

(c) New judgment HC20145678 issued, 4/5/2014
(d) New Court Orders issued 11/5/2014

[2018-01-04 23:20] dantheta commented on #286
I've put a caching hack in for now.  The legal blocks data will update hourly, but the pages are fully browseable.

[2018-01-05 00:56] #284 closed, assigned to dantheta

[2018-01-05 00:57] dantheta commented on #284
Recirculation was suspended, and results were queueing because the database was swamped with the legal blocks query

[2018-01-05 09:41] JimKillock opened #287 "TT orders not being picked up"
See:

https://www.blocked.org.uk/site/http://extratorrent.com

On TT this directs to

http://www.siteblocked.org/extratorrent.html?accessurl=ZXh0cmF0b3JyZW50LmNvbQ==&urlclassname=ZXh0cmF0b3JyZW50&ipaddr=[redacted]

but seems to have been disregarded in our test.

[2018-01-05 11:16] JimKillock commented on #287
Note: the TT URLs have indication of the source URL, and therefore the order applied, but it's not always accurate

[2018-01-05 11:18] dantheta commented on #287
They used to always redirect to piratebay.html  regardless of the site that was blocked. Our rules need to be updated, which is easy to do. Since we record the final URL, we can easily identify the domains to rerun.

[2018-01-05 13:02] edjw opened #288 "Clicking 'See Another Blocked Site' causes full-page refresh"
On the homepage, when you click See Another Blocked Site in the 'Has this site been blocked in error?' section, there is a full page refresh. To the user, this means there is a delay and then the page jumps back to the top of the page.

This isn't such a big problem on wide screens as the section is close to the top of the page. On narrower screens though like phones, this is a big and confusing j

[2018-01-05 13:32] edjw opened #289 "Try Another Site behaviour is confusing / Missing functionality of manually checking several URLs in a row"
I checked a URL from the homepage. It takes me to the results page for that URL. Then I wanted to check another URL so I clicked the 'Try Another Site' button which goes to https://www.blocked.org.uk/next/$CURRENT_URL

I expected to be able to manually check another URL but I actually got the results page for a random URL that is blocked.

We could a) add the Check a Website form from the homepage

[2018-01-05 14:12] JimKillock opened #290 "Sky block page in copyright list"
This page:

http://blocked.nb.sky.com

should be removed from the legal blocks list

[2018-01-05 15:38] JimKillock opened #291 "Admin user: Flag court order blocks as likely mistakes"
Allow an admin user to flag court order blocks as a Likely incorrect block with options:

* Domain inactive
* Domain for sale or parked
* Domain in legitimate usage
* Domain currently broken
* Domain does not resolve
* Domain may be abusive

Include options for abuse
* click fraud / redirects
* malware

Include
* field to describe the error
* date the error was observed

Additionally, timeout erro

[2018-01-05 17:35] dantheta commented on #290
This is done.

[2018-01-05 17:35] #290 closed, assigned to dantheta

[2018-01-05 19:06] JimKillock opened #292 "Run tests on Portugese list"
Run test on 1400 Portuguese blocked sites

[2018-01-05 21:05] JimKillock opened #293 "Import blocks to block group list"
We have a nearly completed list of court order blocked domains (from the export) listed to block group.

Can we import this directly rather than C&P?

[2018-01-05 22:27] dantheta commented on #288
Sure, that sounds cool1 The blocked in error region is defined in

https://github.com/dantheta/blocked-frontend-py/blob/master/BlockedFrontend/templates/cms/index.html#L36

Javascript event handlers can be defined in that template by adding a block with:

[code]

The data for the _next url_  region comes from frontpage_lists in https://github.com/dantheta/blocked-frontend-py/blob/master/BlockedFro

[2018-01-05 23:15] dantheta commented on #287
Fixed - https://www.blocked.org.uk/site/http://extratorrent.com

[2018-01-05 23:15] #287 closed, assigned to dantheta

[2018-01-05 23:23] JimKillock commented on #293
List is done and ready for import.

[2018-01-05 23:32] dantheta commented on #293
Cool - if you mail it across, I'll get it imported and write a control panel feature to import similar files in the future.

[2018-01-06 10:23] JimKillock commented on #293
As the file is large and quite complicated to assign each block of sites, you might want to just build the tool and use it for testing :) Up to you of course, whatever is convenient.

I'm not absolutely sure all the sites are actually in the court order domain lists we got. But they may be.

[2018-01-06 18:48] JimKillock opened #294 "Administration of court order blocking checks"
Create an administration list for sites that may be vulnerable to court order blocking for regular (weekly) checking.

This would be in addition to the court order blocks already detected.

An administration panel would allow new URLs to be added or deleted. It would flag "dead" domains in the list for removal.

[2018-01-06 18:51] JimKillock opened #295 "Match https URLs to http URLs in court order blocks"
Where a URL http is blocked by court order, attempt the http request. If it completes on clear lines, but not on lines subject to court order blocks, add the https URL to the list of blocked by court order URLs.

[2018-01-07 00:27] dantheta commented on #253
1 a&b are done.  Grouping inside the table is a little strange, let me know what you thing.

When there's no group or judgment title, the  header row is not shown.

[2018-01-07 10:34] JimKillock commented on #253
Thanks Dan, looks great :)

On ordering the court orders, this should:

(1) List by (reverse) date
(2) Display date in grey bar
(3) Display the description text under the title within the grey bar

With non-assigned sites:

(1) Have a grey bar title saying: URLs not yet identified with a legal decision to block

[2018-01-07 10:56] JimKillock opened #296 "Sky court order URLs not being picked up"
Checking:

https://www.blocked.org.uk/site/http://mp3monkey.net

The Sky block page detected is the court order page:

http://blocked.nb.sky.com/?mp3monkey.net

so should be detected / listed as a court order block but currently is not.

On a quick look this seems to be the case at other domains. (Which is good news as it is easier to fix than requiring two probes, although we will have one for ve

[2018-01-07 11:21] JimKillock commented on #296
Seems that only sometimes are the Sky blocks clearly court orders:

http://block.nb.sky.com/?domain=btloft.com&categories=ANONYMIZERS&match_user_blacklist=false

is basically in the same format except it specifies a category, so is from the filter, not the court order list. Weird.

[2018-01-07 11:24] JimKillock commented on #139
Can we do the remaining parts:

(0) On the admin list of injunctions, because the title does not include the names of the sites, display the "sites affected" field underneath the title.

(4) For each ISP affected + Court order URL add a date option

(5) For the injunctions admin page, order by date

ASAP to help @ajhaydock with the court order info (as he requests court orders we will want to keep

[2018-01-07 12:24] JimKillock commented on #292
@dantheta is this reasonably easy to do? I've combined it with a list of TPB clones for testing and sent it via email.

Do we have an internally grouped list of "likely copyright infringing / torrent sites"? If so, could we prioritise this list for testing on UK and EU probes, on perhaps a 1-2 week basis?

[2018-01-07 17:24] dantheta commented on #286
The caching hack is holding, and adding in the court order info also helps the explain plan.  It's running fine now.

[2018-01-07 17:24] #286 closed, assigned to dantheta

[2018-01-07 18:01] dantheta commented on #139
Added sites affected text and changed the sort order.

[2018-01-07 18:17] dantheta commented on #139
Date field added (4)

[2018-01-07 19:22] JimKillock commented on #139
I think this is done then and can be closed. There's further issues at  #282, and at #285 for other changes. Thanks Dan!

[2018-01-07 19:22] #139 closed, assigned to dantheta

[2018-01-07 19:29] JimKillock opened #297 "Court order page save error"
Having closed #139 … I am getting a save error while adding a desciption

[2018-01-07 19:54] JimKillock commented on #99
@dantheta Should we close this? It seems like this is at a "wontfix" point.

[2018-01-07 19:56] dantheta commented on #99
I think so.  We've got the data to approach it again if needed.

[2018-01-07 19:56] #99 closed, assigned to dantheta

[2018-01-07 20:04] #297 closed, assigned to dantheta

[2018-01-07 20:35] dantheta commented on #253
For (3), is the description text the affected sites description from the editor screen?

[2018-01-07 20:37] JimKillock commented on #253
Yes, that's the one.

[2018-01-07 21:14] dantheta commented on #253
1-3 from the amendments are done.  Working on (3) from the top of the ticket.

[2018-01-07 22:00] JimKillock commented on #274
If we can get the clean line Sky probe working ASAP that would be very handy, as I will have a full set of errors in the copyright orders once that has run.

[2018-01-08 09:39] JimKillock commented on #253
Thanks Dan. A couple more minor additions, for the grey bar:

(1) link to the Wiki page;
(2)  link to Judgment if available.

and for general behaviour of the page

(3) List all judgments, whether they include blocked URLs or not. Where no site or IP address is detected, state "No sites or IP addresses currently detected."

[2018-01-08 13:12] JimKillock commented on #274
Some very strange inconsistencies which may be due to content filters. in many cases only one or two ISPs are blocking a site, due to administrative error. However, this may apply only to content filters so we need to test on clean lines.

For Virgin:

https://www.blocked.org.uk/site/http://torrentproject.com

https://www.blocked.org.uk/site/http://torrentproject.se

BT has similar examples, for i

[2018-01-08 20:38] #292 closed, assigned to dantheta

[2018-01-08 21:27] dantheta commented on #271
This has now completed.

[2018-01-08 21:27] #271 closed, assigned to dantheta

[2018-01-08 21:43] dantheta commented on #285
OK, I think those could be represented as two court judgments with the same case reference  (and possibly citation?).

If it makes it easier to manage, I can write in a duplicate button so that judgments (with their attached court orders and urls) can be copied to new records quickly.

[2018-01-08 21:55] JimKillock commented on #285
The problem with making duplicates is that the URL sets would also need to attach to both. I think that would lead to confusion.

This isn't urgent as we can just use the "other documents" field if we need to for older court orders.

[2018-01-08 22:04] dantheta commented on #285
If we keep the same top-level judgment record, but allow multiple court orders for each network within it, would that be better?  That's quite close to what you were describing at the top, but just for court orders rather than judgments as well.

[2018-01-08 22:05] dantheta commented on #274
Sky clean is running as of last night.  It's taking part in the usual recirculation of tests.

[2018-01-08 22:09] JimKillock commented on #285
That would probably work yes. Then older judgments can be entered in the free text field.

[2018-01-08 22:43] dantheta commented on #274
Reconfigured J's plusnet as a clean line.

[2018-01-08 23:25] dantheta commented on #274
Reconfigured the volunteer TT probe as a clean line probe.

[2018-01-09 14:48] JimKillock commented on #293
This should be the next on the todo list I reckon :)

[2018-01-09 21:31] JimKillock opened #298 "Domain with and without slash on blocks"
http://www.couch-tuner.fr and http://www.couch-tuner.fr/ ought to be treated as the same URL, but are not.

For this reason, court order 18 ( Twentieth Century Fox Film Corporation & ors vs BT & Ors, from 2017-11-20) wasn't listing on the court order page.

I think this will in general cause some confusion. Is there any way we can get the system to understand the two URLs as being the same thing,

[2018-01-09 21:33] JimKillock commented on #298
(Another thing we could do, is add an edit button so we can manually strip the / from the court order pages where it is added incorrectly)

[2018-01-09 23:33] JimKillock commented on #274
Two Virgin clean line probes on their way. Nearly there :)

[2018-01-09 23:59] dantheta commented on #293
I've written an importer for the group:url mapping.  It currently imports urls into existing groups.  There are quite a lot of groups in the sheet that don't exist in the database yet; creating them is easy, but the system would need to know which judgment the URL group should belong to (or we would need UI to be able to move groups between judgments).

I've added the unknown groups to a new sheet

[2018-01-10 00:04] JimKillock commented on #293
Great work. How about listing the existing URL groups in alphabetical order on the page prior to import? Then we can at least see which are present prior to attempting import.

[2018-01-10 01:59] dantheta commented on #298
There's a URL normalization routine that is used in the API.  We can apply it in the frontend as well.  It removes the trailing slash if there's no path in the URL.

[2018-01-10 02:00] dantheta commented on #298
It can be applies to the site URLs retrospectively as well.

[2018-01-10 22:57] JimKillock commented on #264
We can close this for now as it is superceded by the new import tool

[2018-01-10 22:57] #264 closed, assigned to dantheta

[2018-01-10 23:05] JimKillock commented on #293
Thanks for all this Dan.

I've now imported as many of the URLs back into URL groups as I can. I may have muddled up some of the "watch series" URLs so will need to go back through them some point.

We will need to be able to:

* delete / unassign URLs from groups and court orders
* edit the names of the URL groups / delete URL groups
* using the existing court order blocks export tool, include th

[2018-01-11 16:04] JimKillock commented on #293
I should say that I would need the tools above to export, find the unassigned data, and then work on that, to finish the job :)

[2018-01-11 21:28] dantheta commented on #293
Added the list of URL groups to the import form.

[2018-01-11 21:31] dantheta commented on #293
To remove a URL from a group, select its checkbox and select the 'Uncategorized' group.

[2018-01-12 07:59] JimKillock opened #299 "Hide duplicate / page URLs"
Add a feature for admin users to hide duplicate blocked URLs such as:

http://www.watchseries.lt/Watch

*or* have a feature automatically to hide / exclude these from the list

[2018-01-12 18:55] JimKillock opened #300 "Disable normal reporting for court ordered blocks"
Disallow reporting for sites blocked by court order.

We can some point add a system to report, flag, detail court ordered blocks that appear incorrect.

[2018-01-12 20:03] JimKillock opened #301 "Court order index"
Let's use the "legal blocks" page to list out each of the court decisions, with a link to the full block information per decision.

The information can include a total blocks per decision.

[2018-01-12 20:16] JimKillock commented on #293
I've now done most of the sorting by hand so these changes aren't quite as high priority. There are a number of URLs that are listed as unclassified that need cleaning up - like sites duplicated due to capitalisation, or page URLs. I can help with this if you can give me an admin tool, eg a "duplicate" flag. This shouldn't be a public tool.

[2018-01-12 20:59] dantheta commented on #293
I've just added a delete icon for the URLs, which will remove them from the court order.  If the entry doesn't exist on any other list, it's removed entirely from the legal requests part of the system.

[2018-01-12 21:17] JimKillock commented on #293
Thanks Dan: presumably if deleted, it is still picked up as blocked by court order / uncategorised tho?

[2018-01-12 21:18] dantheta commented on #293
Yes, that's right.  It's the attachment to the court order that's being deleted.

[2018-01-12 21:21] dantheta commented on #293
Group delete is done too.

[2018-01-12 21:24] JimKillock commented on #293
Thanks Dan :) I think we can close this. We still need a way to tidy up the clutter in the list, up to you how we do that however.

[2018-01-12 21:31] dantheta commented on #293
OK, that sounds cool.

[2018-01-12 21:31] #293 closed, assigned to dantheta

[2018-01-12 21:34] JimKillock commented on #253
Some small changes here that are worth doing so we can close this ticket.

[2018-01-12 21:37] JimKillock commented on #283
This is part of a wider issue we're beginning to see about probe management, eg, helping people know there are problems. We should probably support having multiple probe owners also, so the people managing the project in a country can follow up.

[2018-01-12 22:35] dantheta commented on #253
wiki and judgment links are done

[2018-01-13 18:08] JimKillock commented on #299
Moving this up the queue as the next item.

[2018-01-13 18:10] JimKillock commented on #301
Also this one, moved up as a simple (hopefully) tidy up to the court order pages, so we can move on to the 451 and EU work.

[2018-01-13 20:25] dantheta commented on #253
We don't have a linkable page for the URL group yet, that will follow #301

[2018-01-14 01:10] dantheta commented on #299
Page-level URLs are now hidden, and I've marked the case-variants as dupes.

[2018-01-14 08:56] JimKillock commented on #299
Thanks Dan; two missed dupes:

http://Yts.unblocked.lol

http://Watchseries.lt

Will you provide an admin tool so we can do this without bothering you each time?

There are other admin-side things to do relating to court order URLs, such as flagging them as ISP mistakes, which we could do together at a later date.

[2018-01-14 09:19] JimKillock commented on #299
(see #291 – I've added the flagging tool to that)

[2018-01-14 09:32] JimKillock commented on #232
Closing as covered at #291 and #299

[2018-01-14 09:32] #232 closed, assigned to dantheta

[2018-01-14 09:39] JimKillock opened #302 "Tidy up court order exports"
Include in the court order export, for each record:

* Date of first detection
* URL group / groups (if assigned to more than one)
* Any flagging information from #291

This will help us maintain the lists, and flag errors to ISPs etc in the short term.

[2018-01-14 09:41] JimKillock opened #303 "Retain DNS expiry dates"
For court order blocked domains, retain DNS expiry dates

[2018-01-14 11:38] dantheta commented on #291
I've kept the URL admin in the control panel, as the frontend can't normally look up URLs that have case differences or domain with a '/'.

[2018-01-14 11:40] dantheta commented on #299
URL admin tool is live.

[2018-01-14 11:40] #299 closed, assigned to dantheta

[2018-01-14 12:09] dantheta commented on #296
It is a different subdomain though.  I've been testing the final URL results from the probes for the last few days, and it does seem safe to classify the blocked.nb.sky.com results as copyright blocks.  I'll run a retest of those through the clean lines, and we should then be able to see them better in the legal blocks pages.

[2018-01-14 12:38] JimKillock commented on #298
Closing this as it's dealt with by the new admin tool at #299

[2018-01-14 12:38] #298 closed, assigned to dantheta

[2018-01-14 12:54] JimKillock opened #304 "Unblocked sites in checking queue"
Some unblocked sites are appearing on the front page / in the checking queue.

Not urgent to fix

[2018-01-14 14:38] JimKillock opened #305 "Double check on TT blocks"
I've asked for some manual checks on a TT line to check for court order blocks; and will report back if they are present but not being picked up

[2018-01-14 15:38] dantheta commented on #302
The export file has been updated with the same layout as the web page version (on the UK site).  Sites which have been flagged as duplicate/invalid etc are omitted from this report.

[2018-01-14 15:56] JimKillock commented on #302
Great work

[2018-01-14 15:56] #302 closed, assigned to dantheta

[2018-01-14 15:58] JimKillock commented on #253
The only bit of this that needs doing now is:

(3) List all judgments, whether they include blocked URLs or not. Where no site or IP address is detected, state "No sites or IP addresses currently detected."

The links back to URL group could be done, but #301 basically supercedes it.

[2018-01-14 19:45] JimKillock commented on #305
Manual check of:

manual check of:
http://couchtuner.bz
http://couchtuner.fr
http://couchtuner.me
http://couchtuner.mx
http://couchtuner.video
http://mycouchtuner.ag
http://www.couch-tuner.fr
http://www.couchtuner.fr
http://www.couchtuner.onl
http://www.couchtuner.video
http://bmovies.is
http://fmovies.is
http://fmovies.se
http://fmovies.se
http://sockshare.net

showed all blocked except  sockshar

[2018-01-14 19:51] JimKillock commented on #305
(checked up to http://onwatchseries.to off first page of results)

[2018-01-14 20:06] JimKillock commented on #274
Last one, BT, is agreed but not sent out.

[2018-01-14 20:56] dantheta commented on #305
Interesting - these are in-line responses similar to the plusnet ones.  No DNS hijacking, but injected page responses.  I've updated the rules and we can rescan those URLs.

The blocking page (which won't be visible outside of TT) contains a link to: http://www.talktalk.co.uk/blockedsites

[2018-01-15 09:46] JimKillock commented on #305
Thanks Dan, I think it's now not picking up the blocks on TT Kidsafe for some reason, for instance: https://www.blocked.org.uk/site/http://watchseries.lt

[2018-01-15 12:00] Mike-ORG opened #306 "Separate filer & legal blocks"
Under 'active blocks' separate into 'blocked by filter' & 'blocked by court order'.

[2018-01-15 12:33] JimKillock opened #307 "Server confuses blocked.org.uk and netblocked.eu"
After visiting both websites, the server seems to misunderstand which site's pages to serve so users get presented with pages from both domains and both domains.

[2018-01-15 12:38] alexhaydock opened #308 "Don't display protocol for improved readability"
For readability and usability purposes, could we consider dropping the protocol names (e.g. http://, https://) from being displayed on the site and just displaying the domains instead?

Displaying this information leads to a cluttered interface and seems like it ought to only be useful if we're seeing a difference between blocks on certain protocols. Might be wrong, but as I understand it, most of

[2018-01-15 12:41] dantheta commented on #307
Is it the theme that's being mixed up ( the logo at the top), the results or the text (or some combination)?

[2018-01-15 12:46] JimKillock commented on #307
It seems like the whole page content. I've sent a couple of screenshots via RocketChat

[2018-01-15 12:47] alexhaydock commented on #307
It's happening even on first visit in a completely fresh Tor Browser

![screenshot](https://i.imgur.com/2P4RVX5.png)

[2018-01-15 12:48] alexhaydock commented on #307
Potentially related, but https://www.blocked.org.uk/sites is serving a 404 on about every 1/3 visits for me, again even in a fresh blank browser.

[2018-01-15 12:55] alexhaydock opened #309 "Clarify the "No Adult" filter level on status page"
The [probe status page](https://www.blocked.org.uk/stats/probes) lists Virgin Media lines' filter status as "No Adult", which is ambiguous as to whether this means "No Adult Filter" or "No Adult Content".

This should probably be changed to "Unfiltered" to match the others (or something like "Disabled", if you're reserving "Unfiltered" for ISPs like A&A who don't even implement the IWF's lists)

[2018-01-15 12:57] dantheta commented on #307
I've put in a fix which should sort it out. I'm no longer getting the 1/3 404 errors.

[2018-01-15 12:58] dantheta commented on #307
It also means that netblocked and blocked can be updated separately even though they're from the same codebase.

[2018-01-15 12:58] #307 closed, assigned to dantheta

[2018-01-15 13:06] alexhaydock opened #310 "Flag up internally when a legal block shows up only on a filtered line"
Looking at the legal blocks page, we aren't flagging up when a site is being blocked on an ISP's filtered line, but **isn't** being blocked on their unfiltered one. Situations where this is happening could potentially indicate that this is an issue with an ISP filter and not a legal block.

For instance, this example from the legal blocks page:
![image](https://i.imgur.com/EimuUCq.png)

The bottom

[2018-01-15 22:50] dantheta commented on #308
This would definitely improve the legal blocks and reported sites pages (basically, anywhere there are URLs in a table).

[2018-01-16 00:14] #296 closed, assigned to dantheta

[2018-01-17 18:08] JimKillock opened #311 "New data"
I've sent over some data sources: 4 million general URLs, some specific IP addresses, 2-300 Pirate Bay clones (will include duplicates), some Catalonian websites possibly blocked in Spain.

Can we get tests going on these?

[2018-01-19 08:22] JimKillock opened #312 "EU and UK sites flipping"
I'm getting this still: it did reduce, but it is happening for me regularly at the moment.

On the admin side, this means I get a lot of errors on submit, while the requests are actually processed.

I want to send people to both sites to review and compare but I'm wary as they will get errors.

Will supply screenshots.

[2018-01-19 09:36] dantheta commented on #312
I haven't been able to reproduce the problem this morning.  I've given everything a restart and made one more config change to try to eiliminate the problem.

[2018-01-19 09:38] JimKillock commented on #312
Nor me this morning! I'll close it and let you know if it reappears.

[2018-01-19 09:38] #312 closed, assigned to dantheta

[2018-01-19 09:41] JimKillock commented on #311
Ping on these as the next issue.