[2018-01-19 12:34] gwire opened #313 "GOV.UK domains"
I don't know if they've already been imported, but you can get a list of all registrations under gov.uk via https://government-domain.register.gov.uk

[2018-01-19 13:57] JimKillock opened #314 "Probe order"
I need to order more probes, including EU plugs for delivery. Can you send me some instructions?

[2018-01-19 16:07] cmlb1879 opened #315 "Share your stories"
Add something like 'If your website has been blocked please get in touch here: blocked@openrightsgroup.org' on the 'Your Stories' page so that people who want to tell us their stories can

[2018-01-19 17:30] dantheta commented on #314
Details sent.  We can probably incorporate this into a wiki page at some point.

[2018-01-19 17:30] #314 closed, assigned to dantheta

[2018-01-21 12:15] JimKillock opened #316 "Testing policy"
I've drafted a testing policy for UK and EU probes here:

https://wiki.openrightsgroup.org/wiki/Blocked.org.uk/Testing_policy

The idea is to:
* have a strategy to quickly find most of the blocks; and
* maximise the use of the lines

So it would mean running incomplete tests on domains, to get started, rather than a full test each time.

Comments welcome.

[2018-01-22 22:16] dantheta commented on #253
Working on that last bit - the query for it is very expensive.  It's gluing together court orders without URLs, court orders with URLs and URLs without court orders in a full outer join.  The current version is blocked URLs which may or may not have a court order, which is a lot faster.  Will keep updating.

[2018-01-23 00:03] dantheta commented on #305
The kidsafe ones seem to be picked up OK now.  Adding a new rule shouldn't have affected the interpretation of existing rules, but TT always manage to surprise me.  I think we can close, but feel free to reopen if it reappears.

[2018-01-23 00:03] #305 closed, assigned to dantheta

[2018-01-23 00:05] dantheta opened #317 "Add "Allow ORG to contact me about this report" checkbox"

[2018-01-23 00:06] dantheta commented on #311
The 4million list is resolving and importing; the others are done.  The catalan blocking may be more OONI's territory, but we can see if anything gets spotted.

[2018-01-23 09:23] JimKillock commented on #253
I can see that :) Could we flag an injunction as "No URLs associated" on the admin side and use that to list them in a separate, simpler query?

[2018-01-23 22:04] JimKillock commented on #227
PlusNet install complete

[2018-01-23 22:04] #227 closed, assigned to JimKillock, dantheta

[2018-01-23 22:05] JimKillock commented on #274
BT clean line probe running

[2018-01-23 22:05] #274 closed, assigned to JimKillock, dantheta

[2018-01-23 23:59] dantheta commented on #227
The new plusnet line definitely has parental filtering active.  I think it's the first time we've seen it working on plusnet!

[2018-01-24 21:42] JimKillock commented on #316
@dantheta would it be worth a chat / IM / RocketChat discussion about this, or does it all make sense? I had the feeling it might need remodelling of how the test queue system works?

[2018-01-25 00:38] dantheta commented on #316
It all makes sense - it doesn't require huge changes to the data model.  It's mostly componentized with a set of 10-minutely jobs to run based on the source categories.  The current version is here:  https://github.com/openrightsgroup/Blocking-Middleware/blob/master/backend/requeue.php

[2018-01-25 14:25] JimKillock opened #318 "Report buttons greyed out: unclear why"
On this list the report buttons are grey, it is unclear why:

https://www.blocked.org.uk/list/Suicide

[2018-01-25 21:25] dantheta commented on #318
The frontpage lists were being periodically rechecked, but the non-frontpage ones (like /list/Suicide) weren't.  The results that had been cached in the frontend had become too old.  I've changed the status refresh so that all lists are updated from the API, but it's still only the frontpage ones that are retested daily.

[2018-01-25 21:25] #318 closed, assigned to dantheta

[2018-01-25 21:28] dantheta commented on #304
Fixed this in #318

[2018-01-25 21:28] #304 closed, assigned to dantheta

[2018-01-26 00:22] dantheta commented on #253
I'd forgotten about UNION - thanks!  All sorted.  There's a court order with no sites on page 3 of the legal blocks list.

[2018-01-26 00:22] #253 closed, assigned to dantheta

[2018-01-30 13:29] gwire opened #319 "Show if the site is a domain parking site"
I've been going through old court-ordered blocks, and many now are pointing at either "domain for sale" or "domain parking" sites.  This status should be recorded and surfaced in the web interface.

1) presumably there are a number of IP addresses used by these services so some amount can be automated.

2) the feedback form has a "domain is for sale" but no "domain parking" statement. ("domain is

[2018-01-30 23:03] JimKillock commented on #319
See also #291

[2018-01-30 23:19] JimKillock commented on #291
See also #319

[2018-01-30 23:35] dantheta commented on #319
Added a new feedback option.  Searching for "registered" in the front page seems to find quite a lot of these.

[2018-01-31 09:14] JimKillock opened #320 "Cache court order block pages"
For injunction / court orders only:

I think it would be helpful for people to see / read the block pages, even when these are only available within a network.

Would it be possible to cache the block page html, and make it available, in the way Google search or archive.org does, and how hard / expensive in hardware terms would this be?

[2018-01-31 23:01] dantheta commented on #320
Storage-wise it isn't too huge at all.  To keep a single (latest) version of each blocked URL/network combination would add a few gig.  I need to sort out archiving off some of the older results, since the database is getting pretty close to 100GB now.

[2018-02-01 17:04] gwire opened #321 "Normalise base URLs (e.g. to end in trailing slash)"
The backend editor (eg for grouping court orders) seems to include doubled up entries for both `http://www.example.com` and `http://www.example.com/` suggesting they are two separate database entries, but the frontend seems to show the same record for both.

[2018-02-01 17:08] gwire opened #322 "Treat the https and http entries as the same site"
Where a site has an entry for `http://www.example.com` and `https://www.example.com` either

1) the frontend should display a link from one to the other

2) both the http and https results should be displayed on the same page

[2018-02-03 08:33] JimKillock commented on #321
AIUI the database has just http://www.example.com – so the entries in the control are just (my) user error.

[2018-02-03 08:34] JimKillock commented on #320
Yes, that's a good point. Where would the archived results go?

[2018-02-04 04:06] #317 closed, assigned to nobody

[2018-02-05 09:21] JimKillock commented on #283
@dantheta I think we should tackle this next, as we're getting a lot of questions from people now, and it must be taking up your time more than necessary.

[2018-02-07 00:22] dantheta commented on #283
I've set up a nagios instance on the API server which can watch all of the probes.  The email alerts are customizable, and the probe owners can even see the status on the web frontend (just their probe).  It's still in testing, so it isn't sending the email alerts for real just yet, but that should be doable in the next couple of days.

[2018-02-08 22:58] dantheta commented on #303
This is being recorded for bare domain records (http://domain.tld).  It's capturing the registration expiry when a URL is submitted for testing, and will cache for 6 months or until expiry.  We can trigger an anomaly report if a URL comes up with a dnserror status from a clean line probe before the expiry date.

[2018-02-08 22:58] #303 closed, assigned to dantheta

[2018-02-08 23:00] dantheta opened #323 "Add URL status to results feed"
This allows:

* We can trigger an anomaly report if a URL comes up with a dnserror status from a clean line probe before the expiry date.

* Scalable elastic updates on blocked results.

[2018-02-11 23:35] dantheta commented on #283
The template can be improved further, but the basics are done.  More improvements to do to the template and to add in database checks (time since last result).

[2018-02-11 23:35] #283 closed, assigned to dantheta

[2018-02-13 00:32] #300 closed, assigned to dantheta

[2018-02-13 11:38] gwire opened #324 "Surface information on "malicious site" blocks"
Most of the network filter providers will have an option to block "malicious sites", e.g. phishing scams, malware sources, botnet command and control, etc.

* Do we have the ability to see the difference between under-18 blocks and security blocks based on the ISP response?
* If not, would it be worth having probes that do security blocks only?
* Are we able to separate out this category in terms

[2018-02-13 12:03] gwire commented on #324
Presumably we can cross reference against DNS lookups for Quad9 and OpenDNS.

[2018-02-13 13:34] gwire opened #325 "Switch off autocomplete for mail website check form"
Can we set `<input autocomplete="off" ... />` for the website check box.  I've tried typing in urls, only to have the browser helpfully insert spaces or "fix" the spelling.

(This is the [W3C standard](https://www.w3.org/wiki/HTML/Elements/input/text) , I believe the other `autocorrect` and `autocapitalize` settings are not.)

[2018-02-13 13:42] dantheta commented on #325
Might also help sort the Http:// URLs we get.

On 13 February 2018 13:34:07 GMT, gwire <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-02-13 21:35] dantheta commented on #325
Done.

[2018-02-13 21:35] #325 closed, assigned to nobody

[2018-02-13 22:07] gwire opened #326 "Interpret CloudFlare challenges as a special case error"
Some CloudFlare presented sites will present a 503 response with a javascript challenge before presenting the site, which makes it difficult to interpret results.

* If a site is using cloudflare (or a similar proxying CDN) we should record that anyway (and probably surface this at some later point)
* If a site is using cloudflare and we can detect that, we should surface that information as the r

[2018-02-13 22:41] dantheta commented on #324
We do have some patterns for malware interception products in use by plusnet and virginmedia, though there aren't any in the current result set.  The detection patterns may be out of date.

[2018-02-13 22:44] dantheta commented on #324
Yes.

We don't currently have any ISP-malware-warning sites in the system, but we could (and should) exclude them from the frontpage lists.

[2018-03-12 14:47] gwire opened #327 "siteblocked.org is TalkTalk's blocked page"
http://www.siteblocked.org is [listed](https://www.blocked.org.uk/site/http://www.siteblocked.org) as being blocked by a High Court Order.

But, this seems to be used by TalkTalk to convey information about court blocks. The domain is currently registered to them and the page links to talktalk's support page.

(Of course, it's strange that O2, EE, Three, and Sky are blocking it via adult filters..

[2018-03-13 10:45] gwire opened #328 "Admin page for court blocked sites where order is not known"
One of the things I've been doing is checking the final entries in [legal blocks](https://www.blocked.org.uk/legal-blocks) to check for new entries that need to manually associated with known court orders, which involves navigating to the page (since the url changes) and eyeballing the list for new entries.

It would be good to have an admin page that lists the unassociated court blocks in the ord

[2018-03-13 15:22] JimKillock commented on #291
Hi @dantheta – note to say @gwire would like to input this information so it would be great if this could move to the top of the todo list :)

[2018-03-13 15:28] gwire opened #329 "Court ordered block domains should not be case-sensitive"
Both `http://primewire.unblocked.bz` and `http://Primewire.unblocked.bz` are listed as separate entries in the court-ordered blocklist.

* https://www.blocked.org.uk/site/http://Primewire.unblocked.bz
* https://www.blocked.org.uk/site/http://primewire.unblocked.bz

[2018-03-13 23:59] dantheta commented on #328
There's a new menu entry in the control panel for the unmatched copyright blocks report.

I'm also thinking of adding a URL format categorizer that will allow us to filter URLs depending on whether they are domain, subdomain or full page URLs, and also to normalize the scheme that is in use (mentioned in another issue, cross-matching http and https URLs).

[2018-03-25 09:39] dantheta opened #330 "Categorize domains by type"
Add category column for DOMAIN, SUBDOMAIN, PAGE, and a function to get the parent URL.

This can help cut down duplication of court orders and block reports.

[2018-03-27 00:42] dantheta commented on #316
The control panel is up and running, and allows batches of URLs to be fed to a user-defined set of ISPs at a specified rate.  There's still some further changes and documentation to write, but the basics are there.

[2018-03-27 09:23] JimKillock commented on #291
Hi @dantheta: we have campaigning to do that relies on us using this tool so we need this ASAP.

[2018-03-27 23:03] dantheta commented on #291
The court order view now has a flag link by each listed URL, which leads to a form for recording the details.

[2018-03-27 23:30] dantheta commented on #291
The court order view now has a flag link by each listed URL, which leads to a form for recording the details.

[2018-03-28 12:08] JimKillock commented on #291
Thanks @dantheta – could you for convenience add an active link (open in new tab) for the links on the list, (could be a button or whole URL as a link)  to aid us going through the checking process?

And same for the "Flag http://couchtuner.bz" form pages.

[2018-03-28 12:13] JimKillock commented on #316
Thanks, that's very helpful, I'll take a look.

[2018-03-28 12:23] JimKillock commented on #316
Looks very helpful. Can we also edit or add to the source categories / URLs themselves?

[2018-03-28 14:46] JimKillock commented on #291
Also: for the date field, could it pre-fill today's date?

[2018-03-28 15:05] gwire commented on #207
We've received an email from O2 stating the correct address:

[2018-03-28 15:25] dantheta commented on #207
This has been updated now.

[2018-03-28 20:44] dantheta commented on #291
All done.  I've tried reviewing a few, and it seems to go through pretty smoothly.

[2018-03-28 20:47] dantheta commented on #316
The source categories are generally assigned during import, but I'm planning to add that functionality to the URL admin screen.  The URLs themselves aren't editable since they have historical results attached, but they can be deleted or marked invalid on the URL admin screen.

[2018-03-28 21:04] dantheta commented on #329
New domains that are added through the court order system will be normalized.  The scheme and netloc parts of the URL will be converted to lower case.  The path component (if present) will retain its original case.  The http scheme will be added if none is present.

URLs that are already there will be converted using database edits, or deleted if a normalized-case version exists.

[2018-03-28 21:19] dantheta commented on #329
I've cleaned up some of the lower vs title case duplicates and https vs http duplicates.

[2018-03-28 21:19] #329 closed, assigned to nobody

[2018-03-28 21:22] dantheta commented on #327
Yep, this is an odd edge-case.  The probe recognizes the correct patterns in the page, but there isn't a way to mark the result in the database just for one ISP.  More complicated rule handling would be required in the probe to correctly categorize this result.

[2018-03-28 21:35] dantheta commented on #321
This has been fixed in #329 for new records.  The non-trailing slash version was preferred on the main site (to improve readability), so the same convention has been kept here.

[2018-03-28 21:35] #321 closed, assigned to nobody

[2018-03-28 21:51] dantheta commented on #322
The HTTPS results page now has an information panel directing the user to the HTTP version.  The HTTP version does not link to the HTTPS results page at the moment because the results are rarely more interesting.

Any suggestions for the info panel wording are gratefully received.  It might be a bit too technical in its current form.

[2018-03-29 07:37] JimKillock commented on #322
Although the results are less interesting I think a link from http to https may be helpful to navigate backwards and forwards between the two. It also shows we have run the tests and the same blocks should occur.

Sometimes the https results may be a little bit interesting, for instance a 'dead' site would have differing results where DNS was faking its existence on blocked networks.

[2018-03-29 07:39] JimKillock commented on #291
Great :) Now we will need to work out a way to display all this on the front end.

As a first step, we could add the per-URL flag information on the legal blocks page, and the site report page.

On the site report page: the flag information should be placed underneath
"This site has been blocked by court order."
in a smaller text eg: <p>This site has been flagged as incorrectly blocked by as it is

[2018-03-29 10:10] JimKillock opened #331 "Results page for incorrect legal blocks"
create page at /legal-blocks/errors

Present statistics:
* Total sites blocked by Injunction
* Total sites incorrectly blocked by Injunction
* Error rate as %age
** Error rate as %age per ISP

Error categories table
* Total Errors
* Total Error per ISP
* Total error per category

Error sort page
* List of flagged URLs (linking to report page)
* Sort by error type, ISP, injunction

[2018-03-29 18:43] JimKillock opened #332 "EU subdomains"
Present per-country results at subdomains, eg

be.netblocked.eu

Link these from the 'filter by country tool if practical.

[2018-04-02 14:18] dantheta commented on #331
The first version is live at https://www.blocked.org.uk/legal-blocks/errors.  At the moment the entries are drawn from blocks across all ISPs - it doesn't drill down to ISP level yet.

[2018-04-02 14:53] JimKillock commented on #331
Thanks Dan: what is causing the disrepancy between the legal blocks page figure ("1190 sites detected") and the error page figure: ("1,689 sites blocked by injunction")?

I'm assuming the lower figure is the more useful one?

[2018-04-02 15:29] dantheta commented on #331
The new report page was using URLs across all territories, rather than restricting to GB (as the legal-blocks) page does.  They are now both reporting based on the geographical set of URLs.

[2018-04-02 15:46] JimKillock commented on #331
Ah right, great :)

We will work on the data next week and will let you know if anything else springs up :)

[2018-04-02 16:20] dantheta commented on #331
Cool.  Do you want it to drill down to ISP level at this stage?  If so, we'll need to decide whether it should focus on the ISPs that the court orders target or the ISPs that the block has actually been detected on (and do the cross-referencing to find out if&where they are different).

[2018-04-02 16:39] JimKillock commented on #331
Hm …

(1) ISPs should not be blocking anything that is not subject to a court order.
(2) We don't always know why a site is blocked and why it was identified as subject to a court order, nor which court order
(3) With many URLs / sites, we assume they are clones and identify them with likely court orders
(4) We identify per URL / site that they are no longer infringing and flag them
(5) Some ISPs

[2018-04-02 17:17] dantheta commented on #331
Errors by ISP has been added.  The page layout can still be tweaked to balance things out a bit.  I might put the large stats block above "Errors by type", so that there are two columns at the top.

[2018-04-02 19:09] JimKillock commented on #331
Great, thanks Dan. Two questions / comments:

(1) List the "unfiltered" networks subject to court order blocks, so BT / Virgin / PlusNet / Sky / TT first; plus any of the mobile networks we know are (still) doing this (it has changed over time).

For results from filtered networks, we would need to explain why the numbers are lower (ie, that many URLs are blocked for filtering reasons and the cour

[2018-04-02 21:48] dantheta commented on #331
The ISPs list has been updated so that it only shows fixed unfiltered and mobile lines.

For the BT unfiltered count, BT have added a new page response (this one injects a 200 response with content that links to ukispcourtorders instead of redirecting).  The rules have been updated and I'm re-running all known copyright blocks against BT Unfiltered.

[2018-04-03 11:44] JimKillock opened #333 "Remove injunction flag information"
Create ability to remove the information from a flag (record created in error), or create a new flag (new status).

Normally a flag should persist as a prior observation, rather than be removed entirely

[2018-04-03 13:23] JimKillock commented on #333
Mistakes, for ref:

http://couchtuner.mx
http://couchtuner.video
http://itswatchseries.to

need unflagging / deleting the flag entry

[2018-04-03 15:48] JimKillock commented on #291
feedback:

"It looks like some of the flags aren't showing up on the main page, which registers only 30 'incorrectly blocked' sites. https://www.blocked.org.uk/legal-blocks/errors?sort=created "

[2018-04-03 19:28] JimKillock commented on #331
One query:

(1) We have identified more incorrect blocks than are listed: we'd like to double check why this is; I am assuming it is maybe because the incorrect blocks identified on the admin side are not currently listed as blocked by any ISP

and a couple of things to change:

(2) The list needs a scroll to extra pages

(3) The arrows needs to list in ascending / descending order

[2018-04-04 00:48] dantheta commented on #331
(1) Yep, that's right for the majority of cases.  There are few cases where a block exists but it isn't categorized as a copyright block or the ISP where a block exists is outside the GB territory.

To make flagging a bit easier, I've added the current block status to the flag page.

[2018-04-04 08:03] JimKillock commented on #333
Could we also add a "checked" flag with date, so that we can record sites as observed " block appears correct"?

I think this would make the data more robust.

[2018-04-04 08:18] JimKillock commented on #330
This looks like a good idea Dan

[2018-04-04 22:51] dantheta commented on #333
Added.  There is now an "unflag" button on the flag screen.  Changes to the flag options are also written to a history table, which is shown below the editor form.

[2018-04-05 22:43] JimKillock commented on #333
Thanks Dan, can we have the ability to delete a particular history entry (because the observation was incorrect) or mark the observation as incorrect?

[2018-04-05 22:45] JimKillock opened #334 "Legal blocks review list"
This is a query as to why the list of sites to review on the admin side is much longer and different to the list of the public side.

Could it be limited to the same set of pages as the public page?

[2018-04-06 14:17] JimKillock commented on #333
Unfortunately there are quite a few entries I will need to delete, so this will be quite important to get the data up to scratch.

[2018-04-06 14:18] dantheta commented on #333
No  problem, I'll have that fixed tonight.

On 6 April 2018 15:17:13 BST, JimKillock <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-04-06 18:38] JimKillock commented on #333
Thanks, if you can add an alert symbol where there is any prior flagging that would also be handy (on the index page showing all the sites per injunction). That would let me scan down the list to see what needs to be double checked, if an old in-error flag has been recorded and removed. Else, I will have to check each entry.

[2018-04-06 22:34] dantheta commented on #333
Deleting a historical flag is now possible (there is a trashcan link in the history section).

The number of flags for a URL is now shown on the URL listing screen as well.

[2018-04-06 22:44] dantheta commented on #334
The review unmatched query is now using the same restrictions as the public page.

[2018-04-07 10:24] JimKillock commented on #333
Thanks Dan. One final thing we could do:

* allow a user to add that a site has been checked (without finding a concern), on a particular date, from the "flag" screen

This would help us to do re-checking in the future.

[2018-04-07 13:25] dantheta commented on #333
Already added :) There's a "block appears correct" option in the list of flag options.

[2018-04-07 13:27] gwire opened #335 "Embed site screenshot on site information page"
A number of URLs covered by blocking orders no longer point to active sites.

For court-ordered blocks, it would be good if we could add a screenshot of the site on to the page, since the user may not be able to check directly.

Could this be done using a third-party service. Could we integrate with the urlscan.io api?

[2018-04-07 13:50] JimKillock commented on #333
That's great Dan: although as it is not a error, it needs to be omitted from the list and calculations at

https://www.blocked.org.uk/legal-blocks/errors

(eg, not appear in "errors by type" and in the total of "sites incorrectly blocked")

Also, they should not appear in the list of incorrect blocks and not in the per-ISP totals.

I was thinking this might be a bit complicated … would it be easie

[2018-04-08 09:44] JimKillock commented on #333
Alternatively: you could leave it as is, *but*:

* ensure the total incorrect blocks discounts “Block appears correct”
* ensure the percentage calculator discounts “Block appears correct”
* Change "Errors by type" to "error status by type"

That seems simpler and you may have already done the first two?

[2018-04-08 23:24] dantheta commented on #333
Ah yes.  Those are done now.

[2018-04-15 11:19] dantheta commented on #328
This looks pretty complete.  Feel free to re-open if changes are needed!

[2018-04-15 11:19] #328 closed, assigned to dantheta

[2018-04-15 11:20] #333 closed, assigned to dantheta

[2018-04-15 11:26] #334 closed, assigned to dantheta

[2018-04-15 20:39] dantheta commented on #330
This is backfilling data now.  We can use this to reduce duplication in the injunction and parental filtering reporting.

[2018-04-15 20:39] #330 closed, assigned to nobody

[2018-04-15 21:11] #311 closed, assigned to dantheta

[2018-04-15 21:39] #322 closed, assigned to nobody

[2018-04-15 21:39] dantheta commented on #322
Added the HTTPS link on the results page.

[2018-04-16 15:06] JimKillock opened #336 "Blocked site report page: error info"
Add in on page reports (eg:

https://www.blocked.org.uk/site/http://104.31.19.30 )

* The error status information, eg: "This page has been flagged as incorrectly blocked under an injunction. It is flagged as XXXXX"
* Link to the full error pages

[2018-04-16 15:11] JimKillock opened #337 "Errors page changes"
Change on the legal blocks errors page:

* Change the list to the usual « 123 » style of scroll through
• Remove the "Block appears correct" information from the top results block
* Remove the "Blocks" from the ISP results column as it seems to be the same as the "`rrrors" column

[2018-04-16 15:12] JimKillock opened #338 "Injunction pages"
Add error info to Injunction pages, per result under each block.

Link to errors page from the top

[2018-04-17 10:35] gwire opened #339 "Add "reverse proxy failure" as a flag state"
Domains where the server is gone, but still point at a valid reverse proxy (such as Cloudflare giving a 52x status), can only be determined as "down" based on multiple observations over time.  Please add a specific category for this type.

[2018-04-17 10:40] JimKillock commented on #339
Is this in relation to injunction errors, or flagging of filtered URLs?

[2018-04-17 11:24] gwire commented on #339
For flagging the section 97a blocks - you can flag the site as down, but it might actually be a temporary state.

[2018-04-17 12:54] JimKillock commented on #339
OK: question, how many of these do we have in the data set that may be mis-attributed?

[2018-04-18 07:53] JimKillock commented on #339
@gwire Did you spot many reverse proxy errors? I'm asking as we will need to re-flag tbe results and this will be some work for someone

[2018-04-20 20:48] #339 closed, assigned to dantheta

[2018-04-23 15:46] MarthaDark opened #340 "Fundraising on the page"
Can we cage the donation banner across the top so that it is to the right go the page. Can it instead say that

You can join the Open Rights Group or donate to support the project.

Support Blocked!
With your help, we can correct mistakes caused by overblocking and improve transparency about filtering in the UK. We need to raise £5,000 to continue this work so please support the project today!

[2018-04-23 15:53] JimKillock commented on #340
Can we also have a donate button (based on PP button) as here:

https://www.privacynotprism.org.uk

PP button code for Blocked:

< form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
< input type="hidden" name="cmd" value="_s-xclick">
< input type="hidden" name="hosted_button_id" value="NPU6HTUCX53QQ">
< input type="image" src="https://www.paypalobjects.com/en_US/GB/i/

[2018-04-23 21:39] dantheta commented on #340
On 23/04/18 16:46, MarthaDark wrote:

The text changes are fine, and the non-tracking button will work fine.

I'm  not quite sure what you mean with caging the layout? (apologies if
this was a mobile typo - I'm terrible for those)

If you would like to send a rough sketch, that'd be really useful!

 It's also worth keeping in mind that although we've got wide borders on
the left & right on widescr

[2018-04-25 11:05] JimKillock opened #341 "Changes to sort and export"
We have had some bad data added to the reports, unfortunately, which needs further checking.

In order to make these checks, we need to be able to sort the dataset to look for specific kind of reports, rather than examine each one via the admin pages.

Can we:

1 add the error status to the export tool on the 'legal block' page

2 change the behaviour of the scroll-through on the 'errors' page, so

[2018-04-25 11:07] dantheta commented on #341
On 25 April 2018 12:05:46 BST, JimKillock <notifications@github.com> wrote:

I think this exists already - I can remember writing it, at least :)

I can fix this quite quickly.

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-04-25 11:18] JimKillock commented on #341
Thanks, yes, there is a column "reason" with error reports. There is a bit of info missing that would be helpful, "domain may be abusive", if that or another column could record the options (clickfraud/redirects ; malware).

It is the redirects that are misclassified – one user recorded that any redirect was recorded as abusive, where these are better marked as 'block appears correct'.

[2018-04-25 12:25] dantheta commented on #341
On 25 April 2018 12:05:46 BST, JimKillock <notifications@github.com> wrote:

I've added a quick fix for this.

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-04-25 22:07] dantheta commented on #341
The export function has been updated.

[2018-04-25 22:19] #341 closed, assigned to JimKillock, dantheta, MarthaDark

[2018-04-26 06:37] JimKillock commented on #340
caging: changing?

[2018-04-29 10:28] dantheta commented on #294
This can be done by searching for the URL in the admin panel's URLs menu and adding a tag (like "courtorder-watchlist").  A weekly test can be added in the test schedules menu to check "courtorder-watchlist" weekly.  The repeat scheduling isn't quite working yet, but it's fine to start tagging URLs.

There are still a bunch of improvements to make to the URL tagging feature (such as adding newly-c

[2018-04-29 17:32] JimKillock commented on #340
Thanks Dan: changes —

(0) Change "support blocked" to "We need £5,000"

(1) Delete the line "You can join the Open Rights Group or donate to support the project."

(2) Change "With your help, we can correct mistakes caused by overblocking and improve transparency about filtering in the UK. We need to raise £5,000 to continue this work so please support the project today!" to

"We need £5,000 to o

[2018-04-29 21:50] dantheta commented on #340
Updated!

[2018-05-05 18:56] gwire opened #342 "Pull category data from Categorify"
There's a DNS based web filter service, [CleanBrowsing](https://cleanbrowsing.org) (which launched about 10 months ago), which makes its categorisation information available via an API at [Categorify](https://categorify.org/). It's a little light on the actual Terms of Use, but it might be worth taking a look at.

[code]

[code]

[2018-05-13 10:11] dantheta commented on #209
Multiple user accounts feature is live now - the previous admin user account is still valid, and addition users can be created by an admin using the users tab in the control panel.  Just doing the privilege separation stuff now.

[2018-05-14 21:40] dantheta commented on #209
That's live now.  The "moderator" user role is able to create & manage URL lists.

The user's admin level is shown in a little badge in the top left when they are on the main site.

[2018-05-14 21:40] #209 closed, assigned to nobody

[2018-05-16 10:07] JimKillock opened #343 "Add status to legal requests / court order page"
On the court order admin pages, eg:

https://www.blocked.org.uk/control/courtorders/13

* add the status of each URL near the flag info.

This one is quite urgent to flag up and resolve the last input errors.

[2018-05-16 20:01] dantheta commented on #343
All done!

[2018-05-16 20:01] #343 closed, assigned to dantheta

[2018-05-24 11:21] JimKillock opened #344 "Add "No court order identifiable" to error types"
On the error status reports for copyright blocks, add a "No court order identifiable" option.

[2018-05-24 12:11] dantheta commented on #344
That's been added.

On 24 May 2018 12:21:03 BST, JimKillock <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-05-25 15:06] JimKillock commented on #344
Thanks Dan: can you add this to the front end also?

[2018-05-26 09:50] gwire opened #345 "Flag malware C2 domains and prevent testing"
We should have a mechanism to prevent, or restrict, retesting of former malware command and control domains.

Currently, what I believe is currently happening is

* for whatever reason, someone submits a malware domain to blocked.org.uk to test its availability from UK networks
* that domain later comes into the control of another party, e.g. via [Shadowserver](https://en.wikipedia.org/wiki/Shadow

[2018-05-28 11:06] #340 closed, assigned to dantheta

[2018-05-28 11:08] dantheta commented on #344
It should appear on the public part of the site whenever that flag is used for a court order.

[2018-06-11 14:14] JimKillock opened #346 "Export feature network tidyup"
Change the CSV exports to have a column for each network. At each network mark Y or N to indicate a block.

This will allow much easier sorting of results, so that ISPs can find errors that belong to them, for instance.

[2018-06-11 14:18] JimKillock commented on #301
Could we move this one up the queue?

[2018-06-11 22:22] dantheta commented on #301
The first version is up now, linked from "Legal blocks" -> "Court order index".  Each order links through to a list of associated sites, which link to their results pages.

We can add more information about the court order to each of the court order (/legal-blocks/order/nnn).  The court order index page (/legal-blocks/orders) can have CMS/ModX text as well.

[2018-06-12 08:47] JimKillock commented on #301
Thanks Dan. These looks good. These would be the next changes:

(1) https://www.blocked.org.uk/legal-blocks/orders should move to the /legal-blocks page

(2)  Base the "Sites listed" on the "groups" and call it "Services targeted". The sites on our lists for detection and testing are an internal matter only (source lists of possible blocks).

(3) Add in a statistic "Errors detected" based on error

[2018-06-12 08:49] JimKillock commented on #346
@dantheta Note that this one is quite urgent, as the ISPs need this data to clean their errors ;)

[2018-06-12 22:00] dantheta commented on #346
That's done.

I've opted for "Y" or [blank] for visual ease.

The columns in the sheet are suitable for excel filtering.  Might be worth checking a few of the entries from the CSV against the web view.  I've checked a few and they look OK.

[2018-06-12 22:00] #346 closed, assigned to dantheta

[2018-06-14 15:41] JimKillock opened #347 "Social media previews"
Some of the pages seem to be lacking social media info, eg:

https://www.blocked.org.uk/legal-blocks

https://www.blocked.org.uk/legal-blocks/errors

Can we add some default information?

[2018-06-15 08:26] JimKillock opened #348 "Flagging court orders sites that are not matched to injunctions"
Allow the admin user to access a list of domains with the "URL Whois Expiry	Status" info, plus the ability to add a flag, in the same way as for sites under each court order.

[2018-06-15 08:26] JimKillock commented on #344
I think this is done and can be closed

[2018-06-15 08:26] #344 closed, assigned to dantheta

[2018-06-15 08:28] JimKillock commented on #301
Adding to this: if we use the approach above, we will also need a list of sites that we haven't grouped into a court order.

[2018-06-15 09:47] JimKillock opened #349 "Filters "Reported sites" tweaks"
For the stats at https://www.blocked.org.uk/reported-sites :

(1) Add after "Reports Sent" "Total sites" "Sites unique to ISP"

(2) Amend "Sites Unblocked" to "Sites verified as unblocked by this ISP"

(3) Add "All sites unblocked at this ISP"

(4) Add text field for the methodology so we can explain how and why we present these stats this way.

[2018-06-15 09:51] JimKillock commented on #226
I think we need default values for all pages. Preferably we should be able to overwrite these in MODX, but a default would make life easier.

[2018-06-15 09:51] JimKillock commented on #347
Closing as duplicate of #226

[2018-06-15 09:51] #347 closed, assigned to dantheta

[2018-06-15 09:52] JimKillock commented on #316
The main thing here is to be able to add URLs for testing, so we can expand the test lists for sensitive categories.

[2018-06-15 09:53] JimKillock commented on #291
This I think is done and can be closed

[2018-06-15 09:53] #291 closed, assigned to dantheta, gwire, MarthaDark

[2018-06-15 09:54] JimKillock commented on #331
I'm sure this is all done so closing

[2018-06-15 09:54] #331 closed, assigned to dantheta, gwire, MarthaDark

[2018-06-15 09:56] JimKillock commented on #349
Duplicate of #279, moving commentary there

[2018-06-15 09:56] #349 closed, assigned to dantheta

[2018-06-15 09:56] JimKillock commented on #179
Tweaks for the stats at https://www.blocked.org.uk/reported-sites :

(1) Add after "Reports Sent" "Total sites" "Sites unique to ISP"

(2) Amend "Sites Unblocked" to "Sites verified as unblocked by this ISP"

(3) Add "All sites unblocked at this ISP"

(4) Add text field for the methodology so we can explain how and why we present these stats this way.

[2018-06-15 09:57] JimKillock commented on #336
Done, closing

[2018-06-15 09:57] #336 closed, assigned to dantheta, MarthaDark

[2018-06-15 09:58] #338 closed, assigned to dantheta, MarthaDark

[2018-06-15 10:12] JimKillock commented on #265
I think we close this but @dantheta I would like to chat with you about how we use the lines and build the test data, we have sat on the .com information for a very long time for instance.

[2018-06-15 10:12] #265 closed, assigned to dantheta

[2018-06-15 13:33] JimKillock commented on #337
I think this is covered so closing it

[2018-06-15 13:33] #337 closed, assigned to dantheta, MarthaDark

[2018-06-15 15:39] JimKillock opened #350 "whitelist www.siteblocked.org"
This needs to be whitelisted / excluded from the copyright blocks detection

[2018-06-15 18:09] JimKillock commented on #260
Can we add .com data to the scheduler?

[2018-06-16 09:18] JimKillock commented on #350
Closing, duplicate of #327

[2018-06-16 09:18] #350 closed, assigned to dantheta

[2018-06-16 09:23] JimKillock commented on #327
I don't quite understand this, surely we have the same problem with the other generic court order websites, such as the one BT uses?

Here's two possible bodgy solutions, in order of preference:

Could we suppress the TT result in the DB?

Could we could hide the site from public record?

[2018-06-16 13:25] JimKillock commented on #348
Checking the admin interface, we have the "Review unmatched" page which we can use for this:

https://www.blocked.org.uk/control/courtorders/review

[2018-06-16 15:43] JimKillock commented on #306
I think the 'category' probably covers this sufficiently, so closing

[2018-06-16 15:43] #306 closed, assigned to nobody

[2018-06-17 12:58] JimKillock commented on #254
Is this covered by the flagging system? Or is there more to do? Checking in case it can be closed.

[2018-06-17 12:58] JimKillock commented on #259
Pushing this up the queue a bit as we will want to see what they actually unblock

[2018-06-17 13:00] JimKillock commented on #222
Noting this: re OpenDNS I think we could usefully get info from this as it will be used in many places. It has a kind of default setting we could use for testing.

[2018-06-17 13:13] JimKillock commented on #222
This is interesting: OpenDNS expose their user tagging info (presumably not all info) eg:

https://domain.opendns.com/openrightsgroup.org

Only signed-in OpenDNS members can "flag for review".

We could provide a link to those pages from an OpenDNS result.

[2018-06-17 22:20] dantheta commented on #345
There is now a "restricted-malware" status for URLs in the control panel (/control/urls).  Setting this status will remove the URL from the retesting cycle and will disallow the submission of live checks through the frontend.

[2018-06-17 22:21] dantheta commented on #327
That makes sense - I was trying to thing of a way to prevent them being identified as blocks, but this is simpler.  I've added a new URL status (restricted-by-admin) which will allow us to override the submission and recirclation of URLs for administrative reasons.  I've also removed the blocked results for this domain (though the historical measurements are still stored).

[2018-06-17 22:21] #327 closed, assigned to nobody

[2018-06-17 22:26] dantheta commented on #348
Added the whois expiry dates.

[2018-06-18 08:03] JimKillock commented on #348
Thanks Dan, can you add the ability to flag the court order from the review page.

Currently, we can only flag a domain blocked by URL once it is assigned to a court order. If we don't know which court order it belongs to, we can't flag it as "no court order identified" ;)

(This also relates to the court order index page tickets eg #301 : unassigned domains will need to be in a special group.)

[2018-06-18 08:06] JimKillock commented on #345
I think we need to do some text changes to finish @gwire's request, so the risk is clear to users. I received a letter from Virgin for instance. People may worry that the probes have been compromised.

Also @gwire did you mean for us to do large scale imports to check?

[2018-06-18 08:22] JimKillock opened #351 "Verifiable blocking reports"
As per Ben Laurie's suggestion, introduce a method to verify our results.

This would help alleviate "skepticism" and perhaps help us if we ever need to make legal challenges.

[2018-06-19 11:50] JimKillock commented on #316
Looking at the interface, how easy would it be to add a bulk upload and tag facility to the existing URL admin facility ( https://www.blocked.org.uk/control/urls ) ?

[2018-06-19 11:51] JimKillock commented on #316
This would be a really handy thing to add soon ;)

[2018-06-19 20:32] dantheta commented on #226
Basic card metadata is now present on all pages.  It uses the page title for now, with a generic description.  It can be overridden for individual pages on the template side - I'll look into ModX for it.

We can get the generic description from ModX.  I'll add it to the chunks in the usual place (chunk name is browseOgDescription).

[2018-06-19 20:43] dantheta commented on #348
This one's a little bit tricky.  At the moment, the url flag status is held against the association between a URL and a court order, which would allow different flag statuses to be held for different court orders.  That probably isn't going to be a useful distinction (after all, a domain for sale is still exactly that regardless of which/how many court orders the site is subject to).

I can move t

[2018-06-19 20:44] dantheta commented on #348
Another option is to include any unmatched copyright-blocked domain on the reports automatically (the public legal-errors page and the downloadable csv), with the status "no court order identified".  The advantage of this is that there's no additional admin to do when a site is matched - the flag drops away automatically.

[2018-06-19 20:52] JimKillock commented on #348
Agree with the latter, that these sites should be on reports. However, I think the data model should not make our observations dependent on its internal status, for instance:

(1) A site might be on a court order page because it was or we suspected (say) torentz-r-us.tw was subject to (say) torrentrus court order

(2) The site is then flagged in that system as "no court order identifiable' because

[2018-06-19 23:53] dantheta commented on #316
I've added a URL import screen to the admin panel, which allows the addition of new URLs along with tags.  Where URLs already exist in the system, the new tags are merged onto the existing set.

There are still a couple of improvements to be made - namely that the list of tags is taken from static data, so new tags won't appear as checkboxes for the moment.

[2018-06-20 08:06] JimKillock commented on #316
That's great Dan, seems to work well. I will get thinking about new data sources!

I have some questions about the testing policies in general. At the moment most of the policies are not visible in the admin panels. It would be good to move these across so we can see what they are.

I would also like to start testing on .com — this will take years to get through — so can we make that dataset visib

[2018-06-26 10:49] JimKillock commented on #316
Quick feedback: I tried setting up a test routine for Charities (as a test) and Pirate sites (as I added some sites). Observations:

(1) Neither say how many tests are done, although it claims to be running the tests

(2) There is not information about the lists, in terms of size etc. It would be handy to be able to download lists, or view them somehow, so we can check what is there already

[2018-06-28 21:06] dantheta commented on #348
The flag buttons are now present on the review page, and show whether a flag exists for a given URL.

I've started to move the flag records so they attach to the URL, instead of the association of the URL and a court order.  This means that the flags will start to exist independantly of the court order(s) that the URL relates to.

[2018-06-28 22:07] dantheta commented on #348
I've grouped the URLs together with a list of networks for each (rather than listing each block individually).  Looks pretty clean now.

[2018-06-28 22:07] #348 closed, assigned to dantheta

[2018-06-28 22:22] #279 closed, assigned to dantheta

[2018-06-28 23:08] dantheta commented on #254
Last couple of changes needed to be able to squash the comment without necessarily removing the whole report.

[2018-07-01 19:03] JimKillock commented on #316
Further note, the Cloudflare tests seems to be stuck, unclear why.

[2018-07-02 23:38] dantheta commented on #301
The page switchover is done.  I'm refining the content on the order page (/legal-blocks/orders/XX).  Error stats are appearing next.

[2018-07-04 11:14] JimKillock commented on #301
Thanks Dan, that's great. We will also need a link to the blocks not associated with a court I order I think. It might be a bodge but we could simply set up a "court order" that was for everything that *isn't* a identified under a court order.

And also we will need the download feature back of course, I've been pointing ISPs to it so they can weed out errors.

[2018-07-04 23:26] dantheta commented on #301
The export button and menu links are back.  Still working some knots out of the report page.

[2018-07-05 23:24] #301 closed, assigned to dantheta

[2018-07-13 09:24] JimKillock opened #352 "Text FAQ page for copyright blocks"
Can we add a text page for copyright blocks I can add some general information about what is taking place, what the error codes mean etc?

[2018-07-15 22:48] dantheta commented on #222
OpenDNS probe added

[2018-07-15 22:49] #260 closed, assigned to dantheta

[2018-07-15 22:50] dantheta commented on #324
Added an OpenDNS phish site rule

[2018-08-17 07:58] gwire opened #353 "Import data from Citizen Lab censorship tests"
Citizen Lab publishes lists of blocked sites in various countries (not limited to local political censorship) - can these be imported (chopped to the domain level) into the test list for blocked.org.uk

https://github.com/citizenlab/test-lists/tree/master/lists

[2018-09-22 11:48] dantheta commented on #256
Emails are being successfully written to the database and relayed to the original reporter.

[2018-09-22 11:48] #256 closed, assigned to dantheta

[2018-09-22 11:50] dantheta commented on #316
I made some improvements to this a while back - the running tasks have a progress bar on the overview page.  I've also added a two-day deadline for queued jobs on each of the ISP queues, so that any disconnected line doesn't hold up the rest of the queues.  It does mean that there may be gaps in coverage if a line goes dead for an extended period of time, but only on that one line.

[2018-10-25 13:01] JimKillock opened #354 "Public testing and results pages"
Add to the stats page:

https://www.blocked.org.uk/stats

A bar chart or similar showing the status of the test datasets we are running, eg:

.uk domains [25 million total; 24 million tested, 1 million unavailable, 700k blocked]
.com [450 million total, 4 million tested, 200k unavailable, 100k blocked]
.org

[2018-10-25 13:05] JimKillock commented on #353
I think this dataset and the Common Crawl dataset should be imported so we can get cracking with these tests.

[2018-10-25 13:07] JimKillock commented on #316
This is all good and very helpful. I've added a ticket to make some or all of the information public on the stats page. Next up would be to add the CommonCrawl and other data into the test scheduler. Also, is the .org dataset available and tested?

[2018-10-25 13:08] JimKillock commented on #354
(actually, this is just modifications to a chart you already have, 'blocked sites by domain')

[2018-10-25 13:27] JimKillock commented on #342
Looks interesting

[2018-10-31 01:24] dantheta commented on #342
Running now for web submissions and requeued tests

[2018-10-31 01:24] #342 closed, assigned to nobody

[2018-11-05 15:05] JimKillock opened #355 "Front page stat "27,565,320 sites tested""

[2018-11-05 15:06] JimKillock commented on #355
Hi Dan

I guess this means 'fully tested' or something similar? Could we have a figure that gives a better indication of the actual no of sites that have been partly tested?

[2018-11-05 15:55] JimKillock commented on #316
PS I tried adding a new test case for TPB clones but it threw an error.

[2018-11-07 02:53] dantheta commented on #353
These are imported and ready for testing.

[2018-11-07 02:53] #353 closed, assigned to nobody

[2018-11-07 02:57] dantheta commented on #355
This number is accurate, and represents partial (i.e not all networks) results - we're currently adding half a million a week (which, with an average number of networks is 6 million results per week).  I've identified a bottleneck during the the URL queueing that will let us open the throttle wider.

[2018-11-07 20:39] dantheta commented on #316
The error was thrown because the submission interval (in the rate tab) wasn't filled in.  I've added a sensible default for that.  Many apologies!

.org is was processed a while back, and is viewable on the statistics page.  We can add a test case to re-process those.

[2018-11-07 20:39] #316 closed, assigned to dantheta, gwire, edjw, alexhaydock, MarthaDark

[2018-11-27 15:03] gwire opened #356 "Add extended description on site-specific block pages"
When an entry from the curated list, the extended description/title information is displayed.
e.g. "CUJO - Cambridge University Jazz Orchestra"

However this information is not shown anywhere on the "/site/" link
https://www.blocked.org.uk/site/http://www.cujo.org.uk

It should probably be displayed, when recorded, in the `<div>` under the `<h1>` for the domain.

[2018-11-27 22:41] dantheta commented on #356
That's live now.

[2018-11-27 22:41] #356 closed, assigned to nobody

[2018-11-29 23:04] dantheta commented on #355
The bulk testing from the scheduler is currently suspended (disk space), but they're still trickling through from the original requeue system.  The status on the test scheduler control panel will catch up when it's running again.

[2018-11-29 23:04] #355 closed, assigned to dantheta

[2018-12-01 19:36] dantheta commented on #332
Added subdomains for be, fr, nl, dk, no, de, at, fi, es, pt.  Visiting any of the subdomains pre-selects that country's results, and offers an "all regions" button.

[2018-12-01 19:36] #332 closed, assigned to dantheta

[2019-01-02 23:27] dantheta commented on #178
~~Done in openrightsgroup/cmp-issues#174~~

Sorry, wrong ticket

[2019-01-02 23:35] dantheta commented on #280
Done in openrightsgroup/cmp-issues#174

[2019-01-09 14:45] gwire opened #357 "Surface IP address of site being checked"
For each ISP, please display (although not predominantly) the IP address that was being checked.

This has some relevance where sites are using multiple IP addresses and some may exhibit different behaviours in different circumstances. (e.g. are we testing IPv6, is it a dynamic CDN endpoint, etc)

[2019-01-09 14:50] gwire opened #358 "Identify if legal block applies to IP address or domain name"
There are several UK orders (eg [FAPL v BT II](https://wiki.451unavailable.org.uk/wiki/UK/HC-2017-000458)) where the order applies to IP addresses rather than website domains.

If a site is detected to be unavailable due to legal issues, a check should also be made to determine if the block covers the entire IP address, and a link should be made to a page for that IP address.

[2019-01-15 00:27] dantheta commented on #357
The result IP is now shown in the results table for admin users when logged in.

[2019-01-15 00:30] dantheta commented on #178
The ISP correspondence can now be seen in the ISP Reports admin screens.  Adding followup/close(rejected)/close(unblocked) buttons next.

[2019-01-16 01:22] gwire opened #359 "Add "IP based block" flag"
When domains are turning up in the "legal block" list because their host's IP address has been blocked, add a flag entry such that we can move them out of the main list.

e.g. when domain parking sites get blocked

[2019-01-16 11:33] gwire opened #360 "Add flag for sites probably covered by multiple orders"
There are a number of "unblocker" sites that we can't reliably associate with a particular court order, since they may be covered by multiple court orders. So it would be useful to flag this specific issue.

[2019-01-16 11:37] gwire commented on #357
This would be more useful as the initial IP address resolved, rather than the IP address of the site that served a page (which in the case of blocks it usually some general ISP address.)

We are seeing sites that resolve to multiple IP addresses for which one IP address is blocked, so it would be useful to see which one.

[2019-01-31 11:54] dantheta commented on #178
The close (rejected/unblocked) buttons are now active.  I'll be adding a filter selection to the isp reports to hide closed reports (so that the isp_reports can be used as an inbox/status screen as well as a historical records browser).

[2019-02-08 10:38] gwire opened #361 "Add all MHRA-registered sites to test list"
We've seen queries released to pharmaceutical companies being categorised as "Drugs" and then being blocked on the assumption that they are promoting illegal drug use.

Can we pull a list of all MHRA registered websites and test them.

MHRA has a registry, I can't find an API, but there's a website with 830 entries
https://medicine-seller-register.mhra.gov.uk/search-registry/?q=

Each entry will h

[2019-02-08 15:54] edjw commented on #361
amazon.co.uk/s?marketplaceid=a1f83g8c2aro7p&me=a2us8ru7sqkkly&merchant=a2us8ru7sqkkly&redirect=true
--
click4prescriptions.cambrianalliance.co.uk
echo.co.uk
http://anytimepharmacy.co.uk/
http://ardaxglobalhealthcare.com/
http://automeds.co.uk/
http://barehealth.co.uk/
http://biopathica.1freecart.com/
http://bradfordhealthpharmacy.co.uk/
http://brooklandspharmacy.com/
http://carepharmacy.net/
http:

[2019-02-08 15:54] edjw commented on #361
`

amazon.co.uk/s?marketplaceid=a1f83g8c2aro7p&me=a2us8ru7sqkkly&merchant=a2us8ru7sqkkly&redirect=true
--
click4prescriptions.cambrianalliance.co.uk
echo.co.uk
http://anytimepharmacy.co.uk/
http://ardaxglobalhealthcare.com/
http://automeds.co.uk/
http://barehealth.co.uk/
http://biopathica.1freecart.com/
http://bradfordhealthpharmacy.co.uk/
http://brooklandspharmacy.com/
http://carepharmacy.net/
ht

[2019-02-11 13:02] alexhaydock opened #362 "Parse smart quotes correctly"
Smart quotes seem to be printed as `=E2=80=9C` and `=E2=80=9D` which causes quite a readability issue when it comes to ISP response emails.

See this example here: https://www.blocked.org.uk/control/ispreports/Sky/376/http://tgozed.uk

`=E2=80=9CPEER=E2=80=9D` should ideally read `"PEER"`.

[2019-02-11 13:33] alexhaydock opened #363 "Flagging and unflagging a site as "Abuse" clears the "Unblocked"/"Rejected" label."
I flagged a site in error as "Abuse" and then unflagged it to correct the mistake. The site had previously been labeled as "unblocked" but this label was cleared when I pressed the "Flag" button.

I was able to re-apply the "Unblocked" label, but if it's an easy fix then it might be helpful not to clear the Unblocked/Rejected labels when the Flag button is pressed.

[2019-02-11 15:46] JimKillock commented on #363
This seems a bit weird. Surely the blocked / unblocked category should be based on ISP tests not user information?

[2019-02-11 15:51] dantheta commented on #363
Unblocked/rejected is a final status value for an ISP report.  We can tell if the URL has been unblocked by testing, but we also record whether the ISP acknowledged and positively responded to the unblock request or rejected the request.

Since an ISP report can (currently and foreseeably) only have one status, the abuse status was overwriting the previous value.

[2019-02-11 15:51] alexhaydock commented on #363
There is a category for "URL Status" which is based on ISP testing, but the "Unblocked"/"Rejected" status is based on the email response from the ISP.

[2019-02-11 15:53] alexhaydock commented on #363
An oddity for which the Unblocked/Rejected category may be useful is situations like [this report](https://www.blocked.org.uk/control/ispreports/BT/337/http://www.talkingdrugs.org), in which the ISP acknowledged the reclassification of the site (adding "Non-profits & NGOs"), but did not remove the original category ("Illegal Drug").

So in this example, although the response positively indicated t

[2019-02-11 17:11] dantheta commented on #362
This one actually varies by network - it depends on the email encoding
used by the ISP's helpdesk software.  The character encoding that you're
seeing is "quoted-printable", which the viewer doesn't decode correctly
yet.

[2019-02-11 23:08] dantheta opened #364 "Update frontend category presentation to attribute sources to each visible category"
Related to openrightsgroup/cmp-issues/issues/179

[2019-02-11 23:15] dantheta opened #365 "pattern based validation for email addresses"
Re: openrightsgroup/cmp-issues/issues/181

If the user enters an obviously bad email address, prompt for correction rather than accepting the report and having it stall due to indeliverable validation email.

[2019-02-11 23:48] dantheta commented on #362
This is fixed - adding a decoder for quoted-printable was pretty easy.

[2019-02-11 23:48] #362 closed, assigned to nobody

[2019-02-14 10:18] gwire opened #366 "Import the Safari auto-fill whitelist"

[2019-02-14 10:23] gwire opened #367 "Import the Safari auto-fill whitelist"
Apple distributes a list with a large number of domains that gets used by autocomplete somehow. (Possibly to decide if someone has typed in a URL rather than a search term?)

It's a massive json-encoded array distributed from
https://api.smoot.apple.com/autofill_tld_whitelist_url

[2019-02-14 10:24] #366 closed, assigned to nobody

[2019-02-14 16:23] edjw opened #368 "User-facing frontend issues go here"
Issues that are about the backend, testing, infrastructure, admin area go in https://github.com/openrightsgroup/cmp-issues/issues

[2019-02-14 16:24] #368 closed, assigned to nobody

[2019-02-14 17:01] edjw commented on #313
3,163 URLs
[gov-uk_domains.csv.zip](https://github.com/openrightsgroup/blocked-org-uk/files/2866022/gov-uk_domains.csv.zip)

[2019-02-15 12:47] gwire opened #369 "Email body text to ISPs should clarify enquiry is not from ISP customer"
Occasionally ISP customer response will reply to blocking enquiries as though they are coming from an ISP customer, and request further details about their account.

We don't currently prompt to allow the user to state if they're the ISP's customer or not, so I think the body text should communicate that they may not be.

[2019-02-15 17:50] edjw opened #370 "Add a re-test this URL button to site blocking report page"
It would be useful to be able to quickly request a re-test of a URL from the status page about it.

So on this page for example [https://www.blocked.org.uk/site/http://www.diagnosteq.co.uk](https://www.blocked.org.uk/site/http://www.diagnosteq.co.uk)…

Can we add a button to re-test www.diagnosteq.co.uk ?

[2019-02-16 01:17] dantheta commented on #370
We did used to have this, but removed it to streamline the reporting process and cut down visual clutter for end users.  When a site is reported for unblocking, the system automatically rechecks it then.

There is a force check URL function on the frontpage of the admin panel.

I could add a re-test button on the site status page that's only visible to logged in admins, if that sounds good?

[2019-02-18 09:16] edjw commented on #370
Visual clutter is obviously an issue. At some stage we should look again at what people on these pages want to achieve and then prioritise elements on the page based on what people want to do. It might be that non-admin users would really like a re-test button but not be that bothered by a ’Try another site’ button that takes them to a random site blocking report, for example.

Yep I think that’d

[2019-02-18 20:45] edjw opened #371 "Text on /faqs and /isps needs checking and updating"
I think the information on these pages is out of date

https://www.blocked.org.uk/faqs
https://www.blocked.org.uk/isps

/isps is sent to ISPs in blocked reports
For example, it says:

    BT, testing the default “light” settings and the “strict” settings
    Virgin
    Sky
    Vodafone
    EE
    O2

I'm not sure how you get to /faqs (which is another issue in its own right). It says:

[2019-02-18 20:58] dantheta commented on #371
The text of these pages is held in Modx.  Go to the browse.blocked.org.uk site, and look under there for for the FAQ and ISP pages.  The different paragraphs of page content are located in template variables (TextAreaOne ... TextAreaSix) and the main resource content.

The template that they are attached to wraps them all up in XML for the flask frontend to import.

The page content is cached for

[2019-02-21 09:08] JimKillock opened #372 "Stats about ISP replies"
Hi there,

I think the stats about ISPs and MNOs responses needs tackling this cycle, pre report launch.

Here's my stab at what is needed. The current stats needs separating as it mixes two concepts.

https://www.blocked.org.uk/reported-sites

(1) Concept one: numbers of reports sent and unblocks done

* All sites reported by year
* All notices to ISPs sent by year
* All blocks removed

(2) Perfo

[2019-02-21 09:12] JimKillock opened #373 "Investigate O2 non-replies"
It seems that O2 have not replied to any requests for over a year.

@edjw can you check the O2 official address for requests? I think we may want to revert to their media requests address as that they did respond to.

@dantheta can you let us know what the O2 and Vodafone address we are using is?

[2019-02-21 15:31] alexhaydock commented on #373
This is largely why I requested the ability to folder via ISP and that's been quite useful, though maybe openrightsgroup/cmp-issues#188 would be useful here for tracking issues like this as we go forward?

Some other observations:
- Vodafone never seem to send follow-up replies after the initial automated one that says _"we'll be in touch shortly"_.
- TalkTalk are listed as having never replied to

[2019-02-21 15:35] alexhaydock commented on #372
This looks like what I was suggesting in openrightsgroup/cmp-issues#188 though this ticket is far more comprehensive so I'll go ahead and close that one.

[2019-02-23 20:11] edjw commented on #373
[This page on Blocked](https://www.blocked.org.uk/check) suggests we're using shieldav@o2.com as the email address to contact O2. That's also the email address [the BBFC gives on their site](https://www.bbfc.co.uk/about-bbfc/links) today.

O2 seem to only offer calling a number – 202 – to report a url. https://www.o2.co.uk/help/safety-and-security/age-restricted-content-and-age-verification. I've

[2019-02-23 20:32] dantheta commented on #373
The O2 & Vodafone error submission addresses used by the system are:

 O2          | shieldav@o2.com
Vodafone    | Contentclassification@vodafone.com

[2019-02-24 21:06] JimKillock commented on #372
Note I've tried to make the ticket here clearer so have edited it

[2019-02-25 11:21] alexhaydock commented on #373
Do we know what the deal is with TalkTalk and the system showing that they're not replying to any reports?

[2019-02-25 16:25] edjw commented on #357
Can this be closed?

[2019-02-25 16:47] edjw commented on #281
@JimKillock Is this issue about this page? https://www.blocked.org.uk/stats/probes

[2019-02-25 16:54] edjw opened #374 "Allow filtering of the probe status page"
Can we allow filtering of the data on [the probe status page](https://www.blocked.org.uk/stats/probes)?

When checking whether our probes are running, it would be useful to be able to filter the probes by (in order of usefulness) Status, Supplied by, Filter level, and Filters Enabled.

I'd like, for example, to see probes that are 'all of' and 'any of':

* VirginMedia-unfiltered
* run by an ORG vo

[2019-02-25 17:09] JimKillock commented on #281
Yes, but the ticket is a year old. I am not sure if this is needed now.

[2019-02-25 17:20] edjw commented on #281
Can this ticket be closed @dantheta?

[2019-02-25 17:24] edjw commented on #105
1. Do we do this now?
2. If we don't do this now, do we still want to do this?
3. Should we close this ticket? Or should we re-prioritise it?

[2019-02-25 17:24] edjw commented on #136
1. Do we do this now?
2. If we don't do this now, do we still want to do this?
3. Should we close this ticket? Or should we re-prioritise it?

[2019-02-25 17:38] edjw commented on #372
@dantheta – Can this be the next ticket you work on? Alex and Jim need it for the report that they're aiming to finish drafting by Friday.

[2019-02-25 17:58] alexhaydock commented on #254
Is this something the flagging system handles now?

I've seen quite a few of these in my testing but only just saw this ticket. I was really scratching my head trying to work out how the UX was confusing enough that people were submitting reports for apparently unrelated sites but @JimKillock's theory about link farming seems valid.

For what it's worth, that report still seems to be visible on th

[2019-02-25 22:25] dantheta commented on #372
Adding https://www.blocked.org.uk/control/ispreport/reply-stats

[2019-02-25 23:12] JimKillock commented on #372
This is looking good. Can we add to the two tables:

(a) In the gross figures, add a line for "Unresolved reports", being those reports where there is neither a reply or an unblock recorded; and add columns for for 2017, 2018 and 2019 plus total;

(b) In the per ISP reports, add a line for "Unresolved reports" on the same basis.

(c) for the ISP performance table, can we do a table for 2018 and se

[2019-02-25 23:45] dantheta commented on #372
Updated for (a) and (b).

For (c), do you mean the table titled "Reply stats by network" should be repeated, once for 2018 and once for 2019?

[2019-02-26 00:24] dantheta commented on #254
That's what I'd expected.  It appears that flagging a report as abuse does not remove the comment from the frontend.  I'll need to check back on the commit history of this one.

[2019-02-26 09:09] JimKillock commented on #372
Thanks, on (c) you have found a better solution, thank you. Yes I did mean that table.

A couple of issues:

(1) On a scan of the "Avg reply interval (WIP)" in my email, ignoring non-replies, most replies seem to take around 3-5 days.

(a) I think our methodology may be off therefore: are we including the time taken for non-responses for instance? I think we should only measure the response time w

[2019-02-26 11:59] edjw commented on #373
O2 has confirmed by email that "ShieldAV@o2.com or ShieldAV@telefonica.com are the correct addresses for enquiries or review of URLs."

[2019-02-26 12:40] JimKillock commented on #373
TT emails seem to go to homesafe.classification@talktalkplc.com on the system. There are no replies however. I will follow up with them directly.

[2019-02-26 15:12] edjw commented on #372
@dantheta When you get a chance, can you clarify how the statistics are working for the points Jim raises here?

[2019-02-26 15:37] alexhaydock commented on #372
We may need to either rethink some of the data points here. It seems like the 2017 data shows that 821 reports were sent, of which 684 were answered.

Now that data may be in the database and just not visible to me (but how were we capturing the fact that ISPs were replying back then, but not capturing the actual reply text?).

But it seems odd to me that of the 684 which were answered, apparently

[2019-02-26 17:21] JimKillock commented on #372
@alexhaydock For 2017, AIUI, the data is showing that the notification has been "responded" to in that an unblock has followed.

After mid 2018 we have a better idea of responses, in that we can log replies.

However, ISPs are in a grey area when they receive a notification from us about a blocked site, but on investigation, find that the site has already been unblocked by Symantec or whoever. If

[2019-02-26 17:40] JimKillock commented on #372
@alexhaydock Looking at the table a second time, I see what you mean.

We have:

Category | 2017 | 2018 | 2019 | Total
Reports sent: | 821 | 1252 | 171 | 2244
Reports answered: | 684 | 867 | 74 | 1625
Reports unblocked: | 684 | 815 | 56 | 1555

In this set of figures, the 2017 figure for "Reports answered" should be a "NA" result, as we simply don't know if the reports were "answered", we only kno

[2019-02-27 09:34] dantheta commented on #372
At the moment, the reply interval is based on reports where we've marked one of the replies to indicate that the report has been closed (unblocked or rejected).  The time interval used is the different between the submission date and the email that closed the case.  It's still a work in progress!

We'd need to work out what we want to use for reports that pre-date the reply recording.  If the site

[2019-02-27 09:38] JimKillock commented on #372
Thanks Dan.

I think we have to ignore  calculating the time interval for sites prior to the point we recorded the ISP replies. We don't have the data and it is unfair / impossible to try to guess.

A wider point: we should precisely record the nomenclature and methodology we use somewhere. Perhaps the wiki for now? Happy to use something else (preferably public) tho.

[2019-02-27 09:57] dantheta commented on #372
The time intervals have been fixed now.

[2019-03-01 15:50] JimKillock commented on #372
I think the only thing to fix here now is the "reports answered" totals on the "ISP Reply Stats" table:

Reports answered: | 684 | 867 | 74 | 1625
Reports unblocked: | 684 | 815 | 56 | 1555

which needs to reflect the presence of a non-auto reply, rather than an unblocked site. (we have no data in 2017).

[2019-03-01 23:26] dantheta commented on #372
The "reports answered" figure has been updated to use report status (unblocked/rejected) and the presence of reply emails.

[2019-03-01 23:26] dantheta commented on #372
New totals:

Reports sent: | 821 | 1252 | 277 | 2350
Reports answered: | 0 | 170 | 159 | 329
Reports unblocked: | 684 | 815 | 57 | 1556

[2019-03-04 13:08] alexhaydock opened #375 "Collapse multiple entries for sites which have been entered with capital letters"
Some sites seem to appear more than once (particularly in lists) with capital letters in them:

https://www.blocked.org.uk/site/http://gay.com
https://www.blocked.org.uk/site/http://Gay.com

Judging by the fact that the "Last Checked" date of these two entries available on the frontend is in sync with each other, it seems like the actual backend entry for the site in the database might be the same

[2019-03-04 17:48] alexhaydock commented on #372
It might be worth noting that the [Reported Sites](https://www.blocked.org.uk/reported-sites) page on the frontend seems to be continuing to use the older method of calculating ISP response times and should be updated really. Ideally before the report goes public in case we start getting more interest in the Blocked site as a result.

[2019-03-04 22:27] dantheta commented on #375
We'd already deduplicated lots of case-different domains.

Behind the scenes, input URLs do get case-folded.  The scheme and hostname parts of the URL are case-insensitive, but the path and query string are not.

I forgot to filter out the old case variants when I was populating the lists.

[2019-03-04 23:11] dantheta commented on #375
I've eliminated a lot of the case-duplicates from the lists.  There were 500 or so across all of the lists, so I don't think it will have had a huge statistical impact.

It will take a bit more time to get it completely cleaned up and to make sure that we have test results for all the canonical lower-case URLs.

[2019-03-04 23:25] dantheta commented on #375
That should have sorted it.  Looks like we're due for another de-duping session in the main URLs list.

[2019-03-05 00:48] alexhaydock commented on #375
Thanks Dan. I'll make sure the stats in the report get updated appropriately anyway, just in case.

[2019-03-06 00:15] dantheta commented on #136
Duplicated by linked ticket.  The other one is more detailed, so I'll close this one.

[2019-03-06 00:15] #136 closed, assigned to dantheta

[2019-03-07 12:49] JimKillock commented on #240
Could we escalate this import and load it into the Test scheduler?

[2019-03-07 15:14] alexhaydock opened #376 "Display counts on list pages for "Unblocks Requested", and "Unblocked""
On list pages on the main Blocked site, it would be useful if totals were displayed next to the `xx entries` header for:
* Number of list entries for which an unblock has been requested.
* Number of list entries which have been unblocked.

Ideally this would be per-site figures and not per-request figures.

[2019-03-08 11:59] alexhaydock opened #377 "Add "re-check all sites in list" button for admin use"
On the Blocked frontend, a user can currently check whether information about a block in a list is up-to-date with the following process:

* Open URL
* Select "request unblock"
* Select re-check site

It would be particularly useful for the purposes of this report if admins were able to re-check all sites within a list using a single button.

I understand that flooding the system with re-checks wo

[2019-03-08 12:02] alexhaydock opened #378 "Possible bug showing "Unblocked" in lists"
In some lists, the system is showing the "Unblocked" badge on every URL in the list, even ones which I have forced a re-check for and determined are still blocked today.

It doesn't seem to happen on every list, but this one is an example:

https://www.blocked.org.uk/list/Cement

I'm not sure if there's anything notable about this list. It's quite an old list, but I did use the list merge tool in

[2019-03-08 12:28] dantheta commented on #377
just as additional information, The front-page lists should get rechecked automatically weekly, I think. And reported sites should be getting rechecked daily (unless there are too many of them now). I'll need to check that.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-03-08 12:36] alexhaydock commented on #377
Oh that's useful info, thanks!

If those processes are working, that might be sufficient. It was the possible bug in #376 that got me thinking about a "re-check all" button being useful.

It may still be useful if it's not a large amount of work, so I can be certain that the total sites blocked/unblocked in lists are accurate before the report gets published. But if it would be a lot of work, then

[2019-03-08 14:23] alexhaydock commented on #377
To follow up on this, if we're already re-checking sites on frontpage lists weekly, does it make sense to automatically remove sites from the list if we get `NXDOMAIN` back from multiple ISPs?

This relates to openrightsgroup/cmp-issues#225

[2019-03-08 16:18] edjw commented on #377
@dantheta

1. When a reported URL is detected as unblocked, are we recording the time that a site's entry is updated in the database to reflect it as having been detected as unblocked?

2. Where you say "(unless there are too many of them now)", what does that mean? Say the limit is 100 sites. What happens when there are more than 100 sites to re-check? Do they just stop getting checked? Or do all

[2019-03-08 17:06] edjw commented on #375
Can we close this now?

[2019-03-08 17:09] edjw commented on #378
@dantheta - Would you mind taking a look at this and seeing if there's an issue?

[2019-03-08 19:56] edjw commented on #363
What needs to be done with this now?

[2019-03-10 10:40] dantheta commented on #377
Ed -

1) Yes - it goes into the last_updated column on the isp_reports table.

2) The system does 100 of the daily checks every 15 minutes, so they will start to get processed at >1 day intervals when we have (4*24*100) 9600 reports in the system.  We're currently at about 4500, so no problem there.

There was a problem with the daily checks following the disk space crunch last year - this will af

[2019-03-10 11:01] dantheta commented on #378
Yep, there is a bug here.  The daily update to the savedlist item is only paying attention to results from the last two weeks (for some reason - I'm sure it seemed correct at the time).

The script has been updated, and will update the list items over the next few hours.

[2019-03-10 15:27] dantheta commented on #376
Deployed.

[2019-03-10 17:27] dantheta commented on #377
There's a basic version of this on the live site now.   Submitting 40 sites takes about 10 seconds.  It's possible to do a much more polished version in the future, perhaps a version that integrates with the test scheduler.

The recheck site button is on the public site lists page, and is only visible to admins.
If the page times out, it's possible to press the button again and the next set of ele

[2019-03-10 17:33] alexhaydock commented on #377
Thanks for this, Dan. I suggest we use openrightsgroup/cmp-issues#225 for discussing the `NXDOMAIN` issue. I mainly raised it as a point because among some of the lists I've been testing, as much as a fifth of the sites are returning NXDOMAIN responses according to Chrome. I think a lot of small sites or businesses simply get forgotten about and the registrations lapse. I was just thinking it migh

[2019-03-10 17:48] alexhaydock commented on #375
I believe this can be closed, yes.

[2019-03-10 17:48] #375 closed, assigned to nobody

[2019-03-11 10:50] alexhaydock opened #379 "Bug: Reports are still showing up in site category filter after category has been changed"
Hi @dantheta,

Just doing some housekeeping work on the "Alcohol" related sites.

I've been switching the category for some sites away from just "Alcohol" and over to "Alcohol related non-alcohol sales"

I've been removing the Alcohol category when I do this so that there's only one category present for each site, but some of the sites are still showing up in the category filter for "Alcohol"

For

[2019-03-11 11:32] edjw commented on #376
@alexhaydock – Does this let you do what you wanted to? The stats are on this page (https://www.blocked.org.uk/lists) but not the individual list pages.

[2019-03-11 11:57] JimKillock commented on #376
There's a slight comparability problem: the number of unblocked URLs needs to be compared with the total number of blocks, as well as the number of domains affected.

[2019-03-11 15:38] edjw commented on #379
@dantheta – Can you clarify whether this bug this affecting the count of items in the original category?

[2019-03-11 22:36] dantheta commented on #379
The filter selection and reports were ignoring the "enabled" flag on the URL <-> category association table.  Both have been fixed now.  This aggected the paging counts in the report filter setting, and the counts on the ISP report URL category stats.

Merge was also not setting the enabled flag on the target category, so some URLs were added to the target category but in the disabled state.

The

[2019-03-11 22:36] #379 closed, assigned to dantheta, edjw

[2019-03-12 10:36] alexhaydock opened #380 "Add ability to link URLs on frontend with extra info already expanded"
It would be quite useful if I was able to link URLs to entries on Blocked.org.uk with the data about past blocks already expanded (i.e. as if someone had pre-clicked "Show all results")

For example I want to highlight this domain in the report: https://www.blocked.org.uk/site/http://a8c.com

But I want to draw attention not _just_ to the fact that there is a current block by Three, but also to th

[2019-03-12 12:22] alexhaydock opened #381 "Average reply interval (all ISPs)"
We should calculate an average reply interval across all ISPs for headline purposes.

For the purposes of not including any recent reports which ISPs may still be in the process of replying to, I propose that this just includes data from 2018.

It should calculate an average response time for all ISPs using the same formula we're using to currently calculate the response time per-ISP, but should e

[2019-03-12 18:04] JimKillock commented on #376
Reopening this: the stat columns need to show:

* Entry count
* Number of entries reported
* Number of ISP blocks found
* Number of ISP blocks lifted

Otherwise we can't compare like with like.

@edjw we think this is needed to help us finish the stats

[2019-03-12 18:23] edjw commented on #378
I just reopened this issue @dantheta as the bug seems to still be affecting the results

[2019-03-12 19:57] edjw commented on #376
@dantheta – Can you take a look at this?

[2019-03-12 22:22] dantheta commented on #376
I've got a version of this ready to test, but it's awfully slow because we've added in the status from the probe result tests (previously it was only using the ISP reports).  I can add caching, but it means the results won't be up to the second.

I'm assuming that the `number of ISP blocks lifted` should be driven only by the ISP reports verdict, and not the detected probe status as well.  I can c

[2019-03-12 23:01] dantheta commented on #376
New version is deployed.

[2019-03-12 23:57] JimKillock commented on #376
Thanks Dan, some delay or caching is fine: we're after a best effort comparability here, as the data is going into a static report.

[2019-03-13 00:34] dantheta commented on #378
See openrightsgroup/cmp-issues#240

[2019-03-13 00:34] #378 closed, assigned to dantheta

[2019-03-13 08:19] alexhaydock commented on #376
I think there might be some doubling of the statistics here. Looks like the lists seem to be detecting twice as many blocks per-list as there are sites in some of the lists.

"Weddings" has roughly 4500 entries but apparently 8600 blocked sites in it. Are the figures getting multiplied by 2 somewhere?

[2019-03-13 08:25] JimKillock commented on #376
@alexhaydock The 8600 is a figure for all blocks over all ISPs as I understand it. That is why it is higher.

However there still seem to be some bugs:

https://www.blocked.org.uk/lists shows that cement has just two reports made and one unblock;

https://www.blocked.org.uk/list/Cement shows several reports and unblocks on the first page.

Also: I made an error in the columns needed, as we also ne

[2019-03-13 08:41] dantheta commented on #376
The reported badge on the list page is currently shown for items where an ISP report exists in any state, but the reports total on the lists summary page is for ISP reports that were actually sent.

All of the ISP reports in the cement category apart from two are in the cancelled state.

For the `entry count still blocked` column, should that be based on ISP reports submitted (but not unblocked) o

[2019-03-13 08:46] JimKillock commented on #376
OK, in that case we should make the flags consistent with the summary.

I think it makes more sense to show reports that are sent, rather than ones that were raised but not sent. That said I am surprised it is only two, as I have sent at least a dozen relating to concrete, though perhaps that was not from this list.

For "entry count still blocked" this should be the total of sites actually blocke

[2019-03-13 08:53] dantheta commented on #376
OK - I'll need to do some testing with that one.  That flag is also used to decide whether to make the "report site" button available, and we don't currently support reporting a site which has already been reported but not user-verified.  I don't think the list presentation has any impact on the report stats, so is it OK to write it up as an issue for the backlog?

Working on the entries still blo

[2019-03-13 08:56] JimKillock commented on #376
Yes, thanks Dan, we can resolve the flag issue later, it doesn't need fixing today. Let me know if we can help work out the issue with counts - I could for instance look through the reports we've classified as "Building and construction" and compare them with the concrete list.

[2019-03-13 09:05] JimKillock commented on #376
Thanks Dan: looking at "ISP blocks lifted" - I am guessing this is calculated against our requests? I think it would be better for it to be the total number of ISP blocks that we have detected have gone. That would hopefully make some sense of the other columns for someone reading the table.

[2019-03-13 09:06] dantheta commented on #376
OK, I'll get that switched over.

[2019-03-13 09:08] JimKillock commented on #376
Actually, could you replace it with (or add) a column for "Current ISP blocks"? This would be directly comparable with the total "ISP blocks found" which presumably is the total of blocks originally present.

[2019-03-13 09:14] dantheta commented on #376
They're both done.  I added the extra column, so the totals can be viewed for list items and network blocks.

[2019-03-13 09:21] JimKillock commented on #376
That’s great Dan, I think it’s a lot clearer now.

[2019-03-13 09:46] JimKillock commented on #376
Further thought: would it be possible to add a total row at the bottom?

[2019-03-13 10:08] edjw opened #382 "Wrong site title on Thank you page after making unblock request"
After making an unblock request for a site, we redirect people to a thank you page that suggests making another unblock request. That page has a page title of the site we're now suggesting people try to have unblocked at the top.

This is confusing. It feels like you might have just requested the wrong site to be unblocked.

This bit is what I'm talking about `<div class="page_title"></div>`

We s

[2019-03-13 10:14] edjw opened #383 "Exclude BT Strict sites from Unblock another site section on Thank you page"
After making an unblock request for a site, we redirect people to a thank you page that suggests making another unblock request.

Can we exclude URLs that are only blocked by BT Strict from those suggestions? URLs blocked by BT Strict and another filter as well should still be suggested.

[2019-03-18 15:59] #239 closed, assigned to dantheta

[2019-03-18 19:44] JimKillock commented on #381
This is done.

[2019-03-18 19:44] #381 closed, assigned to dantheta

[2019-03-18 19:45] #377 closed, assigned to dantheta

[2019-03-18 19:49] JimKillock commented on #376
I'd still like to total row, especially if it were dynamic, eg something we could combine with the ISP filtering in #241

[2019-03-19 01:55] dantheta commented on #376
Totals row added to the lists view.

[2019-03-19 01:55] #376 closed, assigned to dantheta

[2019-03-20 18:00] edjw opened #384 "See domains / site reports that do and don't match ISP policy"
As a non-admin user, I want to filter domains and site reports by:

* an unresolved site report that does match ISP policy
* an unresolved site report that do match ISP policy
* a resolved site report and the block does not match ISP policy

I want to be able to have a link for each of these filters above.

--

This will help users double-check figures in the report and see examples of websites th

[2019-03-20 18:00] edjw opened #385 "Public lists of reported domains that have been categorised by ORg"
As a non-admin user, I want to be able to see a list of reported domains that ORG has categorised.

--
This will help users understand the breadth of categories being blocked.
--

We should make a public page that is basically this table from the admin area minus the URL Count (not primary only) column on the far right. (https://www.blocked.org.uk/control/ispreports/category-status)

[2019-03-20 18:01] edjw opened #386 "Update Recently Reported sites URL response time data"
Update the ISP section at the top of the Recently reported sites page with the new way of measuring response time.

Make sure the “Reports Sent” and “Sites Unblocked” columns are accurate and correct them if they are not

[2019-03-21 08:02] JimKillock commented on #384
There is a bit of a maintenance issue placing this information in high profile places. We may update this sporadically. So I am inclined to put the stats information in somewhere where this context is more obvious rather than make it look like a live-feed of information.

[2019-03-21 15:48] edjw commented on #384
OK, that make sense.

@dantheta – In that case, I think let's create a new page that provides this information

[2019-03-21 15:53] JimKillock commented on #384
I would be inclined to present all of the stats in one place, including the existing stats. I would think about how this should be navigated and understood. For instance, we might make a subdomain with a different navigation system, eg stats.blocked.org.uk rather than trying to integrate the content into an already overcrowded site.

[2019-03-24 00:02] dantheta opened #387 "Frontpage reworking"
- [x] Top black banner: “A transparency campaign” rather than “Transparency campaign”
- [x] Remove Donate banner (template change across the site
- [x] Navigation menu
- [x] Main title “Why are websites being blocked in the UK?“ -> Rewrite: “Is your website being blocked?”
- [x] The main blurb: reduce the width so there’s a bit more whitespace to its right
- [x] Move the ‘Check a website’ form
- [

[2019-03-24 00:06] JimKillock commented on #387
Note that the sketch didn't show two changes:

* Move the ‘Has this site been blocked in error?’ box to the *left*
* Move the general blurb to the *right*; make this visually related to the “Is your website being blocked?” form so that it can explain the form.

[2019-03-24 14:17] dantheta commented on #387
Layout and text changes are done (hopefully I haven't missed anything).  Just working on the last bit of the updated frontpage stats.

[2019-03-24 14:43] dantheta commented on #387
5/6 frontpage stats are live.  One last query - which figure do we want to use for the suggested "“XXXX suspected mistakes identified by search” frontpage stat?

[2019-03-24 14:46] dantheta opened #388 "Stats page reworking"
- [x] Remove the ‘Blocked sites by Domain’ chart.
- [x] Remove the chart ‘Blocked sites by ISP Category’
- [x] Add a section at the top of the page called, “Not only adult content is being blocked’
  - [x] Add automated refresh of snapshot data
- [x] Add a section called, “Blocked users are reporting incorrectly blocked sites from a wide range of categories”.
  - [x] Link counts to results
- [x] A

[2019-03-24 14:48] JimKillock commented on #387
Thanks Dan

* Remove "Is your website being blocked?" - make "Get your site unblocked" the same as current size
* Put the right hand text and the form into the same grey block so they are clearly related.
* Move everything up a bit
* Reduce the gap between logo and the menu by about 50%
* Make the menu text a little big bigger
* In the block to the right, is this editable by us or do we need to gi

[2019-03-24 14:58] dantheta commented on #387
Title and gray block is done, spacing and menu adjusted.
The homepage text is resource 9778 in modx.

[2019-03-24 15:00] JimKillock commented on #387
Re: "One last query - which figure do we want to use for the suggested "“XXXX suspected mistakes identified by search” frontpage stat?"

This can be a total of unique sites found in the saved lists.

[2019-03-24 15:06] dantheta commented on #387
stats updated.

[2019-03-24 18:55] dantheta commented on #388
The new stats page is up now.  I've added a couple of notes to the google doc with minor suggestions/queries, and I've left placeholders in the task list above for the still pending tasks.

The frontend doesn't have a generic "list URLs that match this filter" page at the moment.  We could add a tabular one as a new page under /stats/, or we could use the same layout and target page as site search

[2019-03-24 18:56] dantheta commented on #388
I'll leave this issue labelled "in progress", since there are still some items to complete, but it's also ready for review.

[2019-03-24 19:02] JimKillock commented on #387
could you replace
* "Why are websites being blocked in the UK?"

with the text

* "Get your site unblocked by UK ISPs"

[2019-03-24 19:07] dantheta commented on #387
I already had - the frontend cache needed clearing.  That's done now.

Logged-in admin users always see uncached content, so that it's getting the freshest text from modx.

[2019-03-25 07:51] dantheta commented on #372
The frontend site is covered by #386. Closing this one.

[2019-03-25 07:51] #372 closed, assigned to dantheta, edjw, alexhaydock

[2019-03-25 21:37] dantheta opened #389 "Further frontpage reworking"
- [x] Adjust vertical spacing
- [x] Move court ordered blocks
- [x] Remove support from footer menu
- [x] Homepage title change
- [x] vertical spacing: fronttpage gray box
-   [x] Add form heading
-   [x] Hide field label
- [x] Add blurb title
- [x]  "See another blocked site" link
- [x] vertical spacing: supported by/spread the word
- [x] Increase the size of facebook and twitter.

Other pages
-

[2019-03-25 22:30] dantheta commented on #389
I've reverted the vertical spacing changes from yesterday.  This should improve the vertical spacing for items (1) and (4) in the edits doc.

[2019-03-26 09:32] JimKillock commented on #388
Thanks Dan, in general this looks very good to me. The links would be very helpful, if they can be prioritised, as people will be curious as to what the ISPs have failed to unblock, or where they made other mistakes.

I will raise a separate ticket about displaying information about reports to ISPs and responses from ISPs; we had intended to get to a point where we are publishing ISP reponse email

[2019-03-26 21:28] dantheta opened #390 "Further stats & other pages reworking"
- [x] stats page TOC
- [x] back to top links
- [x] About these stats ModX page
  - [x] ModX editable table descriptions
- [x] Reduce numeric table widths

## Other pages

- [x] Vertical spacing on in-page menu

[2019-03-26 22:01] dantheta commented on #387
Closed, following on in #389

[2019-03-26 22:01] #387 closed, assigned to dantheta

[2019-03-26 23:06] dantheta commented on #389
Menu blocks moved and site title made smaller.

[2019-03-27 13:58] JimKillock commented on #240
Flagging this as a good next step

[2019-03-27 22:43] dantheta commented on #390
Resource 10272 added to modx, this contains the CMS-editable text regions.

These template variables will be inserted onto the page:

* banner_text: main text, below the h1 title
* TextAreaOne - TextAreaFive: placed above each of the tables.

[2019-03-28 01:25] dantheta commented on #386
The table at the top of recent reports has been updated to draw upon the same data as

https://www.blocked.org.uk/stats#notonlyadult

Note that the recent reports table uses data from 2018 onwards (when we started recording replies) and is not broken down by year.  I've added the responses count (number of reports that have received a response), but this field is used for the average calculation.

[2019-03-28 01:34] JimKillock commented on #386
I'm not sure this works, if we are talking about the table here:

https://www.blocked.org.uk/reported-sites

For an end user, it makes it look like many ISPs are doing nothing with our reports, which isn't really true. Some aren't sending us emails but are unblocking sites, and so on. This is why our tables in the stats pages are more detailed, and try to explain in more detail what is taking plac

[2019-03-28 01:44] JimKillock commented on #386
As it stands I think it needs to be removed while the launch takes place. The data is sufficiently prominent and confusing enough to cause questions and uncertainty from the media and / or inaccurate reporting. We can come back to it if we want but for now I'd like it removed.

[2019-03-28 01:54] dantheta commented on #386
Yep, that works.

[2019-03-28 01:54] #386 closed, assigned to dantheta

[2019-03-28 11:55] JimKillock commented on #388
For me, the *link counts* in this ticket are the most urgent item prior to launch, other than any missing explanatory text fields.

[2019-03-29 01:40] dantheta commented on #388
Link counts in progress.  We should be able to extend /reported-sites to accept a category and status filter.

[2019-04-01 23:41] dantheta commented on #388
Phew, that took some doing.

The cached figures on the stats page have already started to drift from the live results a bit.  We should probably look at regenerating those weekly.

[2019-04-02 08:58] JimKillock commented on #388
Thanks Dan!

There seems a few inconsistencies between  the list figures and things that are blocked or not; this may be caching but it may also be categorisation issues. We'll want to hunt down what's happening there. (note to @edjw and @alexhaydock )

[2019-04-02 14:28] JimKillock commented on #388
Checking this: https://www.blocked.org.uk/reported-sites/BT?policy=false&state=sent&year=2018

which is the link for BT's still blocked mistakes last year, it seems to be listing sites that are blocked and unblocked, and many more than the 18 sites claimed on our stats page.

https://www.blocked.org.uk/stats

So I think a bug?

[2019-04-03 01:25] dantheta commented on #388
Yep, a bit of a weird one though.

I've improved the row selection; paging still has some problems.  If you prefer, I can remove the links from the stats page ISP responses table until I've got it working better against the test database.

[2019-04-10 22:01] dantheta commented on #390
Other comments for the stats page are on #388.  More can be added there if needed.

[2019-04-10 22:01] #390 closed, assigned to dantheta

[2019-04-11 23:00] dantheta commented on #388
The paging issues are fixed now.

[2019-04-11 23:00] #388 closed, assigned to dantheta, edjw

[2019-04-13 23:50] dantheta commented on #385
New page is linked from https://www.blocked.org.uk/reported-sites in a page-menu item.

[2019-05-01 22:53] dantheta commented on #384
I've made the filters display a bit more concise (but hopefully still quite clear).  The "Incorrectly blocked ..." title changes depending on whether any filters are active.

I've linked the various filtered pages from the main stats page.  Some of the numeric cells are links that re-use the reported-sites page with relevant filters applied.  It's not the most obvious navigation, but it's a step f

[2019-05-01 22:56] dantheta commented on #384
Worth also noting that the frozen stats on the stats page are diverging further from the live data.  We could give it another couple of weeks and switch the frontend stats page to use the live figures.

[2019-05-14 00:32] dantheta commented on #288
This is fixed in openrightsgroup/cmp-issues/issues/251

[2019-05-14 00:32] #288 closed, assigned to nobody

[2019-05-14 00:51] dantheta commented on #373
O2 and TalkTalk are answering now.

[2019-05-14 00:51] #373 closed, assigned to dantheta, edjw, alexhaydock

[2019-05-14 01:08] dantheta commented on #364
Updated to present the categories as labels with hover links.

[2019-05-14 01:08] #364 closed, assigned to nobody

[2019-05-21 16:13] gwire opened #391 "Holding page/url for Age Verification blocks"
Please add a page, along the lines of the Section 98 legal blocks, for sites blocked under the Digital Economy Act for non-compliance with the BBFC age-verification system.

Even if we don't have a mechanism to detect these when they occur, it would be good for people to see that a) it's something we intend to list b) we are unaware of any blocks so far.

[2019-05-27 14:18] dantheta commented on #380
I've added an `?expand=1` parameter to the site results page, eg:

https://www.blocked.org.uk/site/http://a8c.com?expand=1

[2019-05-27 14:19] #389 closed, assigned to dantheta

[2019-05-27 14:19] #385 closed, assigned to dantheta, edjw

[2019-05-27 14:20] #384 closed, assigned to dantheta

[2019-05-27 14:22] #226 closed, assigned to dantheta

[2019-05-27 14:31] dantheta commented on #179
The stats block has been moved off to the statistics page now.

[2019-05-27 14:31] #179 closed, assigned to dantheta

[2019-05-27 14:31] #146 closed, assigned to dantheta

[2019-05-27 14:34] dantheta commented on #370
Re-check site button is present.  Forgot to close this one a while back!

[2019-05-27 14:34] #370 closed, assigned to dantheta, edjw

[2019-05-27 15:13] dantheta commented on #391
Added a link in the footer, and a ModX resource (10307) to contain the body text.

When we have a detection routine (or if court ordered blocks are added in the site database) we can list them here.

The DEA s.23 power is already setup in the backend.  We'd need to separate these out from the existing copyright block pages, but that's pretty straightforward to do.

[2019-05-27 15:13] #391 closed, assigned to nobody

[2019-05-28 09:50] alexhaydock commented on #391
@gwire It's worth noting that although we might not be able to detect this programmatically, the BBFC intend to publish info about any enforcement action taken publicly on their site. [See 2.16](https://www.ageverificationregulator.com/assets/bbfc-guidance-on-age-verification-arrangements-october-2018-v2.pdf).

It's one thing I stressed very hard that they should do in the consultation response we

[2019-05-28 13:05] gwire commented on #391
My suspicion is, as with how Section 97A orders have been publicised, the actions will be published but the actual technical information (e.g. the domain names being blocked) will not be.

[2019-05-28 13:34] alexhaydock commented on #391
You may be right there. The consultation responses do indicate that they intend to use their website to _"report  the  results  of investigations and enforcement action"_ and that _"in  the  interests  of  transparency,  the BBFC will report all enforcement action on our website"_. So it looks like they do seem to be relatively interested in transparency, but it's a fair point that nothing they've

[2019-05-29 09:29] JimKillock opened #392 "Exclude BT Strict only from front page / unblock recommendations"
It's not worth recommending user reviews for BT Strict blocks. Some of the sites are blocked by BT Strict only, so can we exclude these from the recommendations?

[2019-05-29 09:30] JimKillock commented on #392
(see also #383 )

[2019-05-29 11:38] edjw commented on #380
@dantheta – Can we make it a bit easier to discover this parameter? Maybe by overwriting the URL in the address bar when the 'Show all results' link is pressed?

[2019-05-29 12:29] edjw opened #393 "Toggle 'View past blocks for this site' and 'Show all results' on block pages"
On a page like [this one](https://www.blocked.org.uk/site/http://a8c.com), we currently have a link "View past blocks for this site" that reveals all past blocks and a "Show all results" link that reveals all results.

We should allow users to toggle that content rather than a one-way reveal.

When the content is revealed, the links should change to "Hide past results" and "Hide all results". Then

[2019-05-29 15:37] dantheta commented on #380
No problem - I wasn't sure if this feature was intended for general use or just for Alex/admin.

I've added the expand parameter to the permalink when the full results are expanded.

[2019-05-29 15:58] edjw commented on #380
Brilliant, thanks Dan. Closing

[2019-05-29 15:58] #380 closed, assigned to dantheta

[2019-05-29 15:59] dantheta commented on #380
Cheers!  The changes have just gone live, along with #393

[2019-05-29 15:59] dantheta commented on #393
That's live now.

[2019-05-29 19:34] edjw commented on #380
Is the addition of the expand parameter definitely working? Doesn't seem to be working for me on Firefox or Chrome

[2019-05-29 21:04] #323 closed, assigned to dantheta

[2019-05-29 21:26] dantheta commented on #380
It's working for me in Firefox & Chromium (Linux)

[2019-05-30 10:30] edjw commented on #380
GIF showing what's happening for me

![CleanShot 2019-05-30 at 11 29 06](https://user-images.githubusercontent.com/6547979/58627077-3f657b80-82ce-11e9-8c9e-bebdfdca98ec.gif)

[2019-05-30 22:22] dantheta commented on #380
The URL updating is there now (for the "show all results" toggle).

[2019-05-31 07:57] dantheta commented on #380
Ah, got it. I was changing the permalink URL at the bottom in response to the expand event. I'll fix it for the address bar URL as well. Sorry!

On 30 May 2019 11:30:10 BST, edjw <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-06-02 15:46] dantheta commented on #313
All loaded.

[2019-06-03 16:17] edjw opened #394 "Use a local Top10VPN image"
The Supported by section uses a remote image for Top10VPN at https://www.top10vpn.com/static/images/logo.svg

Can we use a local image for that instead?

[2019-06-03 16:26] edjw opened #395 "Tooltip to explain 'DNSError' status"
On a result page for a non-existent domain like [this here](https://www.blocked.org.uk/site/http://not-a-real-domain-aerg4rhafsd.com), we use "DNS Error" for the status.

Can we put a tooltip in to explain what that means?

If there's just a name for the status that is easier to understand and means we don't need a tooltip then that would be better.

[2019-06-03 16:30] edjw opened #396 "Re-write HTTPS warning message in block pages"
This is the banner message we present when someone requests an https URL. See a page like this one for an example: https://www.blocked.org.uk/site/https://theguardian.com

We should re-write it to make more sense to non-technical users.

[2019-06-03 16:48] edjw opened #397 "Update Matomo script"
The way Matomo recommends using its script has changed since we first used it.

[code]

[2019-06-03 20:21] dantheta commented on #394
Added local images, updated image URLs in footer chunk (522).

The AA & BigV images are still being served from ModX.  Lee added some routing magic to Varnish to serve these, I think.

[2019-06-03 20:21] #394 closed, assigned to dantheta

[2019-06-03 20:28] dantheta commented on #397
This has been updated to use the same site id (14).  The gif is loaded successfully.

[2019-06-03 20:28] #397 closed, assigned to nobody

[2019-06-03 20:29] dantheta commented on #395
We could use "Site not found"?

The dnserror status represents a fairly broad category of DNS resolution errors.

[2019-06-03 22:40] dantheta commented on #392
These have been excluded now.  It makes the page load a bit slower, but we can add some caching tomorrow.

The number of frontpage random sites has gone from 138,000 to just under 10,000.

[2019-06-04 00:26] dantheta commented on #392
Added the caching for blocked networks on items.  This speeds it up a lot.

Next up is the exclusions for category and keyword search follow-on suggestions.

[2019-06-04 08:53] edjw commented on #395
Is a DNS Error status only ever shown when a site couldn't be found? Or are there other times when we could get DNS Error?

[2019-06-04 08:57] JimKillock commented on #395
This example should fail at a 'whois' level?

The DNS "error" is a correct result: the domain does not exist. Ideally, we would say that, to distinguish non existent domains from DNS and hosting set up issues.

[2019-06-04 09:04] edjw commented on #396
@dantheta @JimKillock – How about something like this instead of the above?

[2019-06-04 09:09] edjw commented on #395
So we can say "Non-existent domain" instead of "DNS Error" in those cases then?

[2019-06-04 09:09] edjw commented on #395
@dantheta – Why does TalkTalk and BT Strict have a status of "OK" for that non-existent domain?

[2019-06-04 09:44] leedxw commented on #395
I believe that some ISPs hijack NXDOMAIN DNS responses and return the IP address of an ISP-branded search portal.  (It should probably be a separate bug report to recognise these.)

[2019-06-04 10:06] edjw opened #398 "Recognise when ISPs hijack NXDOMAIN response"
[Apparently](https://github.com/openrightsgroup/blocked-org-uk/issues/395#issuecomment-498601055), some ISPs hijack NXDOMAIN DNS responses and return the IP address of an ISP-branded search portal.

This results in us incorrectly showing an "OK" status for that domain.

We should recognise when this happens and show an appropriate status

[2019-06-04 12:57] edjw opened #399 "Rearrange Thank You page after reporting an incorrect block"
After you report an incorrect block to an ISP, this is the screen you get.

<img width="1195" alt="CleanShot 2019-06-04 at 13 54 37@2x" src="https://user-images.githubusercontent.com/6547979/58880664-59d59580-86d0-11e9-911e-24d3ab743828.png">

The title of the page we're asking people to report next shouldn't be directly below the "Thank you!" title. It should be directly below the "Unblock anothe

[2019-06-04 17:02] edjw commented on #369
@gwire – Is this what you were thinking of?

@dantheta – Can we add this text to the bottom of the emails?

[2019-06-04 21:41] dantheta commented on #392
I think it could be worth coming back to the bt-strict exclusion on keyword & category search after #383 is done.  The "next URLs" and frontpage URL suggestions are provided by the same bit of code, and have the same pre-requisites (updating the search index).

[2019-06-04 21:56] dantheta commented on #395
Yep, that's right.  Virgin and talktalk have used a service like barefruit in the past.  BT have their own, hosted on ttp://www.webaddresshelp.bt.com.

We turned it off on the A&A lines.

[2019-06-04 21:58] dantheta commented on #395
We sometimes get SERVFAIL or REFUSED responses from an authoritative nameserver, in the absence of a cached record nearer to the probes.  They don't happen too often and tend to be temporary misconfigurations  or unavailable servers.

[2019-06-04 23:32] dantheta commented on #396
Looks good to me.

[2019-06-04 23:42] dantheta commented on #396
I've added this here: https://www.blocked.org.uk/site/https://theguardian.com.

Should we add a FAQ entry with a more detailed explanation of why this happens (and that HTTPS highlights the ISP filter's interference)

[2019-06-05 10:13] edjw commented on #396
Thanks Dan. There seems to be an empty <div class="row> above that message. Can you remove it from the template or make it conditional if something sometimes goes there?

Yes to the FAQ entry. Preferably with an anchor link to the entry. Then we can put some small text in a slightly less black colour at the bottom of the warning message that says "More info" which is linked to the FAQ entry

[2019-06-05 10:50] edjw commented on #357
@dantheta – Can this be closed?

[2019-06-05 11:02] edjw commented on #354
So we should have a bar chart showing each of the test datasets we run and the values for:

1. number of domains in the dataset
2. number of domains tested so far
3. number of domains that were unavailable
4. number of domains blocked

Maybe 2, 3 and 4 could be inside the bar for 1

[2019-06-05 21:52] dantheta commented on #396
I've removed the row, added a FAQ entry to modx resource 9783, and added a "more info" link pointing to it.  The text of the FAQ entry will definitely need revising.

[2019-06-05 21:55] dantheta commented on #357
It's currently returning the IP of the final server after following redirects - I think gwire wanted the IP address for the domain that was requested.  It's only a small change, but I'm afraid I hadn't got to it yet.

[2019-06-05 23:05] dantheta commented on #369
I've updated the template here: let me know if it looks OK, or feel free to try out different wording.

[2019-06-06 08:58] edjw commented on #396
Thanks Dan, the FAQ entry isn't showing up for me yet

[2019-06-06 09:03] edjw commented on #369
Yep that looks great. Thanks Dan

[2019-06-06 09:03] #369 closed, assigned to edjw

[2019-06-06 22:57] dantheta commented on #369
Cool!  That's live now.

[2019-06-07 11:22] edjw commented on #393
(Re-opening this rather than starting a new issue)

@dantheta – the link should say "Hide past results" if the past results are shown when the page is first loaded

<img width="1237" alt="CleanShot 2019-06-07 at 12 21 04@2x" src="https://user-images.githubusercontent.com/6547979/59100732-dbbafe00-891e-11e9-8b25-31a1a2040364.png">

[2019-06-07 14:02] edjw opened #400 "Make copy of headings clearer on Site blocking report pages"
I showed Blocked to my wife earlier and this is something that confused her.

When you check a URL you get a Site blocking report. It was not clear to my wife which ISPs were blocking the URL and which weren't.

We're only relying on the background colour to communicate some of this. We should use better copy on the headings to help users with this.

I think changes like these would really help.

[2019-06-07 14:07] edjw opened #401 "Hide Active blocks and Past blocks sections when they're empty"
On site blocking report pages, we should only show the Active blocks and Past blocks sections when there are items to go there.

This is made easier by implementing #400 first.

Eg, https://www.blocked.org.uk/site/http://blocked.org.uk

[2019-06-07 14:08] #396 closed, assigned to edjw

[2019-06-07 14:13] dantheta commented on #400
Yep, we can definitely change those.

I'm sure we used to have the text description of the status on each row
for a degree of accessibility (I'm colorblind).

All results really meant "all other results"

Can you elaborate on this one?  As far as I can remember there aren't
any scripted color changes, and the CSS background colors are applied
statically.

[2019-06-07 14:16] JimKillock commented on #392
i'm not sure this issue is resolved. For instance;

https://www.blocked.org.uk/unblock2?url=http://www.london-chauffeurs.co.uk

was recommended to me off the front page

[2019-06-07 14:24] dantheta commented on #392
Yep, I forgot to configure the feature when it was deployed.  That's
done now.  Suggestions based on category or keyword search still need to
have bt-strict excluded; that requires an update to the search index
which will be done soon.

[2019-06-07 15:00] edjw commented on #400
Those rows change colour on the attached gif. I'm not sure that it's accurate

[2019-06-07 18:28] #313 closed, assigned to nobody

[2019-06-08 22:57] dantheta commented on #393
I've improved this a bit - the logic in the show/hide parts of this page may need rethinking.

We were previously hiding the non-blocked results when there were blocked results present, in order to emphasize those.  If there are no blocked results, then we were showing everything.  The past blocks got caught halfway between the two.

I've fixed it in the short term by only displaying the show/hide

[2019-06-11 15:52] edjw commented on #351
How would we verify our results beyond having multiple probes?

[2019-06-11 15:54] edjw commented on #345
Where would the text changes be? In the information we send to potential probe owners?

[2019-06-11 15:55] edjw commented on #335
@gwire – Are you saying this should just be for court-ordered blocks?

[2019-06-11 15:56] edjw commented on #326
@dantheta @gwire – Is this still a problem?

[2019-06-11 15:57] edjw commented on #324
@gwire @dantheta – Can this be closed?

[2019-06-11 15:59] edjw commented on #319
@dantheta – Can this be closed?

[2019-06-11 16:00] #393 closed, assigned to dantheta

[2019-06-11 16:02] edjw commented on #315
@dantheta – Let's do this.

Something like this at the top of the page…
"If your website has been affected by incorrect blocking, email us with your story at blocked@openrightsgroup.org"

[2019-06-11 16:04] edjw commented on #310
@dantheta – I suppose we could make a list in the backend of sites under legal blocks that are available on an ISP's filtered connection but not on the unfiltered one?

[2019-06-11 16:05] edjw commented on #309
@dantheta – Can we change the filter level text "No Adult" to "Adult filters off"? Or is there a better label we could use?

[2019-06-11 16:06] edjw commented on #308
@dantheta – Let's do this at some point soon when you do the template refactoring

[2019-06-11 16:08] edjw commented on #294
@dantheta – What's the status of this?

[2019-06-11 16:12] gwire commented on #335
No, just that it would be more useful for court-ordered blocks.

[2019-06-11 16:18] edjw commented on #285
What's the status of this?

[2019-06-11 16:20] edjw commented on #282
Is this still something we want one day?

[2019-06-11 16:21] #281 closed, assigned to dantheta

[2019-06-11 16:21] #280 closed, assigned to nobody

[2019-06-11 16:24] edjw commented on #276
Is this still something we want to do?

[2019-06-11 16:25] edjw commented on #272
Did anything happen when you emailed Lumen, Jim?

[2019-06-11 16:25] edjw commented on #268
What's the status of this?

[2019-06-11 16:26] edjw commented on #261
We've _kind of_ got this with the new stats from the T1V report haven't we? Close this?

[2019-06-11 16:26] edjw commented on #259
This seems to be done now. Can we close it? @JimKillock @dantheta

[2019-06-11 16:28] edjw commented on #257
What's the status of this? Seems like something we'd have sorted out by now?

[2019-06-11 16:28] edjw commented on #254
@dantheta – What's the status of this? Can we remove comments when we flag a report as abuse?

[2019-06-11 16:29] edjw commented on #251
@dantheta – What's the status of this?

[2019-06-11 17:20] JimKillock commented on #276
ideally but they are probably few in number these days

[2019-06-11 18:49] edjw commented on #240
I think what we want is probably here but it's 218GB
https://commoncrawl.s3.amazonaws.com/projects/url-index/url-index.1356128792

More information here: https://commoncrawl.org/2013/01/common-crawl-url-index/

[2019-06-11 21:27] dantheta commented on #324
I think so - we've got a status code for any site that matches one of the patterns, though there are relatively few examples.

I've added the site status to the filters for the search index and keyword/category search.

[2019-06-11 21:27] #324 closed, assigned to nobody

[2019-06-11 21:30] dantheta commented on #319
We haven't added any automation for spotting parking sites yet. It could be one to keep on the ideas pile.  I'm thinking that the probe patterns config could include a set of patterns that can be matched for any network (a global pattern list) that might be handy for spotting parked/for-sale domains, large hosting provider holding pages, domain seizure/pipcu etc.

[2019-06-11 21:31] dantheta commented on #315
Sure - are you thinking of a banner/callout  at the top of the frontpage (or all pages?)

[2019-06-11 22:13] dantheta commented on #310
Yep - I think this one would suit a periodic report (output to a file or a saved list on the site) rather than a realtime notification.

[2019-06-11 22:16] dantheta commented on #294
The test scheduler has most of its functionality, but doesn't auto-repeat yet.  The schema is there, it just needs the admin panel to be written in.  The admin panel and the database are more closely coupled than they used to be (previously they communicated only through a private API, but it makes writing the thing quite a lot more time-consuming and error-prone), so having the admin panel read t

[2019-06-11 22:19] dantheta commented on #276
We could cover these in the global patterns list (mentioned in #319)

[2019-06-11 22:20] dantheta commented on #268
We happened upon the GBC block page during development of an offline pattern matcher.  This could go into a global patterns list (#319)

[2019-06-11 22:24] dantheta commented on #257
Yep - SimonStJG contributed server and client code to do these.  There was one part which was blocked on one of my tickets.  We don't have central visibility of the filter availability, because it's still handled in the probe (with periodic self-tests there).

[2019-06-11 22:33] dantheta commented on #254
Yep, that's done now.  Comments are hidden on the frontend automatically.

[2019-06-11 22:33] #254 closed, assigned to dantheta

[2019-06-11 22:41] dantheta commented on #240
I did import a load of commoncrawl data (just at domain level, not individual page).

It was imported through the generic CSV importer having pre-processed some of the index files.  It's repeatable (as a manual exercise), but not automated or scripted.

The CC data I was using was at https://commoncrawl.s3.amazonaws.com/crawl-data/CC-MAIN-2018-43/cc-index.paths.gz

[2019-06-12 07:05] JimKillock commented on #240
Is the dataset available for testing? I couldn't see it as available for test scheduling.

[2019-06-12 08:48] edjw commented on #257
What should we do now on this in that case?

[2019-06-12 08:51] edjw commented on #310
I think a saved list on the site would be best.

[2019-06-12 08:52] edjw commented on #315
Just on the "Your Stories" page

[2019-06-12 12:53] edjw commented on #148
Is this still a problem?

[2019-06-12 12:54] edjw commented on #154
This is done now isn't it @dantheta ?

[2019-07-10 21:49] dantheta commented on #357
This will go live when the new version of the probe is rolled out.

[2019-07-15 22:43] dantheta commented on #285
I've made quite a lot of improvements to the court judgment edit screen.  There's even a bit of flashy JS for adding new court order rows.

[2019-07-20 18:27] dantheta commented on #248
Oops, wrong ticket.  Sorry!

[2019-07-25 21:13] dantheta commented on #400
I've done an initial update of the titles.  In live results mode, the current and past updates are as suggested.  I've changed "all results" to "all other results" for now, but it's easy to change.

In non-live results mode, the current and past blocks use the format "_x_ past blocks" and "_x_ active blocks".  We can change these to match the longer form titles if you like.

[2019-07-28 21:49] dantheta commented on #400
This has been rolled out now.  In live check mode, all three headings are always available, and the "All results" heading is now titled "All other results".  In non-live mode, the active and past blocks are only visible if there is an entry to be shown.  If there are current or past blocks, the "all results" heading is "all other results", otherwise it defaults to "all results".

[2019-07-28 21:49] #400 closed, assigned to dantheta, edjw

[2019-07-28 21:49] dantheta commented on #401
All deployed.

[2019-07-28 21:49] #401 closed, assigned to dantheta

[2019-08-18 13:39] dantheta opened #402 "Improve "Site is blacklisted" UI"
When a site cannot be submitted for unblocking because of the domain blacklist feature, we currently display a "SITE IS BLACKLISTED" disabled button.  This should be improved by displaying a piece of text similar to "Site site cannot be submitted for unblocking.  Why?", with an FAQ link for "why?"

This would provide more context for the user.

[2019-08-25 20:24] #395 closed, assigned to dantheta

[2019-09-03 09:02] edjw commented on #395
I'm not seeing the tooltip on the example page I gave originally
https://www.blocked.org.uk/site/http://not-a-real-domain-aerg4rhafsd.com

[2020-08-24 10:44] ghost opened #403 "Site returning a 500 error"
Hi,

I'm not sure if this is the right place as the site being down probably doesn't have anything to do with front end code but I wanted to check if anyone else is getting "500 Internal Server Error" when accessing https://www.blocked.org.uk?

Regards,
Jim

[2020-08-24 11:49] JimKillock commented on #403
Thanks Jim, down for me too. @dantheta will take a look!

[2020-08-24 12:19] dantheta commented on #403
That's fixed now - a database update filled the server with Wal.

[2020-08-24 12:19] #403 closed, assigned to nobody

[2020-08-25 11:17] gwire opened #404 "Make it clearer what "timeout" means as a status"
It's not clear to users what "timeout" means as a status when listed on a result page.  My understanding is that an attempt to retrieve the page was unsuccessful, but that the failure _could_ have been as a result of an error, rather than a proactive blocking attempt by the ISP.

There should be some expansion of this status, perhaps as a mouse-over info box?

[2020-08-25 20:33] dantheta commented on #404
Added "no response received" description with popover.  The timeout status is intended to convey a temporary error of a technical nature rather than imply the presence of network interception or tampering.

[2020-08-26 11:24] gwire commented on #404
Is there any way to embed some kind of history, eg the previous check result, to give some hint as to how temporary the state might be?

[2020-08-26 22:57] dantheta commented on #404
we could show the timestamp of the last non-error result, though I'm conscious that the table is getting a bit crowded.  We've generally got the last few months test results available online (older test results get archived from the DB), so we could click through to a page showing the test history for that url/network.

[2021-01-14 19:32] edjw opened #405 "Input on Check if site is blocked page is too wide"
![image](https://user-images.githubusercontent.com/6547979/104639355-3aba2a80-569f-11eb-8726-d707fefd6bae.jpeg)

[2021-01-14 20:50] dantheta commented on #405
Hi Ed!

Can you tell me which browser and OS version you're using (and device model, if you're happy sharing that)?  I haven't been able to reproduce this on Chrome or Firefox on Android 9, but I'll check a couple of other devices.

[2021-01-14 20:52] dantheta commented on #405
Actually, scratch that - I've found it on the /check page.  Thanks for letting us know!

[2021-01-14 22:46] dantheta commented on #405
Thanks, that's fixed now!

[2021-01-14 22:46] #405 closed, assigned to nobody

[2021-02-10 01:28] #357 closed, assigned to dantheta

[2021-02-10 01:30] #198 closed, assigned to dantheta

[2021-02-10 01:30] #392 closed, assigned to dantheta, edjw

[2021-02-10 01:31] #261 closed, assigned to dantheta

[2021-02-10 01:33] dantheta commented on #191
This was added a while ago.

[2021-02-10 01:33] #191 closed, assigned to dantheta

[2021-02-16 17:56] JimKillock opened #406 "Error with Sky "reported sites" list"
The Sky 'reported sites' list:

https://www.blocked.org.uk/reported-sites/Sky

ends in October 2020. We've definitely had more reports since then.

[2021-02-16 17:58] JimKillock commented on #406
So Sky reports seem to be "on hold" - do you know why this is?

[2021-02-16 23:07] dantheta commented on #406
The A&A sky test line was down from late october.  A new FTTC line has been fitted at A&A, we're bringing it on line soon.

[2021-03-02 19:59] JimKillock opened #407 "BBFC report page tidyups"
On https://www.blocked.org.uk/bbfc-reports

1. **Reported at**: should refer to the date referred to BBFC
2. **Status**: should list what mobile ISPs are **blocking** it
3. **Status**:  it should say "unblocked" if all MNOs are unblocking it (it does not matter if other ISPs block it)
4. **Status**: should say "Block to be lifted" / "Block stays" / "Awaiting decision"
5. On the left, by the URL, i

[2021-05-23 17:26] JimKillock opened #408 "stats give error"
Stats page currently returns "error". https://www.blocked.org.uk/stats

[2021-05-23 19:32] dantheta commented on #408
fixed - the change adding "unknown" to the policy match field broke the report.

[2021-05-23 19:32] #408 closed, assigned to dantheta

[2021-09-23 21:38] gwire opened #409 "Use json-seq for line-based json responses"
A request for `https://www.blocked.org.uk/stream-results?url=http%3A//www.example.com` will currently include the content declaration

[code]

but the result is actually multiple lines containing json objects.

Please use JSON text sequences, per [RFC 7464](https://datatracker.ietf.org/doc/html/rfc7464) with the content declaration

[code]

Also, see [this note](https://github.com/openrightsgroup/

[2021-09-24 07:47] dantheta commented on #409
Good catch.  The stream-results response isn't fully compliant with the RFC (no ascii record separator, only newlines).  I've set it to application/json for now, and when I have more time to test I'll update the parser and mimetype to json-seq.

[2021-10-10 18:44] dantheta opened #410 "Fix up netblocked.eu"
- [x] Update to use new CMS
  - [ ] Confirm page locations (same CMS instance to allow translation
  - [ ] Update list of supported languages
  - [ ] Implement language selection in frontend (language code/flag icon links, cookie)
- [ ] Continue using separate results database?
  - (Presumably we want selected UK ISPs to appear on the EU site, but generally don't display the EU ISPs on the UK site

[2021-10-22 09:55] gwire opened #411 "Make it clearer on the results page if adult-content filters have blocked the site"
While the difference between state/court ordered blocks and (often optional) "adult content" filters might be inferred from a user journey from the front page, site owners seeing a shared results page are no longer given the context of blocks being as a result of optional filters.

As a result we've seen unnecessary requests for "unblocking" for clearly adult, yet legal, sites.

Please make it cle

[2021-10-24 17:39] dantheta commented on #410
Note: Need to add site selection to some of the content selection, so that the system knows that /about on the uk site is a separate piece of content from /about on netblocked.eu, rather than a translation of the same content.

[2021-10-25 14:19] gwire opened #412 "Display the site's network provider on the results page"
(This is possibly a request for both the backend data collection, and the frontend.)

The results page for a site should show the hosting network, ie the name associated with the AS number that advertises the IP address/addresses for the site.

In a lot of cases sites will have different addresses based on the location of the probes, eg where their endpoints are handled by CDNs with multiple local

[2021-12-10 19:36] JimKillock opened #413 "Broken privacy policy link"
Link needs to go to https://www.openrightsgroup.org/privacy-policy/

[2021-12-11 00:02] dantheta commented on #413
Fixed on UK site

[2021-12-11 00:04] dantheta commented on #413
and on EU site.

[2021-12-11 00:04] #413 closed, assigned to dantheta

[2022-03-24 21:33] dantheta opened #414 "URL submission tools"
* Allow addition of sites for monitoring
* live/stored results viewing

// enable site-results module from frontend.

[2022-03-24 23:54] dantheta opened #415 "Re-integrate old EU results in frontend"

[2022-08-16 10:16] gwire commented on #222
I can't see an API, but it would be good if we could scrape the categories out of the OpenDNS page

[code]

and link to https://domain.opendns.com/example.com for all results, not just blocked sites.

[2022-09-03 11:10] gwire opened #416 "Link to Cloudflare categories feedback page"
Please link to `https://radar.cloudflare.com/categorization-feedback/example.com` in the output for Cloudflare "For Families" results.

This page will show the current categories for the domain, and allow users to submit feedback.